Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

feat: 添加 Qwen Code 预设助手支持 (#1041)
  justfile
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
  src/renderer/pages/settings/AssistantManagement.tsx
  src/types/acpTypes.ts
Due: typecheck, eslint, prettier

fix(conversation): add text-ellipsis and min-w-0 to sidebar title preview (#1015)
  src/renderer/pages/conversation/ChatHistory.tsx
Due: typecheck, eslint, prettier

fix(markdown): prevent content overflow in Shadow DOM markdown renderer (#1024)
  src/renderer/components/Markdown.tsx
Due: typecheck, eslint, prettier

fix(preview): reset preview panel when switching conversations (#1026)
  src/renderer/pages/conversation/index.tsx
  src/renderer/pages/conversation/preview/context/PreviewContext.tsx
Due: typecheck, eslint, prettier

fix(sendbox): 发送消息时立即清空输入框避免竞态覆盖 (#1031)
  src/renderer/components/sendbox.tsx
Due: typecheck, eslint, prettier

fix(chat): add min-h-0 to fix flex column overflow in chat layouts (#1023)
  src/renderer/components/FlexFullContainer.tsx
  src/renderer/pages/conversation/acp/AcpChat.tsx
  src/renderer/pages/conversation/codex/CodexChat.tsx
  src/renderer/pages/conversation/gemini/GeminiChat.tsx
  src/renderer/pages/conversation/nanobot/NanobotChat.tsx
  src/renderer/pages/conversation/openclaw/OpenClawChat.tsx
Due: typecheck, eslint, prettier

fix(sendbox): AI 处理期间不再禁用输入框 (#1030)
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

fix(ui): prevent content overflow on narrow screens (#992) (#1017)
  src/renderer/components/SettingsModal/contents/WebuiModalContent.tsx
  src/renderer/components/SettingsModal/index.tsx
  src/renderer/layout.tsx
  src/renderer/pages/conversation/ChatLayout.tsx
Due: typecheck, eslint, prettier

fix(channel): fix model restore timing for Google Auth provider (#1022)
  src/renderer/components/SettingsModal/contents/ChannelModalContent.tsx
  src/renderer/components/SettingsModal/contents/DingTalkConfigForm.tsx
  src/renderer/components/SettingsModal/contents/LarkConfigForm.tsx
  src/renderer/components/SettingsModal/contents/TelegramConfigForm.tsx
Due: typecheck, eslint, prettier

fix(channels): pass entered token when enabling Telegram plugin (#930) (#1019)
  src/renderer/components/SettingsModal/contents/ChannelModalContent.tsx
  src/renderer/components/SettingsModal/contents/TelegramConfigForm.tsx
Due: typecheck, eslint, prettier

fix(settings): replace manual save/cancel with auto-save for Gemini and System settings (#1021)
  src/renderer/components/SettingsModal/contents/GeminiModalContent.tsx
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/components/SettingsModal/index.tsx
Due: typecheck, eslint, prettier

fix(sendbox): preserve user input during AI processing (#1062)
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

Feat/mobile workspace panel polish (#1049)
  src/renderer/components/AcpModelSelector.tsx
  src/renderer/components/AgentModeSelector.tsx
  src/renderer/components/SettingsModal/contents/ChannelModalContent.tsx
  src/renderer/components/SettingsModal/contents/GeminiModalContent.tsx
  src/renderer/components/Titlebar/index.tsx
  src/renderer/components/sendbox.tsx
  src/renderer/layout.tsx
  src/renderer/pages/conversation/ChatLayout.tsx
  src/renderer/pages/conversation/gemini/GeminiModelSelector.tsx
  src/renderer/pages/conversation/grouped-history/ConversationRow.tsx
  src/renderer/pages/conversation/grouped-history/hooks/useConversationActions.ts
  src/renderer/pages/conversation/workspace/index.tsx
  src/renderer/pages/cron/components/CronJobDrawer.tsx
  src/renderer/pages/cron/components/CronJobManager.tsx
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/guid/components/GuidInputCard.tsx
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
  src/renderer/sider.tsx
  src/renderer/styles/themes/base.css
  src/renderer/utils/siderTooltip.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.8.19 (#1063)
  package.json
Due: prettier

fix(lint): format ternary expression to single line (#1064)
  src/renderer/pages/guid/components/GuidInputCard.tsx
Due: typecheck, eslint, prettier

fix(types): resolve TypeScript errors from aioncli-core API changes
  src/agent/gemini/cli/config.ts
  src/agent/gemini/cli/settings.ts
  src/agent/gemini/cli/tools/web-fetch.ts
  src/agent/gemini/cli/tools/web-search.ts
  src/agent/gemini/cli/types.ts
  src/agent/gemini/cli/useReactToolScheduler.ts
  src/agent/gemini/utils.ts
  src/process/bridge/modelBridge.ts
  src/process/services/mcpServices/McpOAuthService.ts
Due: typecheck, eslint, prettier

fix(settings): prevent false confirm dialog on system settings page load
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
Due: typecheck, eslint, prettier

docs: use clickable image as README video cover
  readme.md
Due: prettier

docs: point README video link to compressed mp4
  readme.md
Due: prettier

docs: sync localized READMEs to inline gif demo
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
Due: prettier

docs: localize inline gif demo across translated READMEs
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
Due: prettier

fix(webui): proxy to Vite dev server instead of serving stale webpack assets
  electron.vite.config.ts
  src/webserver/routes/staticRoutes.ts
Due: typecheck, eslint, prettier

fix(models): handle DashScope Coding Plan 404 on /v1/models endpoint
  src/process/bridge/modelBridge.ts
Due: typecheck, eslint, prettier

fix(webui): simplify 502 error response to plain text
  src/webserver/routes/staticRoutes.ts
Due: typecheck, eslint, prettier

chore: remove debug console.log statements
  src/process/bridge/modelBridge.ts
  src/webserver/routes/staticRoutes.ts
Due: typecheck, eslint, prettier

update wechat_group QR code
  readme.md
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
  resources/wx-group4.png
Due: prettier

fix(acp): use enhanced PATH for CLI detection (#1059)
  src/agent/acp/AcpDetector.ts
Due: typecheck, eslint, prettier

feat: add aionui:// deep link protocol for provider pre-fill
  src/common/ipcBridge.ts
  src/index.ts
  src/renderer/components/SettingsModal/contents/ModelModalContent.tsx
  src/renderer/hooks/useDeepLink.ts
  src/renderer/layout.tsx
  src/renderer/pages/settings/components/AddPlatformModal.tsx
Due: typecheck, eslint, prettier

feat: register aionui:// protocol in electron-builder config
  electron-builder.yml
Due: none

fix(models): update Gemini model references to 3.1 and sync bun.lock with aioncli-core 0.30.0 (#1091)
  bun.lock
  src/agent/gemini/cli/config.ts
  src/common/ipcBridge.ts
  src/renderer/hooks/useGeminiGoogleAuthModels.ts
  src/renderer/hooks/useModeModeList.ts
  src/renderer/i18n/locales/en-US.json
  src/renderer/i18n/locales/ja-JP.json
  src/renderer/i18n/locales/ko-KR.json
  src/renderer/i18n/locales/tr-TR.json
  src/renderer/i18n/locales/zh-CN.json
  src/renderer/i18n/locales/zh-TW.json
  src/renderer/utils/modelContextLimits.ts
Due: typecheck, eslint, prettier

refactor: remove hardcoded NEW_API_RECOMMENDED_MODELS fallback
  src/renderer/config/modelPlatforms.ts
  src/renderer/pages/settings/components/AddModelModal.tsx
  src/renderer/pages/settings/components/AddPlatformModal.tsx
Due: typecheck, eslint, prettier

docs: add headless server deployment guide
  SERVER_DEPLOY_GUIDE.md
Due: prettier

fix: prevent FOUC by deferring window show until CSS is loaded
  src/index.ts
  src/renderer/hooks/useColorScheme.ts
  src/renderer/hooks/useTheme.ts
  src/renderer/index.html
Due: typecheck, eslint, prettier

refactor: improve deep link reliability and code quality
  src/index.ts
  src/renderer/components/SettingsModal/contents/ModelModalContent.tsx
  src/renderer/hooks/useDeepLink.ts
  src/renderer/pages/settings/components/AddPlatformModal.tsx
Due: typecheck, eslint, prettier

fix(sendbox): preserve user input during AI reply in Codex/Nanobot/OpenClaw (#1076)
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

Fix: windows arch detection windows 修复安装包能在错误的指令集上安装 (#1055)
  package.json
  resources/windows-installer-arm64.nsh
  resources/windows-installer-x64.nsh
  scripts/build-with-builder.js
Due: prettier

fix(webui): handle expired token on initial WebSocket connection (#1094)
  src/adapter/browser.ts
  src/webserver/auth/service/AuthService.ts
  src/webserver/websocket/WebSocketManager.ts
Due: typecheck, eslint, prettier

fix(telegram): harden polling shutdown and add lifecycle tests (#1099)
  src/channels/plugins/telegram/TelegramPlugin.ts
  tests/unit/channels/telegramPlugin.test.ts
Due: typecheck, eslint, prettier
