Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

feat(agent): support non-YOLO session modes at ACP start (#1894)
  src/process/agent/acp/index.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/agentMode.json
  src/renderer/services/i18n/locales/ja-JP/agentMode.json
  src/renderer/services/i18n/locales/ko-KR/agentMode.json
  src/renderer/services/i18n/locales/tr-TR/agentMode.json
  src/renderer/services/i18n/locales/zh-CN/agentMode.json
  src/renderer/services/i18n/locales/zh-TW/agentMode.json
  src/renderer/utils/model/agentModes.ts
  tests/unit/acpApplySessionMode.test.ts
  tests/unit/agentModes.test.ts
Due: typecheck, eslint, prettier

fix(ci): allow edited events to trigger full CI run
  .github/workflows/pr-checks.yml
Due: none

refactor(agents): hide custom agent UI entry points
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  tests/unit/LocalAgents.dom.test.tsx
Due: typecheck, eslint, prettier

fix(guid): add dismiss button to skills market banner (#1848)
  src/renderer/pages/guid/components/SkillsMarketBanner.tsx
Due: typecheck, eslint, prettier

fix(channels): await persisted session hydration before enabling plugins (#1888)
  src/process/channels/core/ChannelManager.ts
  src/process/channels/core/SessionManager.ts
Due: typecheck, eslint, prettier

fix(snapshot): handle permission-denied files in workspace snapshot init
  src/process/services/WorkspaceSnapshotService.ts
  tests/unit/WorkspaceSnapshotService.test.ts
Due: typecheck, eslint, prettier

fix(bridge): guard against undefined params in sendMessage provider
  src/process/bridge/conversationBridge.ts
  tests/unit/process/bridge/conversationBridge.sendMessage.test.ts
Due: typecheck, eslint, prettier

chore(pr-automation): expand CRITICAL_PATH_PATTERN to cover config and docs files
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(guid): show upload progress on new chat (#1905)
  src/renderer/pages/guid/components/GuidInputCard.tsx
Due: typecheck, eslint, prettier

fix(settings): preserve preset agents when saving custom agents (#1908)
  src/process/bridge/services/SpeechToTextService.ts
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  tests/unit/LocalAgents.dom.test.tsx
Due: typecheck, eslint, prettier

fix(database): add error handling to getRemoteAgents and getRemoteAgent
  src/process/services/database/index.ts
  tests/unit/remoteAgentBridge.test.ts
Due: typecheck, eslint, prettier

chore(agents): add i18n validation to agent context and pre-PR workflow (#1923)
  .claude/skills/i18n/SKILL.md
  .claude/skills/oss-pr/SKILL.md
  AGENTS.md
Due: prettier

fix(snapshot): guard against non-existent workspace in WorkspaceSnapshotService.init (#1906)
  src/process/services/WorkspaceSnapshotService.ts
  tests/unit/WorkspaceSnapshotService.test.ts
Due: typecheck, eslint, prettier

chore(pr-automation): verify auto-merge success before labeling bot:done
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(docs): remove trailing whitespace in OfficeCLI readmes
  docs/readme/readme_ch.md
  readme.md
Due: prettier

chore(pr-automation): add 5s retry for transient GitHub mergeStateStatus UNKNOWN
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore(pr-automation): increase auto-merge retry delay to 10s
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore(pr-automation): fix missed sleep 5 in comment to sleep 10
  .claude/skills/pr-automation/SKILL.md
Due: prettier

.md format
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(channels): send raw QR ticket instead of page URL in WeChat WebUI login SSE (#1910)
  src/process/webserver/routes/weixinLoginRoutes.ts
  tests/unit/weixinLoginRoutes.test.ts
Due: typecheck, eslint, prettier

fix(gemini): guard against EACCES in workspace realpath during init (ELECTRON-BM) (#1912)
  src/process/agent/gemini/index.ts
  tests/unit/geminiWorkspaceEacces.test.ts
Due: typecheck, eslint, prettier

refactor(acp): consolidate AGENT_SKILLS_DIRS into ACP_BACKENDS_ALL (#1913)
  src/common/types/acpTypes.ts
  src/process/task/AcpAgentManager.ts
  src/process/utils/initAgent.ts
  tests/unit/acpTypesSkillsDirs.test.ts
Due: typecheck, eslint, prettier

fix(conversation): guard invalid create type
  src/process/bridge/conversationBridge.ts
  tests/unit/conversationBridge.test.ts
Due: typecheck, eslint, prettier

fix(snapshot): add maxBuffer to git add/commit exec calls (#1914)
  src/process/services/WorkspaceSnapshotService.ts
  tests/unit/WorkspaceSnapshotService.test.ts
Due: typecheck, eslint, prettier

fix(docs): restore wechat_group_5.png reference to wx-5.png in readme
  readme.md
Due: prettier

fix(conversation): validate type field before creating conversation (#1921)
  src/process/bridge/conversationBridge.ts
  tests/unit/ConversationServiceImpl.test.ts
Due: typecheck, eslint, prettier

fix(database): guard against undefined params in databaseBridge providers (#1924)
  src/process/bridge/databaseBridge.ts
  tests/unit/databaseBridge.test.ts
Due: typecheck, eslint, prettier

fix(preview): prevent CodeMirror RangeError on tab switch and rapid JSON edits (ELECTRON-3Y)
  src/renderer/pages/conversation/Preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/settings/AgentSettings/InlineAgentEditor.tsx
  tests/unit/previewEditorKeyRemount.test.ts
Due: typecheck, eslint, prettier

feat(team): add team mode types
  src/process/team/types.ts
Due: typecheck, eslint, prettier

fix(mobile): add SafeArea support and update app icon (#1926)
  mobile/app.config.ts
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/app/connect.tsx
  mobile/app/file-preview.tsx
  mobile/assets/images/icon.png
Due: typecheck, eslint, prettier

fix(paste): deduplicate filenames when pasting multiple images simultaneously
  src/renderer/services/PasteService.ts
  tests/unit/PasteService.dom.test.ts
Due: typecheck, eslint, prettier

fix(conversation): sync renamed titles with detail view (#1927)
  src/renderer/pages/conversation/GroupedHistory/hooks/useConversationActions.ts
  src/renderer/pages/conversation/components/ChatHistory.tsx
  src/renderer/pages/conversation/hooks/useTitleRename.ts
  src/renderer/pages/conversation/utils/conversationCache.ts
  tests/unit/chatLayoutHooks.dom.test.ts
  tests/unit/conversationCache.test.ts
  tests/unit/useConversationActions.dom.test.ts
Due: typecheck, eslint, prettier

feat(team): add migration v19 for teams table
  src/process/services/database/migrations.ts
  tests/unit/team-migration-v19.test.ts
Due: typecheck, eslint, prettier

fix(codex): reject start promise immediately on process exit during startup (#1929)
  src/process/agent/codex/connection/CodexConnection.ts
  tests/unit/codexConnectionStartup.test.ts
Due: typecheck, eslint, prettier

feat(team): add ITeamRepository and SqliteTeamRepository
  src/process/team/repository/ITeamRepository.ts
  src/process/team/repository/SqliteTeamRepository.ts
  tests/unit/team-SqliteTeamRepository.test.ts
Due: typecheck, eslint, prettier

feat(team): add assign task parser and dispatch system prompt builder
  src/process/team/assignTaskParser.ts
  tests/unit/team-assignTaskParser.test.ts
Due: typecheck, eslint, prettier

feat(team): add TeamSession orchestrator
  src/common/adapter/ipcBridge.ts
  src/process/team/TeamSession.ts
  tests/unit/team-TeamSession.test.ts
Due: typecheck, eslint, prettier

feat(team): add TeamSessionService lifecycle manager and public exports index
  src/process/team/TeamSessionService.ts
  src/process/team/index.ts
Due: typecheck, eslint, prettier

fix(gemini): restore context after stopping a reply (#1932)
  src/process/agent/gemini/index.ts
  src/process/task/GeminiAgentManager.ts
  tests/unit/geminiAbortRecovery.test.ts
Due: typecheck, eslint, prettier
