Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(settings): restore builtin assistant editing for Main Agent and Save button
  src/renderer/pages/settings/AssistantManagement.tsx
Due: typecheck, eslint, prettier

fix(openclaw): isolate session per conversation and persist session key
  src/agent/openclaw/index.ts
  src/process/task/OpenClawAgentManager.ts
Due: typecheck, eslint, prettier

feat(star-office): add uninstall script and strengthen uninstall workflow
  skills/star-office-helper/SKILL.md
  skills/star-office-helper/scripts/star_office_uninstall.sh
Due: prettier

style(ChatConversation): add missing trailing comma for prettier compliance
  src/renderer/pages/conversation/ChatConversation.tsx
Due: typecheck, eslint, prettier

chore: bump version to 1.8.25
  package.json
Due: prettier

fix(conversation): narrow acp session extra type to fix TS errors
  src/renderer/pages/conversation/ChatConversation.tsx
  src/renderer/pages/conversation/ConversationTabs.tsx
Due: typecheck, eslint, prettier

chore: add type-check step to AGENTS.md and bump-version command
  .claude/commands/bump-version.md
  AGENTS.md
Due: prettier

fix(messages): skip duplicate user message when msg_id already exists
  src/renderer/messages/hooks.ts
Due: typecheck, eslint, prettier

Codex/pr workspace last directory (#1265)
  .taichuy/docs/AionUi_Technical_Documentation.md
  src/renderer/pages/conversation/workspace/index.tsx
  src/renderer/utils/workspace.ts
  tests/unit/workspaceUtils.test.ts
Due: typecheck, eslint, prettier

fix(gemini): restore conversation history injection on session rebuild
  src/process/task/GeminiAgentManager.ts
Due: typecheck, eslint, prettier

style: apply prettier formatting fixes to drag-and-drop files
  src/renderer/pages/conversation/grouped-history/DragOverlayContent.tsx
  src/renderer/pages/conversation/grouped-history/hooks/useDragAndDrop.ts
  src/renderer/pages/conversation/grouped-history/index.tsx
  src/renderer/pages/conversation/grouped-history/utils/groupingHelpers.ts
Due: typecheck, eslint, prettier

feat(conversation): add agent dropdown for workspace sessions
  src/renderer/components/AgentSetupCard.tsx
  src/renderer/components/useIndexedItemRefs.ts
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
  src/renderer/pages/conversation/ConversationTabs.tsx
  src/renderer/pages/conversation/hooks/useConversationAgents.ts
  src/renderer/pages/conversation/utils/createConversationParams.ts
  src/renderer/pages/conversation/utils/newConversationName.ts
  src/renderer/shared/agents/availableAgents.ts
  src/renderer/shared/agents/presetAssistantResources.ts
  src/renderer/shared/agents/types.ts
  tests/unit/availableAgents.test.ts
  tests/unit/createConversationParams.test.ts
  tests/unit/newConversationName.test.ts
  tests/unit/presetAssistantResources.test.ts
  tests/unit/slashCommandMenu.dom.test.tsx
  tests/unit/useIndexedItemRefs.dom.test.tsx
Due: typecheck, eslint, prettier

fix(#1156): prevent workspace collapse arrow from re-expanding
  src/renderer/pages/conversation/grouped-history/hooks/useConversations.ts
Due: typecheck, eslint, prettier

fix(conversation): remove stale workspace entries from expanded state
  src/renderer/pages/conversation/grouped-history/hooks/useConversations.ts
  tests/unit/useConversations.dom.test.ts
Due: typecheck, eslint, prettier

fix(webui): align favicon delivery with renderer assets
  docs/plans/2026-03-12-webui-favicon-alignment.md
  src/renderer/index.html
  src/webserver/routes/staticRoutes.ts
  tests/integration/webui-favicon-build.test.ts
  tests/unit/webuiStaticRoutes.test.ts
Due: typecheck, eslint, prettier

chore: remove unused i18next-browser-languagedetector dependency
  bun.lock
  package.json
Due: prettier

fix: remove console.log statements polluting MCP stdio protocol
  src/common/ApiKeyManager.ts
  src/common/adapters/OpenAI2GeminiConverter.ts
Due: typecheck, eslint, prettier

Show connected MCP agent when image generation opens
  src/agent/acp/AcpConnection.ts
  src/agent/acp/mcpSessionConfig.ts
  src/process/services/mcpServices/agents/ClaudeMcpAgent.ts
  src/process/services/mcpServices/agents/CodexMcpAgent.ts
  src/renderer/components/SettingsModal/contents/ToolsModalContent.tsx
  tests/unit/codexMcpAgent.test.ts
Due: typecheck, eslint, prettier

fix(windows): resolve cygpath not found and improve cross-platform compat (#1157)
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
  src/common/ipcBridge.ts
  src/index.ts
  src/process/initStorage.ts
  src/process/services/mcpServices/McpProtocol.ts
  src/process/utils/safeExec.ts
  src/process/utils/shellEnv.ts
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/ja-JP/settings.json
  src/renderer/i18n/locales/ko-KR/settings.json
  src/renderer/i18n/locales/tr-TR/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/i18n/locales/zh-TW/settings.json
  src/utils/configureConsoleLog.ts
  tests/unit/getNpxCacheDir.test.ts
  tests/unit/safeExec.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

fix(acp): iflow/qwen connection failure due to Electron env pollution
  src/agent/acp/AcpConnection.ts
  src/agent/acp/acpConnectors.ts
  src/agent/acp/utils.ts
  src/types/acpTypes.ts
  tests/unit/presetAssistantResources.test.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.8.26
  .eslintrc.json
  package.json
Due: prettier

fix(SlashCommandMenu): add loadingText prop and ARIA accessibility attributes
  src/renderer/components/SlashCommandMenu.tsx
Due: typecheck, eslint, prettier

style: format slashCommandMenu test with prettier
  tests/unit/slashCommandMenu.dom.test.tsx
Due: typecheck, eslint, prettier

fix(e2e): wait for URL hash to settle before proceeding in navigateTo
  tests/e2e/helpers/navigation.ts
Due: typecheck, eslint, prettier

ci: remove E2E tests from PR workflow
  .github/workflows/pr-checks.yml
  .github/workflows/pr-e2e-artifacts.yml
Due: none

feat(ui): 新增会话 Minimap 并增强主题缩略图预览 (#1154)
  docs/pr/1154/minimap-demo.png
  docs/pr/1154/theme-preview-demo.png
  src/renderer/components/CssThemeSettings/index.tsx
  src/renderer/messages/MessageList.tsx
  src/renderer/pages/conversation/ChatLayout.tsx
  src/renderer/pages/conversation/components/ConversationTitleMinimap.tsx
  src/renderer/utils/chatMinimapEvents.ts
  src/renderer/utils/themeCssSync.ts
  tests/e2e/helpers/navigation.ts
  tests/regression/layout_theme_route_revert.test.ts
Due: typecheck, eslint, prettier

chore: update bun.lock for dnd-kit dependencies
  bun.lock
Due: none

fix(auto-update): correct update channel names and clean up release artifacts
  .github/workflows/_build-reusable.yml
  .github/workflows/build-and-release.yml
  electron-builder.yml
  scripts/build-with-builder.js
  scripts/create-mock-release-artifacts.sh
  scripts/prepare-release-assets.sh
  src/process/services/autoUpdaterService.ts
  src/renderer/components/Markdown.tsx
  src/renderer/components/UpdateModal/index.tsx
  tests/unit/autoUpdaterService.test.ts
Due: typecheck, eslint, prettier

feat: update version to 1.8.27
  package.json
Due: prettier

fix(update): fallback to manual download when auto-update check fails
  src/renderer/components/UpdateModal/index.tsx
Due: typecheck, eslint, prettier

chore: improve bump-version workflow steps
  .claude/commands/bump-version.md
Due: prettier

feat: update version to 1.8.28
  package.json
Due: prettier

fix(openclaw): add chat.history fallback for Gateway-suppressed responses
  src/agent/openclaw/OpenClawGatewayConnection.ts
  src/agent/openclaw/index.ts
  src/agent/openclaw/types.ts
Due: typecheck, eslint, prettier

fix(notification): fix notification timeout cancel logic and centralize notification handling
  src/common/ipcBridge.ts
  src/common/storage.ts
  src/process/bridge/notificationBridge.ts
  src/process/bridge/systemSettingsBridge.ts
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/hooks/notificationState.ts
  src/renderer/hooks/useNotificationClick.ts
  src/renderer/hooks/useTaskCompletionNotification.ts
  src/renderer/layout.tsx
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

fix(preview): avoid UI freeze for large text preview
  src/renderer/pages/conversation/preview/components/viewers/CodeViewer.tsx
Due: typecheck, eslint, prettier

fix(openclaw): reset agentAssistantFallbackText in sendMessage and improve readability
  src/agent/openclaw/index.ts
Due: typecheck, eslint, prettier

chore(CssThemeSettings): merge duplicate themeCssSync imports into one line
  src/renderer/components/CssThemeSettings/index.tsx
Due: typecheck, eslint, prettier

fix(preview): reduce tab switch lag with large file tabs
  src/renderer/pages/conversation/preview/context/PreviewContext.tsx
Due: typecheck, eslint, prettier

fix(preview): trim rendered chunk for large text tabs
  src/renderer/pages/conversation/preview/components/viewers/CodeViewer.tsx
Due: typecheck, eslint, prettier

feat(notification): add scheduled task notification toggle
  src/common/ipcBridge.ts
  src/common/storage.ts
  src/process/bridge/systemSettingsBridge.ts
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/hooks/useTaskCompletionNotification.ts
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/ja-JP/settings.json
  src/renderer/i18n/locales/ko-KR/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/i18n/locales/zh-TW/settings.json
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
