Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

ci(coverage): upload lcov report to codecov
  .github/workflows/pr-checks.yml
Due: none

ci(coverage): skip artifact upload when no lcov
  .github/workflows/pr-checks.yml
Due: none

chore(ci): optimize pr checks and add bun packaging coverage
  .github/workflows/pr-checks.yml
  scripts/check-i18n.js
  tests/unit/prepareBundledBun.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(decouple): complete conversationBridge thin-router refactor
  src/process/bridge/conversationBridge.ts
Due: typecheck, eslint, prettier

fix(decouple): fix immutability violations and tighten BridgeDependencies types
  src/process/bridge/conversationBridge.ts
  src/process/bridge/index.ts
  src/process/initBridge.ts
  src/process/services/ConversationServiceImpl.ts
Due: typecheck, eslint, prettier

feat(decouple): add IpcAgentEventEmitter
  src/process/task/IpcAgentEventEmitter.ts
  tests/unit/IpcAgentEventEmitter.test.ts
Due: typecheck, eslint, prettier

feat(decouple): inject IAgentEventEmitter into BaseAgentManager
  src/process/task/AcpAgentManager.ts
  src/process/task/BaseAgentManager.ts
  src/process/task/CodexAgentManager.ts
  src/process/task/GeminiAgentManager.ts
  src/process/task/IpcAgentEventEmitter.ts
  src/process/task/NanoBotAgentManager.ts
  src/process/task/OpenClawAgentManager.ts
  tests/unit/BaseAgentManagerDecouple.test.ts
  tests/unit/IpcAgentEventEmitter.test.ts
Due: typecheck, eslint, prettier

chore: apply prettier formatting
  src/process/database/SqliteConversationRepository.ts
  tests/unit/ConversationServiceImpl.test.ts
  tests/unit/SqliteConversationRepository.test.ts
Due: typecheck, eslint, prettier

feat(decouple): add AgentFactory
  src/process/task/AgentFactory.ts
  tests/unit/AgentFactory.test.ts
Due: typecheck, eslint, prettier

feat(decouple): add WorkerTaskManager
  src/process/task/WorkerTaskManager.ts
  tests/unit/WorkerTaskManager.test.ts
Due: typecheck, eslint, prettier

fix(conversation): show loading spinner on icon and unread dot on right side
  src/renderer/pages/conversation/grouped-history/ConversationRow.tsx
Due: typecheck, eslint, prettier

chore(ci): disable project-automation workflow
  .github/workflows/project-automation.yml
Due: none

feat(decouple): wire AgentFactory + WorkerTaskManager, remove WorkerManage
  src/channels/actions/SystemActions.ts
  src/channels/agent/ChannelMessageService.ts
  src/index.ts
  src/process/WorkerManage.ts
  src/process/bridge/acpConversationBridge.ts
  src/process/bridge/applicationBridge.ts
  src/process/bridge/extensionsBridge.ts
  src/process/bridge/geminiConversationBridge.ts
  src/process/bridge/taskBridge.ts
  src/process/initBridge.ts
  src/process/services/conversationService.ts
  src/process/services/cron/CronService.ts
  src/process/task/WorkerTaskManager.ts
  src/process/task/workerTaskManagerSingleton.ts
  src/process/tray.ts
  tests/unit/tray.test.ts
Due: typecheck, eslint, prettier

feat(css-theme): add retroma obsidian book preset and cover
  resources/css-book-by-coconut-queen-cover.png
  src/renderer/components/CssThemeSettings/presets.ts
  src/renderer/components/CssThemeSettings/themeCovers.ts
Due: typecheck, eslint, prettier

refactor(decouple): remove type guards from conversationBridge
  src/process/bridge/conversationBridge.ts
Due: typecheck, eslint, prettier

refactor(decouple): annotate ForkTask.postMessage with WorkerProtocol types
  src/worker/fork/ForkTask.ts
Due: typecheck, eslint, prettier

fix(css-theme): prevent cover image auto-background for retroma book
  src/renderer/components/CssThemeSettings/presets.ts
Due: typecheck, eslint, prettier

chore: apply prettier formatting
  src/process/task/AgentFactory.ts
  tests/unit/AgentFactory.test.ts
  tests/unit/BaseAgentManagerDecouple.test.ts
  tests/unit/WorkerTaskManager.test.ts
Due: typecheck, eslint, prettier

chore(coverage): add decouple layer source files to coverage config
  vitest.config.ts
Due: typecheck, eslint, prettier

test(webserver): add cookie parsing tests for special characters
  tests/unit/cookieParsing.test.ts
Due: typecheck, eslint, prettier

test(decouple): expand BaseAgentManager and WorkerTaskManager coverage to 100%
  tests/unit/BaseAgentManagerDecouple.test.ts
  tests/unit/WorkerTaskManager.test.ts
Due: typecheck, eslint, prettier

test(decouple): replace codex with maintained agent types in test cases
  tests/unit/BaseAgentManagerDecouple.test.ts
  tests/unit/WorkerTaskManager.test.ts
Due: typecheck, eslint, prettier

fix(webui): pass custom CLI args correctly for electron-vite 5
  package.json
Due: prettier

fix(ci): downgrade actions/checkout from v6 to v4
  .github/workflows/pr-checks.yml
Due: none

feat(css-theme): keep retroma y2k skin and cover only
  resources/y2k-ledger-by-coconut-queen-cover.png
  src/renderer/components/CssThemeSettings/presets.ts
  src/renderer/components/CssThemeSettings/themeCovers.ts
Due: typecheck, eslint, prettier

docs: add Phase 2 main-process decoupling design spec and architecture diagram
  docs/superpowers/diagrams/phase2-decouple-design.html
  docs/superpowers/specs/2026-03-18-main-process-decouple-phase2-design.md
Due: prettier

fix(ci): remove secrets context from if: conditions in coverage job
  .github/workflows/pr-checks.yml
Due: none

refactor(css-theme): replace inline base64 covers with Vite static imports
  src/renderer/assets/obsidian-book-cover.png
  src/renderer/assets/y2k-ledger-cover.png
  src/renderer/components/CssThemeSettings/themeCovers.ts
Due: typecheck, eslint, prettier

docs(agents): add test quality rules to testing section
  AGENTS.md
Due: prettier

docs(agents): streamline AGENTS.md for AI readability
  AGENTS.md
Due: prettier

refactor(css-theme): extract preset CSS into separate files
  src/renderer/components/CssThemeSettings/presets.ts
  src/renderer/components/CssThemeSettings/presets/default.css
  src/renderer/components/CssThemeSettings/presets/hello-kitty.css
  src/renderer/components/CssThemeSettings/presets/misaka-mikoto.css
  src/renderer/components/CssThemeSettings/presets/retro-windows.css
  src/renderer/components/CssThemeSettings/presets/retroma-obsidian-book.css
  src/renderer/components/CssThemeSettings/presets/retroma-y2k.css
  src/renderer/types.d.ts
Due: typecheck, eslint, prettier

fix(css-theme): use correct y2k cover from resources/css-retroma-y2k-css-only.png
  resources/css-retroma-y2k-css-only.png
  resources/y2k-ledger-by-coconut-queen-cover.png
Due: none

fix(css-theme): prevent y2k cover from being injected as background
  src/renderer/components/CssThemeSettings/presets/retroma-y2k.css
Due: prettier

test(css-theme): add unit tests for preset themes and backgroundUtils
  src/renderer/components/SettingsModal/contents/DisplayModalContent.tsx
  src/renderer/pages/settings/CssThemeSettings/CssThemeModal.tsx
  src/renderer/pages/settings/CssThemeSettings/backgroundUtils.ts
  src/renderer/pages/settings/CssThemeSettings/index.tsx
  src/renderer/pages/settings/CssThemeSettings/presets.ts
  src/renderer/pages/settings/CssThemeSettings/presets/default.css
  src/renderer/pages/settings/CssThemeSettings/presets/hello-kitty.css
  src/renderer/pages/settings/CssThemeSettings/presets/misaka-mikoto.css
  src/renderer/pages/settings/CssThemeSettings/presets/retro-windows.css
  src/renderer/pages/settings/CssThemeSettings/presets/retroma-obsidian-book.css
  src/renderer/pages/settings/CssThemeSettings/presets/retroma-y2k.css
  src/renderer/pages/settings/CssThemeSettings/themeCovers.ts
  src/renderer/utils/themeCssSync.ts
  tests/unit/cssThemePresets.test.ts
Due: typecheck, eslint, prettier

fix: add @types/cookie and fix prettier formatting
  bun.lock
  package.json
  src/renderer/components/CssThemeSettings/themeCovers.ts
Due: typecheck, eslint, prettier

chore: remove duplicate theme covers from resources/
  resources/css-book-by-coconut-queen-cover.png
  resources/css-retroma-y2k-css-only.png
Due: none

docs(specs): update phase2 design doc to reflect PR #1402 merged state
  docs/superpowers/specs/2026-03-18-main-process-decouple-phase2-design.md
Due: prettier

style: fix prettier formatting for CSS presets and test file
  src/renderer/pages/settings/CssThemeSettings/presets/hello-kitty.css
  src/renderer/pages/settings/CssThemeSettings/presets/misaka-mikoto.css
  src/renderer/pages/settings/CssThemeSettings/presets/retro-windows.css
  src/renderer/pages/settings/CssThemeSettings/presets/retroma-y2k.css
  tests/unit/cssThemePresets.test.ts
Due: typecheck, eslint, prettier

ci(pr-checks): add workflow_dispatch trigger for manual PR re-runs
  .github/actions/checkout-pr/action.yml
  .github/workflows/pr-checks.yml
Due: none

fix(pr-checks): checkout repo before invoking local composite action
  .github/actions/checkout-pr/action.yml
  .github/workflows/pr-checks.yml
Due: none

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
