Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix(webui): address code review issues in username change feature
  src/process/bridge/webuiBridge.ts
  src/renderer/components/SettingsModal/contents/WebuiModalContent.tsx
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/ja-JP/settings.json
  src/renderer/i18n/locales/ko-KR/settings.json
  src/renderer/i18n/locales/tr-TR/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/i18n/locales/zh-TW/settings.json
  src/types/electron.ts
  tests/unit/webuiChangeUsername.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(lint): remove redundant require and mark floating promise with void
  src/index.ts
Due: typecheck, eslint, prettier

fix(conversation): close minimap after ime outside click
  src/renderer/pages/conversation/components/ConversationTitleMinimap.tsx
  tests/unit/conversationTitleMinimap.dom.test.tsx
Due: typecheck, eslint, prettier

i18n: add missing translation keys for ja-JP, zh-TW, ko-KR, tr-TR
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ja-JP/cron.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/ko-KR/cron.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/tr-TR/cron.json
  src/renderer/i18n/locales/zh-TW/conversation.json
  src/renderer/i18n/locales/zh-TW/cron.json
Due: typecheck, eslint, prettier

docs: add i18n validation command to AGENTS.md
  AGENTS.md
Due: prettier

fix(notification): redesign notification settings as global master switch
  src/process/bridge/notificationBridge.ts
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/hooks/notificationState.ts
  src/renderer/hooks/useTaskCompletionNotification.ts
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/ja-JP/settings.json
  src/renderer/i18n/locales/ko-KR/settings.json
  src/renderer/i18n/locales/tr-TR/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/i18n/locales/zh-TW/settings.json
Due: typecheck, eslint, prettier

fix(minimap): replace hardcoded Chinese character with i18n key
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
  src/renderer/pages/conversation/components/ConversationTitleMinimap.tsx
  vitest.config.ts
Due: typecheck, eslint, prettier

refactor(notification): move cron notification to main process CronService
  src/process/bridge/notificationBridge.ts
  src/process/i18n/index.ts
  src/process/services/cron/CronBusyGuard.ts
  src/process/services/cron/CronService.ts
  src/renderer/components/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/hooks/notificationState.ts
  src/renderer/hooks/useTaskCompletionNotification.ts
  src/renderer/i18n/locales/en-US/cron.json
  src/renderer/i18n/locales/ja-JP/cron.json
  src/renderer/i18n/locales/ko-KR/cron.json
  src/renderer/i18n/locales/zh-CN/cron.json
  src/renderer/i18n/locales/zh-TW/cron.json
  src/renderer/layout.tsx
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

fix(ci): adapt pr-checks and release scripts to new build artifact rules
  .github/workflows/_build-reusable.yml
  .github/workflows/build-manual.yml
  .github/workflows/pr-checks.yml
  scripts/create-mock-release-artifacts.sh
  scripts/verify-release-assets.sh
Due: none

docs(pr-review): add solution rationality review dimension
  .claude/commands/pr-review.md
Due: prettier

refactor(styles): extract business CSS from base.css into component directories
  src/renderer/components/Diff2Html.css
  src/renderer/components/Diff2Html.tsx
  src/renderer/components/SettingsModal/contents/ModelModalContent.tsx
  src/renderer/components/SettingsModal/model-provider.css
  src/renderer/components/Titlebar/index.tsx
  src/renderer/components/Titlebar/titlebar.css
  src/renderer/components/sendbox.css
  src/renderer/components/sendbox.tsx
  src/renderer/layout.css
  src/renderer/layout.tsx
  src/renderer/messages/MessageList.tsx
  src/renderer/messages/messages.css
  src/renderer/pages/conversation/ChatLayout.tsx
  src/renderer/pages/conversation/chat-layout.css
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/conversation/preview/preview.css
  src/renderer/pages/conversation/workspace/index.tsx
  src/renderer/pages/conversation/workspace/workspace.css
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
  src/renderer/pages/settings/settings.css
  src/renderer/styles/themes/base.css
Due: typecheck, eslint, prettier

fix(styles): move preview.css to PreviewPanel component directory
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/conversation/preview/components/PreviewPanel/preview.css
Due: typecheck, eslint, prettier

fix(test,i18n): update minimap test for new component API and fix tr-TR missing keys
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/tr-TR/cron.json
  tests/unit/conversationTitleMinimap.dom.test.tsx
Due: typecheck, eslint, prettier

fix(security): resolve CodeQL path traversal alerts in ext-asset route
  src/webserver/routes/apiRoutes.ts
Due: typecheck, eslint, prettier

chore: set printWidth to 120 and sync eslint max-len
  .eslintrc.json
  .prettierrc.json
  scripts/generate-i18n-types.js
Due: prettier

chore: apply upstream functional changes to reformatted files
  src/renderer/pages/conversation/ChatLayout.tsx
  src/renderer/pages/conversation/components/ConversationTitleMinimap.tsx
  src/renderer/pages/conversation/workspace/index.tsx
  src/renderer/pages/guid/components/AssistantSelectionArea.tsx
  src/renderer/pages/guid/components/GuidActionRow.tsx
Due: typecheck, eslint, prettier

fix(i18n): add missing tr-TR notification keys for cron module
  src/renderer/i18n/locales/tr-TR/cron.json
Due: prettier

chore: refresh bun.lock with latest compatible dependency versions
  bun.lock
Due: none

chore: remove unnecessary bun install step from bump-version command
  .claude/commands/bump-version.md
Due: prettier

feat(guid): add AionUi Skills Market toggle on guide page
  skills/_builtin/aionui-skills/SKILL.md
  src/common/ipcBridge.ts
  src/common/storage.ts
  src/process/bridge/fsBridge.ts
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/components/SkillsMarketBanner.tsx
  tests/unit/skillsMarket.test.ts
Due: typecheck, eslint, prettier

fix(i18n): update skillsMarketDesc and skillsMarketDetails copy across all locales
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
Due: prettier

style(settings): add strokeWidth to Gemini icon in settings modal
  src/renderer/components/SettingsModal/index.tsx
Due: typecheck, eslint, prettier

Revert "style(settings): add strokeWidth to Gemini icon in settings modal"
  src/renderer/components/SettingsModal/index.tsx
Due: typecheck, eslint, prettier

chore: bump version to 1.8.28
  package.json
Due: prettier

update expired wx group qr code
  readme.md
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
  resources/wechat_group4.png
  resources/wechat_group_5.png
Due: prettier

i18n(conversation): add historySearch keys for zh-TW, ja-JP, ko-KR, tr-TR
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
Due: typecheck, eslint, prettier

fix(tray): include app.png in extraResources for production builds
  electron-builder.yml
Due: none

fix: binary file download fails with 0KB in WebUI mode
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewPanel.tsx
Due: typecheck, eslint, prettier

feat: add download option to workspace file context menu
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/ja-JP/conversation.json
  src/renderer/i18n/locales/ko-KR/conversation.json
  src/renderer/i18n/locales/tr-TR/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/i18n/locales/zh-TW/conversation.json
  src/renderer/pages/conversation/workspace/hooks/useWorkspaceFileOps.ts
  src/renderer/pages/conversation/workspace/index.tsx
Due: typecheck, eslint, prettier

fix(webui): skip symlinks outside allowed paths during directory listing
  src/webserver/directoryApi.ts
  tests/unit/directoryApi.test.ts
Due: typecheck, eslint, prettier

fix(i18n): add skillsHub translations for zh-TW, ja-JP, ko-KR, tr-TR
  .gitignore
  .workspace/rules.md
  lint-results.txt
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/ja-JP/settings.json
  src/renderer/i18n/locales/ko-KR/settings.json
  src/renderer/i18n/locales/tr-TR/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/i18n/locales/zh-TW/settings.json
Due: typecheck, eslint, prettier

chore: fix CSS prettier formatting and document format requirement
  AGENTS.md
  src/renderer/pages/conversation/grouped-history/ConversationSearchPopover.css
Due: prettier

style: apply prettier formatting to skills hub files
  src/renderer/pages/settings/SkillsHubSettings.tsx
  tests/unit/SkillsHubSettings.dom.test.tsx
  tests/unit/fsBridge.skills.test.ts
Due: typecheck, eslint, prettier

chore: add format auto-fix step to bump-version workflow
  .claude/commands/bump-version.md
Due: prettier

fix(gemini): clear activeMsgIdRef on stop to prevent message filtering bug
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
Due: typecheck, eslint, prettier

feat(mobile): add React Native mobile app skeleton
  mobile/.gitignore
  mobile/app.config.ts
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/conversations.tsx
  mobile/app/(tabs)/files.tsx
  mobile/app/(tabs)/settings/_layout.tsx
  mobile/app/(tabs)/settings/index.tsx
  mobile/app/_layout.tsx
  mobile/app/connect.tsx
  mobile/app/conversation/[id].tsx
  mobile/bun.lock
  mobile/metro.config.js
  mobile/package.json
  mobile/src/components/chat/ChatInputBar.tsx
  mobile/src/components/chat/ChatScreen.tsx
  mobile/src/components/chat/ConfirmationCard.tsx
  mobile/src/components/chat/MarkdownContent.tsx
  mobile/src/components/chat/MessageBubble.tsx
  mobile/src/components/chat/ToolCallBlock.tsx
  mobile/src/components/conversation/ConversationItem.tsx
  mobile/src/components/conversation/ConversationList.tsx
  mobile/src/components/conversation/NewConversationModal.tsx
  mobile/src/components/ui/ThemedText.tsx
  mobile/src/components/ui/ThemedView.tsx
  mobile/src/constants/theme.ts
  mobile/src/context/ChatContext.tsx
  mobile/src/context/ConnectionContext.tsx
  mobile/src/context/ConversationContext.tsx
  mobile/src/context/WebSocketContext.tsx
  mobile/src/hooks/useThemeColor.ts
  mobile/src/i18n/index.ts
  mobile/src/i18n/locales/en-US.json
  mobile/src/i18n/locales/zh-CN.json
  mobile/src/services/api.ts
  mobile/src/services/bridge.ts
  mobile/src/services/websocket.ts
  mobile/src/utils/messageAdapter.ts
  mobile/src/utils/uuid.ts
  mobile/tsconfig.json
Due: typecheck, eslint, prettier

refactor: extract base64ToBlob utility and fix MIME resolution in file download
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/conversation/workspace/hooks/useWorkspaceFileOps.ts
  src/renderer/utils/base64.ts
  tests/unit/base64.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

refactor: unify file download logic via shared download utility
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/conversation/workspace/hooks/useWorkspaceFileOps.ts
  src/renderer/utils/base64.ts
  src/renderer/utils/download.ts
  tests/unit/base64.test.ts
  tests/unit/download.dom.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier
