Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

refactor: format and update imports in conversionService and authRoutes
  src/process/services/conversionService.ts
  src/process/webserver/routes/authRoutes.ts
Due: typecheck, eslint, prettier

feat(display-settings): add CSS theme presets
  src/renderer/pages/settings/DisplaySettings/presets.ts
  src/renderer/pages/settings/DisplaySettings/presets/discourse-horizon.css
  src/renderer/pages/settings/DisplaySettings/presets/glittering-input-field.css
  tests/unit/cssThemePresets.test.ts
Due: typecheck, eslint, prettier

docs: add platform services DI architecture diagram
  docs/superpowers/diagrams/platform-services-architecture.html
Due: none

fix(utils): replace runtime require with static import for initStorage
  src/process/utils/utils.ts
Due: typecheck, eslint, prettier

fix(image-generation-mcp): address review issues from PR #1505
  src/process/services/mcpServices/McpService.ts
  src/renderer/components/settings/SettingsModal/contents/ToolsModalContent.tsx
Due: typecheck, eslint, prettier

docs(pr-review): add lint baseline step before code review
  .claude/skills/pr-review/SKILL.md
Due: prettier

fix: replace lazy getSystemDir with direct import in utils.ts
  src/process/utils/utils.ts
Due: typecheck, eslint, prettier

fix(platform): fix userData path isolation and utility process platform services
  src/common/platform/ElectronPlatformServices.ts
  src/common/platform/index.ts
  src/process/index.ts
  src/process/utils/configureChromium.ts
Due: typecheck, eslint, prettier

feat(server): add webserver standalone build scripts and docs
  .gitignore
  bun.lock
  docs/superpowers/plans/2026-03-20-server-scripts.md
  docs/superpowers/specs/2026-03-20-server-scripts-design.md
  package.json
  scripts/build-server.mjs
Due: prettier

fix(platform): replace dynamic require with static import for NodePlatformServices
  src/common/platform/index.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.8.32
  bun.lock
  package.json
Due: prettier

fix(utils): break circular dependency between utils.ts and initStorage.ts
  src/process/bridge/conversationBridge.ts
  src/process/utils/utils.ts
Due: typecheck, eslint, prettier

docs: add SQLite driver abstraction design spec
  docs/superpowers/specs/2026-03-20-sqlite-driver-abstraction-design.md
Due: prettier

docs(database): update sqlite driver abstraction spec with implementation details
  docs/superpowers/specs/2026-03-20-sqlite-driver-abstraction-design.md
Due: prettier

docs(database): add SQLite driver abstraction implementation plan
  docs/superpowers/plans/2026-03-20-sqlite-driver-abstraction.md
Due: prettier

feat(database): add ISqliteDriver interface
  src/process/services/database/drivers/ISqliteDriver.ts
Due: typecheck, eslint, prettier

feat(database): implement BetterSqlite3Driver with unit tests
  src/process/services/database/drivers/BetterSqlite3Driver.ts
  tests/unit/process/services/database/drivers/BetterSqlite3Driver.test.ts
Due: typecheck, eslint, prettier

feat(database): implement BunSqliteDriver with bun:test unit tests
  src/process/services/database/drivers/BunSqliteDriver.bun.test.ts
  src/process/services/database/drivers/BunSqliteDriver.ts
Due: typecheck, eslint, prettier

feat(database): add createDriver factory with runtime detection
  src/process/services/database/drivers/createDriver.ts
Due: typecheck, eslint, prettier

chore(tsconfig): exclude bun-only files from TypeScript compilation
  src/process/services/database/drivers/BunSqliteDriver.ts
  src/process/services/database/drivers/createDriver.ts
  tsconfig.json
Due: typecheck, eslint, prettier

refactor(database): update schema.ts to use ISqliteDriver, split multi-statement exec()
  src/process/services/database/schema.ts
Due: typecheck, eslint, prettier

refactor(database): update migrations.ts to use ISqliteDriver, split all multi-statement exec()
  src/process/services/database/migrations.ts
Due: typecheck, eslint, prettier

refactor(database): migrate AionUIDatabase to static async factory, async getDatabase()
  src/process/services/database/index.ts
Due: typecheck, eslint, prettier

feat(mobile): collapse consecutive tool calls into expandable summary block
  mobile/src/components/chat/ChatScreen.tsx
  mobile/src/components/chat/MessageBubble.tsx
  mobile/src/components/chat/ToolCallBlock.tsx
  mobile/src/components/chat/ToolCallSummary.tsx
  mobile/src/context/ChatContext.tsx
  mobile/src/hooks/useProcessedMessages.ts
  mobile/src/i18n/locales/en-US.json
  mobile/src/i18n/locales/zh-CN.json
  mobile/src/utils/messageAdapter.ts
  mobile/versions/version.json
Due: typecheck, eslint, prettier

feat(mobile): improve disconnect recovery with auth challenge, connection banner, and data retention
  mobile/app/(tabs)/_layout.tsx
  mobile/app/index.tsx
  mobile/src/components/ui/ConnectionBanner.tsx
  mobile/src/context/ConnectionContext.tsx
  mobile/src/context/ConversationContext.tsx
  mobile/src/context/WebSocketContext.tsx
  mobile/src/i18n/locales/en-US.json
  mobile/src/i18n/locales/zh-CN.json
  mobile/src/services/websocket.ts
Due: typecheck, eslint, prettier

fix(mobile): use correct field name `msg_id` in confirmation.confirm request
  mobile/src/context/ChatContext.tsx
Due: typecheck, eslint, prettier

fix(mobile): fix ConnectionBanner safe area, tool call collapse, and settings reconnect
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/chat/_layout.tsx
  mobile/app/(tabs)/settings/index.tsx
  mobile/src/components/chat/ToolCallSummary.tsx
  mobile/versions/version.json
Due: typecheck, eslint, prettier

refactor(database): update test files for async getDatabase() call sites
  tests/unit/apiRoutesUploadWorkspace.test.ts
  tests/unit/extensionsBridge.test.ts
Due: typecheck, eslint, prettier

feat(server): switch server runtime to bun, use bun:sqlite driver
  package.json
  scripts/build-server.mjs
Due: prettier

fix(platform): return process.cwd() from NodePlatformServices.getAppPath() to enable renderer serving
  src/common/platform/NodePlatformServices.ts
Due: typecheck, eslint, prettier

feat(server): add standalone renderer build without Electron dependency
  Dockerfile
  package.json
  vite.renderer.config.ts
Due: typecheck, eslint, prettier

chore: remove unused build:server:run script
  package.json
Due: prettier

fix(server): fix blank page, cookie import, and data persistence in standalone mode
  src/common/platform/ElectronPlatformServices.ts
  src/common/platform/IPlatformServices.ts
  src/common/platform/NodePlatformServices.ts
  src/process/utils/utils.ts
  src/process/webserver/auth/middleware/TokenMiddleware.ts
  src/process/webserver/middleware/csrfClient.ts
  vite.renderer.config.ts
Due: typecheck, eslint, prettier

fix(platform): add needsCliSafeSymlinks to Electron fallback and enforce IPlatformPaths completeness
  bun.lock
  src/common/platform/index.ts
Due: typecheck, eslint, prettier

update assistant rule
  src/process/resources/assistant/morph-ppt/morph-ppt.md
  src/process/resources/assistant/morph-ppt/morph-ppt.zh-CN.md
Due: prettier

fix(skills): resolve dev mode skill discovery failure
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

fix(workspace): prevent file tree collapse during agent responses
  src/renderer/pages/conversation/Workspace/hooks/useWorkspaceEvents.ts
  src/renderer/pages/conversation/Workspace/hooks/useWorkspaceTree.ts
Due: typecheck, eslint, prettier

fix(mobile): fix sidebar top spacing and chat drawer toggle button
  mobile/app/(tabs)/chat/_layout.tsx
  mobile/src/components/chat/ChatSidebar.tsx
  mobile/src/components/files/WorkspaceFilesSidebar.tsx
Due: typecheck, eslint, prettier
