Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix: add Node.js engine version constraint to package.json
  package-lock.json
  package.json
Due: prettier

ci: extract reusable build workflow to eliminate duplication
  .github/workflows/_build-reusable.yml
  .github/workflows/build-and-release.yml
  .github/workflows/build-manual.yml
Due: none

chore: remove package-lock.json (project uses bun.lock)
  package-lock.json
Due: prettier

chore: ignore package-lock.json and yarn.lock
  .gitignore
Due: none

ci: sync bug fixes from fix/ci-vitest-test-path to reusable workflow
  .github/workflows/_build-reusable.yml
Due: none

ci: make MSVC ARM64 toolchain install non-blocking
  .github/workflows/_build-reusable.yml
Due: none

feat(markdown): support \[...\] and \(...\) LaTeX math delimiters
  src/renderer/components/Markdown.tsx
  src/renderer/pages/conversation/preview/components/viewers/MarkdownViewer.tsx
  src/renderer/utils/latexDelimiters.ts
  tests/unit/latexDelimiters.test.ts
Due: typecheck, eslint, prettier

ci: consolidate per-platform build summaries into single job
  .github/workflows/_build-reusable.yml
Due: none

fix(gemini): warn on unexpected errors when loading _builtin skills
  src/agent/gemini/cli/config.ts
Due: typecheck, eslint, prettier

fix(gemini): compact large tool responses in history to prevent context overflow
  src/agent/gemini/index.ts
  src/agent/gemini/utils.ts
Due: typecheck, eslint, prettier

fix(ui): detect orphaned </think> closing tags from MiniMax M2.5
  src/agent/gemini/utils.ts
  src/process/task/GeminiAgentManager.ts
  src/process/task/ThinkTagDetector.ts
  src/renderer/utils/thinkTagFilter.ts
  tests/unit/ThinkTagDetector.test.ts
Due: typecheck, eslint, prettier

fix(gemini): disable native SkillManager to prevent XML injection into system prompt
  src/agent/gemini/cli/config.ts
Due: typecheck, eslint, prettier

fix(ui): preserve orphaned </think> in stream for frontend filtering
  src/agent/gemini/utils.ts
  src/process/task/GeminiAgentManager.ts
  src/renderer/hooks/useAutoTitle.ts
  tests/unit/ThinkTagDetector.test.ts
Due: typecheck, eslint, prettier

fix(ui): prevent horizontal overflow on summary message items
  src/renderer/messages/MessageList.tsx
Due: typecheck, eslint, prettier

feat: update version to 1.8.17
  package.json
Due: prettier

fix(lint): fix prettier formatting and replace no-explicit-any in tests
  src/agent/gemini/utils.ts
  tests/unit/ThinkTagDetector.test.ts
Due: typecheck, eslint, prettier

fix(build): skip 7zip monkey-patch for 7z format to fix Windows NSIS installer
  patches/7zip-bin@5.2.0.patch
Due: none

fix(build): remove Windows 7zip monkey-patch to fix NSIS installer (#971)
  patches/7zip-bin@5.2.0.patch
Due: none

fix(build): remove Windows 7zip monkey-patch and fix compression level (#971)
  scripts/build-with-builder.js
Due: prettier

update wx group
  readme.md
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
  resources/wechat_group.png
  resources/wechat_group3.png
Due: prettier

fix(confirm): prevent buttons from being hidden when title/description is too long (#979)
  src/renderer/pages/conversation/components/ConversationChatConfirm.tsx
Due: typecheck, eslint, prettier

fix(confirm): add ellipsis truncation for long titles in confirmation dialog
  src/renderer/pages/conversation/components/ConversationChatConfirm.tsx
Due: typecheck, eslint, prettier

chore(build): revert releaseType to release after auto-update testing
  electron-builder.yml
Due: none

refactor(auto-update): remove mainWindow param, add triggerEventForTest, fix tests
  src/index.ts
  src/process/bridge/updateBridge.ts
  src/process/services/autoUpdaterService.ts
  tests/integration/autoUpdate.integration.test.ts
  tests/unit/autoUpdaterService.test.ts
Due: typecheck, eslint, prettier

fix(ci): add exit 0 to Windows native module rebuild to reset exit code
  .github/workflows/_build-reusable.yml
Due: none

Revert "chore: downgrade version to 1.8.10 for auto-update testing"
  package.json
Due: prettier

fix: increase waitForPidFile timeout and complete i18n update translations
  src/renderer/i18n/locales/ja-JP.json
  src/renderer/i18n/locales/ko-KR.json
  src/renderer/i18n/locales/tr-TR.json
  src/renderer/i18n/locales/zh-TW.json
  tests/unit/test_acp_connection_disconnect.ts
Due: typecheck, eslint, prettier

chore(auto-update): update ipcBridge channels, vitest coverage config and deps
  bun.lock
  package.json
  src/common/ipcBridge.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

revert(ci): restore non-auto-update CI changes in _build-reusable.yml
  .github/workflows/_build-reusable.yml
Due: none

fix: resolve pre-commit hook failures
  .github/workflows/_build-reusable.yml
  src/process/services/autoUpdaterService.ts
Due: typecheck, eslint, prettier

feat: implement electron-builder auto-update functionality
  electron-builder.yml
  src/common/ipcBridge.ts
  src/common/updateTypes.ts
  src/index.ts
  src/process/bridge/updateBridge.ts
  src/process/services/autoUpdaterService.ts
  src/renderer/components/UpdateModal/index.tsx
  src/renderer/i18n/locales/en-US.json
  src/renderer/i18n/locales/zh-CN.json
Due: typecheck, eslint, prettier

fix(auto-update): fix Switch toggle bug, null crash, missing release assets
  .github/workflows/build-and-release.yml
  src/process/bridge/updateBridge.ts
  src/process/services/autoUpdaterService.ts
  src/renderer/components/UpdateModal/index.tsx
Due: typecheck, eslint, prettier

chore(build): set releaseType to prerelease for auto-update testing
  electron-builder.yml
Due: none

fix: add electron-log dependency for auto-updater service
  bun.lock
  package.json
Due: prettier

fix(auto-update): use markdown release notes instead of raw HTML
  src/renderer/components/UpdateModal/index.tsx
Due: typecheck, eslint, prettier

fix: resolve CI failures in auto-update related files
  src/renderer/components/UpdateModal/index.tsx
  tests/unit/autoUpdaterService.test.ts
  tests/unit/test_acp_connection_disconnect.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(auto-update): fix quitAndInstall return type to match IPC definition
  src/process/bridge/updateBridge.ts
Due: typecheck, eslint, prettier

feat: add tests and optimize CI caching
  .github/workflows/_build-reusable.yml
  tests/integration/autoUpdate.integration.test.ts
  tests/unit/autoUpdaterService.test.ts
Due: typecheck, eslint, prettier

fix: prettier format and add electron-builder binaries cache
  .github/workflows/_build-reusable.yml
  src/process/services/autoUpdaterService.ts
Due: typecheck, eslint, prettier

ci: remove hardcoded test path from vitest command
  .github/workflows/_build-reusable.yml
Due: none

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
