Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(assistant): use dynamic backend list in assistant editor dropdown (#1798)
  src/renderer/pages/settings/AgentSettings/AssistantManagement/AssistantEditDrawer.tsx
  tests/unit/assistantEditBackends.test.ts
Due: typecheck, eslint, prettier

feat(server): add standalone resetpass command (#1801)
  package.json
  src/index.ts
  src/process/utils/resetPasswordCLI.ts
  src/server.ts
  tests/unit/process/utils/resetPasswordCLI.test.ts
Due: typecheck, eslint, prettier

fix(mcp): use static Message API to prevent null context crash in useMcpServerCRUD (#1775)
  src/renderer/components/settings/SettingsModal/contents/ToolsModalContent.tsx
  src/renderer/hooks/mcp/useMcpServerCRUD.ts
  src/renderer/pages/settings/ToolsSettings/McpManagement.tsx
  tests/unit/useMcpServerCRUD.dom.test.tsx
Due: typecheck, eslint, prettier

chore(docs): update WeChat group QR code image to wx-5
  docs/readme/readme_ch.md
  docs/readme/readme_es.md
  docs/readme/readme_jp.md
  docs/readme/readme_ko.md
  docs/readme/readme_pt.md
  docs/readme/readme_tr.md
  docs/readme/readme_tw.md
  readme.md
  resources/wx-5.png
Due: prettier

chore(ci): enable bun cache in all pr-checks jobs
  .github/workflows/pr-checks.yml
Due: none

fix(shellBridge): handle shell.openPath errors to prevent unhandled rejections (#1806)
  src/process/bridge/shellBridge.ts
  tests/unit/shellBridge.test.ts
Due: typecheck, eslint, prettier

feat(agent): add per-agent TLS certificate verification toggle (#1812)
  docs/feature/allow-insecure-connection/design.md
  docs/feature/allow-insecure-connection/requirements.md
  src/common/adapter/ipcBridge.ts
  src/process/agent/openclaw/OpenClawGatewayConnection.ts
  src/process/agent/openclaw/types.ts
  src/process/agent/remote/RemoteAgentCore.ts
  src/process/agent/remote/types.ts
  src/process/bridge/remoteAgentBridge.ts
  src/process/services/database/index.ts
  src/process/services/database/migrations.ts
  src/process/services/database/schema.ts
  src/renderer/pages/settings/AgentSettings/RemoteAgentManagement.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
Due: typecheck, eslint, prettier

feat(chat): add btw side question flow for Claude Code (#1818)
  src/common/adapter/ipcBridge.ts
  src/common/chat/sideQuestion.ts
  src/common/chat/slash/types.ts
  src/process/bridge/conversationBridge.ts
  src/process/bridge/services/ConversationSideQuestionService.ts
  src/renderer/components/chat/BtwOverlay/BtwOverlay.module.css
  src/renderer/components/chat/BtwOverlay/index.tsx
  src/renderer/components/chat/BtwOverlay/useBtwCommand.ts
  src/renderer/components/chat/sendbox.tsx
  src/renderer/hooks/chat/useSlashCommandController.ts
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/conversation.json
  src/renderer/services/i18n/locales/ja-JP/conversation.json
  src/renderer/services/i18n/locales/ko-KR/conversation.json
  src/renderer/services/i18n/locales/tr-TR/conversation.json
  src/renderer/services/i18n/locales/zh-CN/conversation.json
  src/renderer/services/i18n/locales/zh-TW/conversation.json
  tests/unit/btwOverlay.dom.test.tsx
  tests/unit/conversationBridge.test.ts
  tests/unit/conversationBridge.tray.test.ts
  tests/unit/process/bridge/conversationSideQuestionService.test.ts
  tests/unit/sendboxBtw.dom.test.tsx
  tests/unit/slashCommandController.test.tsx
Due: typecheck, eslint, prettier

fix(settings): persist display zoom across app restarts (#1820)
  src/common/config/storage.ts
  src/index.ts
  src/process/bridge/applicationBridge.ts
  src/process/utils/zoom.ts
  tests/unit/process/utils/zoom.test.ts
Due: typecheck, eslint, prettier

fix(websocket): guard ws.send/close in checkClients against EPIPE (#1821)
  src/process/webserver/websocket/WebSocketManager.ts
  tests/unit/WebSocketManager.test.ts
Due: typecheck, eslint, prettier

chore(docs): remove AI-generated plans/specs and ignore docs/superpowers
  .gitignore
  docs/plans/2026-03-12-webui-favicon-alignment.md
  docs/superpowers/diagrams/interface-design.html
  docs/superpowers/diagrams/main-process-overview-phase2.html
  docs/superpowers/diagrams/main-process-overview.html
  docs/superpowers/diagrams/phase2-decouple-design.html
  docs/superpowers/diagrams/platform-services-architecture.html
  docs/superpowers/diagrams/webserver-standalone-architecture.html
  docs/superpowers/diagrams/webui-message-flow.html
  docs/superpowers/plans/2026-03-18-main-process-decouple.md
  docs/superpowers/plans/2026-03-19-process-structure.md
  docs/superpowers/plans/2026-03-20-platform-services.md
  docs/superpowers/plans/2026-03-20-server-scripts.md
  docs/superpowers/plans/2026-03-20-sqlite-driver-abstraction.md
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
  docs/superpowers/plans/2026-03-23-standalone-bridge-compatibility.md
  docs/superpowers/plans/2026-03-23-weixin-channel-ui.md
  docs/superpowers/plans/2026-03-23-weixin-plugin.md
  docs/superpowers/plans/2026-03-24-config-migration.md
  docs/superpowers/plans/2026-03-25-weixin-remove-sdk.md
  docs/superpowers/plans/2026-03-25-weixin-typing-indicator.md
  docs/superpowers/plans/2026-03-27-workspace-file-changes.md
  docs/superpowers/specs/2026-03-18-main-process-decouple-design.md
  docs/superpowers/specs/2026-03-18-main-process-decouple-phase2-design.md
  docs/superpowers/specs/2026-03-20-platform-services-design.md
  docs/superpowers/specs/2026-03-20-server-scripts-design.md
  docs/superpowers/specs/2026-03-20-sqlite-driver-abstraction-design.md
  docs/superpowers/specs/2026-03-20-webserver-standalone-design.md
  docs/superpowers/specs/2026-03-23-weixin-channel-ui-design.md
  docs/superpowers/specs/2026-03-23-weixin-plugin-design.md
  docs/superpowers/specs/2026-03-24-config-migration-design.md
  docs/superpowers/specs/2026-03-25-weixin-remove-sdk-design.md
  docs/superpowers/specs/2026-03-25-weixin-typing-indicator-design.md
  docs/superpowers/specs/2026-03-27-workspace-file-changes-design.md
Due: prettier

fix(fsBridge): replace Promise.reject() with throw to prevent unhandled rejections (#1825)
  src/process/bridge/fsBridge.ts
  tests/unit/process/bridge/fsBridge.downloadRemoteBuffer.test.ts
Due: typecheck, eslint, prettier

fix(gemini,acp): sanitize Gemini tool names and decode Windows taskkill errors (#1828)
  src/common/api/OpenAI2GeminiConverter.ts
  src/process/agent/acp/utils.ts
  tests/unit/acpUtilsDecodeWindows.test.ts
  tests/unit/geminiToolNameCompat.test.ts
Due: typecheck, eslint, prettier

fix(gemini): catch bootstrap rejection in send() to prevent unhandled promise crash (#1830)
  src/process/agent/gemini/index.ts
  tests/unit/geminiBootstrapRejection.test.ts
Due: typecheck, eslint, prettier

fix(openclaw): catch write errors in deviceAuthStore to prevent unhandled rejection (#1835)
  src/process/agent/openclaw/deviceAuthStore.ts
  tests/unit/deviceAuthStore.test.ts
Due: typecheck, eslint, prettier

feat(tools): add speech-to-text voice input (#1838)
  src/common/adapter/ipcBridge.ts
  src/common/config/storage.ts
  src/common/types/speech.ts
  src/process/bridge/index.ts
  src/process/bridge/services/SpeechToTextService.ts
  src/process/bridge/speechToTextBridge.ts
  src/process/utils/initBridgeStandalone.ts
  src/process/webserver/routes/apiRoutes.ts
  src/renderer/components/chat/SpeechInputButton.tsx
  src/renderer/components/chat/sendbox.css
  src/renderer/components/chat/sendbox.tsx
  src/renderer/components/settings/SettingsModal/contents/ToolsModalContent.tsx
  src/renderer/hooks/system/useSpeechInput.ts
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/components/GuidActionRow.tsx
  src/renderer/pages/guid/index.module.css
  src/renderer/services/SpeechToTextService.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/conversation.json
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/conversation.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/conversation.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/conversation.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/conversation.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/conversation.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/common/toolsModalContent.dom.test.tsx
  tests/unit/process/bridge/speechToTextService.test.ts
  tests/unit/renderer/GuidActionRow.dom.test.tsx
  tests/unit/renderer/SpeechInputButton.dom.test.tsx
  tests/unit/renderer/useSpeechInput.test.ts
  tests/unit/sendboxWarmup.dom.test.ts
Due: typecheck, eslint, prettier

fix(openclaw): prevent duplicate replies from late chat events (#1844)
  src/process/agent/openclaw/index.ts
  tests/unit/openClawAgentDuplicate.test.ts
Due: typecheck, eslint, prettier

fix(test): repair broken layout_theme and getNpxCacheDir tests (#1849)
  tests/regression/layout_theme_route_revert.test.ts
  tests/unit/getNpxCacheDir.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

feat(assistant): add pitch-deck-creator assistant (#1846)
  src/process/resources/assistant/pitch-deck-creator/pitch-deck-creator.md
  src/process/resources/assistant/pitch-deck-creator/pitch-deck-creator.zh-CN.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-academic-paper/creating.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

fix(webui): use public directory icon for favicon (#1857)
  src/renderer/index.html
  tests/unit/webui-favicon.test.ts
Due: typecheck, eslint, prettier

fix(weixin): accept voice transcription text (#1864)
  src/process/channels/plugins/weixin/WeixinMonitor.ts
  tests/unit/channels/weixinMonitor.test.ts
Due: typecheck, eslint, prettier

feat(office): word/excel live preview via officecli watch + auto-preview on file generation (#1869)
  src/common/adapter/ipcBridge.ts
  src/process/bridge/fileWatchBridge.ts
  src/process/bridge/index.ts
  src/process/bridge/officeWatchBridge.ts
  src/process/services/database/index.ts
  src/process/utils/initBridgeStandalone.ts
  src/process/webserver/routes/apiRoutes.ts
  src/renderer/hooks/file/useAutoPreviewOfficeFiles.ts
  src/renderer/pages/conversation/Messages/MessageList.tsx
  src/renderer/pages/conversation/Preview/components/PreviewPanel/PreviewPanel.tsx
  src/renderer/pages/conversation/Preview/components/viewers/ExcelViewer.tsx
  src/renderer/pages/conversation/Preview/components/viewers/OfficeDocViewer.tsx
  src/renderer/pages/conversation/Preview/components/viewers/OfficeWatchViewer.tsx
  src/renderer/pages/conversation/Preview/components/viewers/PptViewer.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/preview.json
  src/renderer/services/i18n/locales/ja-JP/preview.json
  src/renderer/services/i18n/locales/ko-KR/preview.json
  src/renderer/services/i18n/locales/tr-TR/preview.json
  src/renderer/services/i18n/locales/zh-CN/preview.json
  src/renderer/services/i18n/locales/zh-TW/preview.json
  tests/unit/OfficeDocViewer.dom.test.tsx
  tests/unit/officeWatchBridge.test.ts
  tests/unit/useAutoPreviewOfficeFiles.dom.test.ts
Due: typecheck, eslint, prettier

add: kiro (#1873)
  src/common/types/acpTypes.ts
  src/process/agent/acp/AcpConnection.ts
  src/renderer/pages/conversation/utils/createConversationParams.ts
Due: typecheck, eslint, prettier

fix(webui): resolve CSRF token login failure after cache expiration (#1689)
  package.json
  src/process/webserver/middleware/csrfClient.ts
  src/renderer/hooks/context/AuthContext.tsx
  tests/unit/webserver/csrfClient.dom.test.ts
Due: typecheck, eslint, prettier

feat(acp): support user-defined custom ACP agents (#1800)
  .gitignore
  src/common/adapter/ipcBridge.ts
  src/process/bridge/acpConversationBridge.ts
  src/process/bridge/testCustomAgentConnection.ts
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/settings/AgentSettings/AgentCard.tsx
  src/renderer/pages/settings/AgentSettings/CustomAcpAgent.tsx
  src/renderer/pages/settings/AgentSettings/CustomAcpAgentModal.tsx
  src/renderer/pages/settings/AgentSettings/InlineAgentEditor.tsx
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/AgentCard.dom.test.tsx
  tests/unit/AgentPillBar.dom.test.tsx
  tests/unit/InlineAgentEditor.dom.test.tsx
  tests/unit/LocalAgents.dom.test.tsx
  tests/unit/SystemModalContent.dom.test.tsx
  tests/unit/acpConversationBridge.test.ts
  tests/unit/customAcpAgentBridge.test.ts
  tests/unit/inlineAgentEditorUtils.test.ts
Due: typecheck, eslint, prettier

chore(pr-automation): centralize CRITICAL_PATH_PATTERN in Configuration section
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore(oss-pr): auto-generate branch name from changed files, remove confirmation step
  .claude/skills/oss-pr/SKILL.md
Due: prettier

chore(deps): add cookie package to bun.lock
  bun.lock
Due: none

feat(codex): add no-sandbox full auto mode (#1877)
  src/common/config/storage.ts
  src/common/types/codex/codexModes.ts
  src/process/agent/codex/connection/CodexConnection.ts
  src/process/agent/codex/connection/codexConfig.ts
  src/process/agent/codex/connection/codexLaunchConfig.ts
  src/process/agent/codex/core/CodexAgent.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/CodexAgentManager.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/agentMode.json
  src/renderer/services/i18n/locales/ja-JP/agentMode.json
  src/renderer/services/i18n/locales/ko-KR/agentMode.json
  src/renderer/services/i18n/locales/tr-TR/agentMode.json
  src/renderer/services/i18n/locales/zh-CN/agentMode.json
  src/renderer/services/i18n/locales/zh-TW/agentMode.json
  src/renderer/utils/model/agentModes.ts
  tests/unit/common/codexModes.test.ts
  tests/unit/process/codexLaunchConfig.test.ts
Due: typecheck, eslint, prettier

feat(chat): add sendbox message history (#1881)
  src/renderer/components/chat/sendbox.tsx
  src/renderer/utils/chat/messageHistory.ts
  tests/unit/chat/messageHistory.test.ts
  tests/unit/chat/sendboxHistory.dom.test.tsx
Due: typecheck, eslint, prettier

chore(docs): remove pr-automation plans and specs
  docs/superpowers/plans/2026-03-26-pr-automation-refactor.md
  docs/superpowers/plans/2026-03-26-pr-automation.md
  docs/superpowers/specs/2026-03-26-pr-automation-design.md
Due: prettier

feat(conversation): support right-click history menu (#1885)
  src/renderer/pages/conversation/GroupedHistory/ConversationRow.tsx
  tests/unit/renderer/ConversationRow.dom.test.tsx
Due: typecheck, eslint, prettier

chore: bump version to 1.9.3 (#1887)
  package.json
Due: prettier

feat(i18n): add weixin namespace to all locale settings.json files
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
Due: prettier

fix(i18n): replace hardcoded Chinese fallbacks with English in WeChat config
  src/renderer/components/settings/SettingsModal/contents/channels/WeixinConfigForm.tsx
  tests/unit/channels/weixinConfigForm.dom.test.tsx
Due: typecheck, eslint, prettier

chore(i18n): format WeixinConfigForm and regenerate i18n type definitions
  src/renderer/components/settings/SettingsModal/contents/channels/WeixinConfigForm.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
Due: typecheck, eslint, prettier

fix(build): add onwarn EVAL suppression to renderer rollup config
  electron.vite.config.ts
Due: typecheck, eslint, prettier

refactor(utils): replace eval('require')('crypto') with globalThis.crypto
  src/common/utils/utils.ts
Due: typecheck, eslint, prettier

test(weixin): cover non-gemini agent branch in WeixinConfigForm
  tests/unit/channels/weixinConfigForm.dom.test.tsx
Due: typecheck, eslint, prettier

chore(pr-automation): add database service dir to CRITICAL_PATH_PATTERN
  .claude/skills/pr-automation/SKILL.md
Due: prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
