Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(team): hardcode claude/codex as known team-capable backends (#2403)
  src/common/types/teamTypes.ts
  tests/unit/team-agentSelectUtils.test.ts
  tests/unit/teamGuideWhitelist.test.ts
Due: typecheck, eslint, prettier

chore(deps): bump @office-ai/aioncli-core to 0.30.5 (#2404)
  bun.lock
  package.json
Due: prettier

chore: bump version to 1.9.15 (#2405)
  package.json
Due: prettier

fix(build): update asarUnpack entry for renamed team-guide-mcp-stdio (#2407)
  electron-builder.yml
Due: none

test(build): add guard test for MCP script asarUnpack consistency (#2408)
  tests/unit/mcpAsarUnpack.test.ts
Due: typecheck, eslint, prettier

refactor(team): optimize wake prompt with push-messages-only model (#2401)
  docs/superpowers/plans/2026-04-14-wake-prompt-phase2.md
  docs/superpowers/specs/2026-04-14-wake-prompt-optimization-design.md
  src/process/agent/acp/index.ts
  src/process/task/GeminiAgentManager.ts
  src/process/team/TeamSession.ts
  src/process/team/TeammateManager.ts
  src/process/team/mcp/team/TeamMcpServer.ts
  src/process/team/prompts/buildRolePrompt.ts
  src/process/team/prompts/formatHelpers.ts
  src/process/team/prompts/leadPrompt.ts
  src/process/team/prompts/teammatePrompt.ts
  tests/integration/team-stress-concurrency.test.ts
  tests/unit/process/team/formatHelpers.test.ts
  tests/unit/team-TeammateManager.test.ts
Due: typecheck, eslint, prettier

refactor(team): remove dead TeamConfirmOverlay mock (#2410)
  tests/unit/renderer/team-renderer.dom.test.tsx
Due: typecheck, eslint, prettier

fix(team): detect crashed gemini workers (#2412)
  src/process/task/GeminiAgentManager.ts
  src/process/worker/fork/ForkTask.ts
  tests/unit/forkTaskExit.test.ts
  tests/unit/geminiAgentManagerCrash.test.ts
Due: typecheck, eslint, prettier

fix(channels): support Bedrock auth in channel model resolution and add aionrs i18n mode key (#2424)
  src/common/config/storage.ts
  src/process/channels/actions/SystemActions.ts
  src/process/channels/agent/ChannelMessageService.ts
  src/process/channels/gateway/ActionExecutor.ts
  src/process/channels/types.ts
  src/process/channels/utils/channelConversation.ts
  src/process/services/cron/WorkerTaskManagerJobExecutor.ts
  src/process/task/WorkerTaskManager.ts
  src/renderer/components/settings/SettingsModal/contents/channels/DingTalkConfigForm.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/LarkConfigForm.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/TelegramConfigForm.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/WecomConfigForm.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/WeixinConfigForm.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/hooks/agentSelectionUtils.ts
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
  src/renderer/pages/guid/hooks/useGuidModelSelection.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/agentMode.json
  src/renderer/services/i18n/locales/ja-JP/agentMode.json
  src/renderer/services/i18n/locales/ko-KR/agentMode.json
  src/renderer/services/i18n/locales/ru-RU/agentMode.json
  src/renderer/services/i18n/locales/tr-TR/agentMode.json
  src/renderer/services/i18n/locales/uk-UA/agentMode.json
  src/renderer/services/i18n/locales/zh-CN/agentMode.json
  src/renderer/services/i18n/locales/zh-TW/agentMode.json
  tests/unit/agentSelectionUtils.test.ts
  tests/unit/guidAgentSelection.dom.test.ts
Due: typecheck, eslint, prettier

feat(snow): complete Snow CLI ACP backend support (#2406)
  .gitignore
  mobile/src/constants/agentModes.ts
  src/common/types/acpTypes.ts
  src/common/types/teamTypes.ts
  src/process/agent/acp/AcpConnection.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/assets/logos/tools/coding/snow.png
  src/renderer/components/agent/AgentSetupCard.tsx
  src/renderer/utils/model/agentLogo.ts
  src/renderer/utils/model/agentModes.ts
  tests/unit/team-agentSelectUtils.test.ts
Due: typecheck, eslint, prettier

fix(acp): keep processing indicator during initial message hydration (#2409)
  src/renderer/pages/conversation/platforms/acp/useAcpMessage.ts
  tests/unit/renderer/useAcpMessage.dom.test.tsx
Due: typecheck, eslint, prettier

fix(conversation): guard malformed tool summary payloads (#2422)
  src/renderer/pages/conversation/Messages/components/MessageToolGroupSummary.tsx
  tests/unit/renderer/conversation/Messages/components/MessageToolGroupSummary.dom.test.tsx
Due: typecheck, eslint, prettier

fix(acp): unify session capabilities caching for all backends (#2423)
  src/common/config/storage.ts
  src/common/types/acpTypes.ts
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/index.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/components/agent/AcpConfigSelector.tsx
  src/renderer/components/agent/AgentModeSelector.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
  tests/unit/acpAgentSetModel.test.ts
  tests/unit/acpApplySessionMode.test.ts
Due: typecheck, eslint, prettier

refactor(aionrs): remove dead injectHistoryFromDatabase method (#2431)
  src/process/task/AionrsManager.ts
Due: typecheck, eslint, prettier

feat(aionrs): add Aion CLI support for preset assistants and agent dropdowns (#2402)
  src/common/types/acpTypes.ts
  src/common/utils/buildAgentConversationParams.ts
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/constants.ts
  src/renderer/pages/guid/hooks/useGuidSend.ts
  src/renderer/pages/settings/AgentSettings/AssistantManagement/AssistantEditDrawer.tsx
Due: typecheck, eslint, prettier

feat(acp): use bundled bun for npx-style connections (#2421)
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/acpConnectors.ts
  src/process/agent/acp/index.ts
  src/process/services/mcpServices/McpProtocol.ts
  src/process/utils/shellEnv.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/process/services/mcpProtocol.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

fix(docker): fix bun.lock filename, add patches copy, and dockerignore (#2427)
  .dockerignore
  Dockerfile
Due: none

feat(agent): replace cronBusyGuard with isTurnInProgress for idle timeout detection (#2419)
  src/process/task/AcpAgentManager.ts
  src/process/task/BaseAgentManager.ts
  src/process/task/IAgentManager.ts
  src/process/task/WorkerTaskManager.ts
  tests/unit/WorkerTaskManager.test.ts
  tests/unit/acpAgentManagerCronGuard.test.ts
Due: typecheck, eslint, prettier

Revert "feat(agent): replace cronBusyGuard with isTurnInProgress for idle tim…" (#2435)
  src/process/task/AcpAgentManager.ts
  src/process/task/BaseAgentManager.ts
  src/process/task/IAgentManager.ts
  src/process/task/WorkerTaskManager.ts
  tests/unit/WorkerTaskManager.test.ts
  tests/unit/acpAgentManagerCronGuard.test.ts
Due: typecheck, eslint, prettier

fix(team): sync fullscreen slot when switching tabs in fullscreen mode (#2436)
  src/renderer/pages/team/TeamPage.tsx
Due: typecheck, eslint, prettier

fix(guid): align reasoning effort selector layout (#2432)
  src/renderer/components/agent/AcpConfigSelector.tsx
  src/renderer/pages/guid/components/GuidActionRow.tsx
  tests/unit/renderer/AcpConfigSelector.dom.test.tsx
  tests/unit/renderer/GuidActionRow.dom.test.tsx
Due: typecheck, eslint, prettier

Sync Claude runtime and model selection with cc-switch (#2414)
  src/common/types/acpTypes.ts
  src/process/agent/acp/acpConnectors.ts
  src/process/agent/acp/index.ts
  src/process/agent/acp/modelInfo.ts
  src/process/agent/acp/utils.ts
  src/process/bridge/acpConversationBridge.ts
  src/process/services/ccSwitchModelSource.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/components/agent/AcpModelSelector.tsx
  src/renderer/pages/guid/components/GuidModelSelector.tsx
  src/renderer/utils/model/modelSource.ts
  tests/unit/AcpModelSelector.dom.test.tsx
  tests/unit/GuidModelSelector.dom.test.tsx
  tests/unit/acpAgentSetModel.test.ts
  tests/unit/acpApplySessionMode.test.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/acpConversationBridge.test.ts
  tests/unit/acpModelInfo.test.ts
  tests/unit/guidAgentSelection.dom.test.ts
  tests/unit/modelSourceLabel.test.ts
  tests/unit/process/services/ccSwitchModelSource.test.ts
Due: typecheck, eslint, prettier

fix(cron): fix AionCLI cron job issues and enable production binary (#2438)
  src/process/agent/aionrs/binaryResolver.ts
  src/renderer/pages/conversation/components/ChatConversation.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/ru-RU/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/uk-UA/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
Due: typecheck, eslint, prettier

refactor(model): remove non-cc-switch source labels from model selector (#2439)
  src/renderer/utils/model/modelSource.ts
  tests/unit/AcpModelSelector.dom.test.tsx
  tests/unit/GuidModelSelector.dom.test.tsx
  tests/unit/modelSourceLabel.test.ts
Due: typecheck, eslint, prettier

fix(build): include version tag in aionrs asset filename (#2441)
  .github/workflows/pr-checks.yml
  scripts/prepareAionrs.js
Due: prettier

chore: bump version to 1.9.16 (#2442)
  package.json
Due: prettier

fix(build): split Linux build into separate x64 and arm64 jobs (#2448)
  .github/workflows/_build-reusable.yml
  .github/workflows/build-and-release.yml
  .github/workflows/build-manual.yml
  scripts/create-mock-release-artifacts.sh
  scripts/prepare-release-assets.sh
  scripts/prepareBundledBun.js
Due: prettier

fix(acp): auto-detect and clear corrupted bunx cache on startup (#2451)
  src/process/agent/acp/acpConnectors.ts
  tests/unit/acpBunxCache.test.ts
Due: typecheck, eslint, prettier

fix(guid): use locationKey to reset assistant flag reliably (#2460)
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.9.17 (#2465)
  package.json
Due: prettier

fix(team): escalate silent agents to failed and stabilize team UI (#2425)
  src/process/team/TeammateManager.ts
  src/process/team/mcp/team/TeamMcpServer.ts
  src/renderer/pages/team/TeamPage.tsx
  tests/integration/team-stress-concurrency.test.ts
  tests/unit/team-TeammateManager.test.ts
Due: typecheck, eslint, prettier

fix(team): prevent 300s LLM timeout when teammates stand by (#2426)
  src/process/team/prompts/leadPrompt.ts
  src/process/team/prompts/teammatePrompt.ts
Due: typecheck, eslint, prettier

fix(build): remove explicit arch from linux target to avoid duplicate deb artifacts (#2467)
  electron-builder.yml
Due: none

refactor(team): remove model selection UI from this PR
  src/renderer/pages/team/TeamPage.tsx
  src/renderer/pages/team/components/AddAgentModal.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  src/renderer/pages/team/components/TeamModelSelect.tsx
  tests/unit/renderer/team/TeamCreateModal.dom.test.tsx
Due: typecheck, eslint, prettier

chore(docs): remove team-model-switching process docs
  docs/feature/team-model-switching/00-goal.md
  docs/feature/team-model-switching/01-research.md
  docs/feature/team-model-switching/02-review-notes.md
  docs/feature/team-model-switching/02-tech-plan.md
  docs/feature/team-model-switching/03-task-breakdown.md
  docs/feature/team-model-switching/04-test-cases.md
  docs/feature/team-model-switching/04-test-report.md
  docs/feature/team-model-switching/05-acceptance.md
  docs/feature/team-model-switching/06-r2-research.md
  docs/feature/team-model-switching/07-r2-review-notes.md
  docs/feature/team-model-switching/07-r2-tech-plan.md
  docs/feature/team-model-switching/09-r2-test-report.md
  docs/feature/team-model-switching/10-model-list-consistency.md
Due: prettier

refactor(team): deduplicate handleListModels and migrate googleAuthCheck
  docs/feature/team-model-switching/01-research.md
  docs/feature/team-model-switching/10-model-list-consistency.md
  src/common/utils/modelCapabilities.ts
  src/common/utils/teamModelUtils.ts
  src/process/team/TeamSessionService.ts
  src/process/team/mcp/guide/TeamGuideMcpServer.ts
  src/process/team/mcp/modelListHandler.ts
  src/process/team/mcp/team/TeamMcpServer.ts
  src/renderer/utils/model/modelCapabilities.ts
  tests/unit/process/team/modelListHandler.test.ts
Due: typecheck, eslint, prettier

feat(team): add model selection capability to team mode
  docs/feature/team-model-switching/00-goal.md
  docs/feature/team-model-switching/01-research.md
  docs/feature/team-model-switching/02-review-notes.md
  docs/feature/team-model-switching/02-tech-plan.md
  docs/feature/team-model-switching/03-task-breakdown.md
  docs/feature/team-model-switching/04-test-cases.md
  docs/feature/team-model-switching/04-test-report.md
  docs/feature/team-model-switching/05-acceptance.md
  docs/feature/team-model-switching/06-r2-research.md
  docs/feature/team-model-switching/07-r2-review-notes.md
  docs/feature/team-model-switching/07-r2-tech-plan.md
  docs/feature/team-model-switching/09-r2-test-report.md
  src/common/types/teamTypes.ts
  src/common/utils/teamModelUtils.ts
  src/process/team/TeamSession.ts
  src/process/team/TeamSessionService.ts
  src/process/team/TeammateManager.ts
  src/process/team/mcp/team/TeamMcpServer.ts
  src/process/team/mcp/team/teamMcpStdio.ts
  src/process/team/prompts/buildRolePrompt.ts
  src/process/team/prompts/leadPrompt.ts
  src/process/team/prompts/toolDescriptions.ts
  src/renderer/pages/team/TeamPage.tsx
  src/renderer/pages/team/components/AddAgentModal.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  src/renderer/pages/team/components/TeamModelSelect.tsx
  src/renderer/pages/team/components/TeamTabs.tsx
  tests/unit/team-TeamMcpServer.test.ts
  tests/unit/teamMcpServerEvents.test.ts
  tests/unit/teamModelUtils.test.ts
Due: typecheck, eslint, prettier

refactor(team): replace hardcoded model lists with dynamic MCP query
  docs/feature/team-model-switching/10-model-list-consistency.md
  src/common/utils/geminiModes.ts
  src/common/utils/modelCapabilities.ts
  src/common/utils/teamModelUtils.ts
  src/process/bridge/modelBridge.ts
  src/process/team/TeammateManager.ts
  src/process/team/googleAuthCheck.ts
  src/process/team/mcp/guide/TeamGuideMcpServer.ts
  src/process/team/mcp/guide/teamGuideMcpStdio.ts
  src/process/team/mcp/team/TeamMcpServer.ts
  src/process/team/mcp/team/teamMcpStdio.ts
  src/process/team/prompts/buildRolePrompt.ts
  src/process/team/prompts/leadPrompt.ts
  src/process/team/prompts/teamGuidePrompt.ts
  src/renderer/hooks/agent/useModeModeList.ts
  src/renderer/pages/team/components/TeamModelSelect.tsx
  src/renderer/utils/model/modelCapabilities.ts
  tests/unit/process/team/leadPrompt.test.ts
  tests/unit/renderer/team/TeamCreateModal.dom.test.tsx
  tests/unit/teamModelUtils.test.ts
Due: typecheck, eslint, prettier

perf(acp): replace serial execSync with async batch CLI detection (#2485)
  src/process/agent/acp/AcpDetector.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
