Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

docs(agent): add skill naming convention to package-assistant command
  .claude/commands/package-assistant.md
Due: prettier

fix(settings): align mobile settings nav labels
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
Due: typecheck, eslint, prettier

fix(settings): align mobile nav order with desktop
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
  src/renderer/pages/settings/components/SettingsSider.tsx
Due: typecheck, eslint, prettier

style(settings): format mobile settings nav wrapper
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
Due: typecheck, eslint, prettier

test(settings): cover mobile nav order
  src/renderer/pages/settings/components/SettingsPageWrapper.tsx
  tests/unit/SettingsPageWrapper.test.ts
Due: typecheck, eslint, prettier

fix(openclaw): normalize WebSocket URL to prevent Invalid URL crash (ELECTRON-F8)
  src/process/agent/openclaw/OpenClawGatewayConnection.ts
  tests/unit/normalizeWsUrl.test.ts
Due: typecheck, eslint, prettier

feat(assistant): add Financial Model Creator assistant
  src/common/config/presets/assistantPresets.ts
  src/process/resources/assistant/financial-model-creator/financial-model-creator.md
  src/process/resources/assistant/financial-model-creator/financial-model-creator.zh-CN.md
Due: typecheck, eslint, prettier

feat(skill): add officecli-financial-model skill files to resources
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-financial-model/creating.md
Due: prettier

Revert "feat(skill): add officecli-financial-model skill files to resources"
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-financial-model/creating.md
Due: prettier

feat(skill): add officecli-pitch-deck skill files to resources
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/creating.md
Due: prettier

feat(skill): sync morph-ppt Python migration from OfficeCLI
  .pre-commit-config.yaml
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/morph-helpers.py
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--diagonal-cut/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--editorial-story/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--neon-productivity/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--space-odyssey/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--minimal-product/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--watercolor-wash/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/mixed--duotone-split/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-organic/build.sh
Due: prettier

chore(skills): fix markdown table alignment in officecli skill files
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-financial-model/creating.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/creating.md
Due: prettier

chore(skills): migrate oss-pr and bump-version commands to skills
  .claude/commands/bump-version.md
  .claude/commands/oss-pr.md
  .claude/skills/bump-version/SKILL.md
  .claude/skills/oss-pr/SKILL.md
  .claude/skills/pr/SKILL.md
  AGENTS.md
Due: prettier

.md format
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-fix/SKILL.md
  .claude/skills/pr-review/SKILL.md
  AGENTS.md
  docs/conventions/pr-automation.md
  docs/superpowers/plans/2026-03-26-pr-automation-refactor.md
  docs/superpowers/plans/2026-03-26-pr-automation.md
  docs/superpowers/specs/2026-03-26-pr-automation-design.md
Due: prettier

chore(pr-automation): remove BEHIND/update-branch logic to simplify merge flow
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(settings): guard JSON.parse in JsonImportModal handleSubmit to prevent unhandled SyntaxError (#1772)
  src/renderer/pages/settings/components/JsonImportModal.tsx
  tests/unit/JsonImportModal.dom.test.tsx
Due: typecheck, eslint, prettier

fix(weixin): fix channel mode model selection and Google OAuth fallback (#1764)
  src/process/agent/acp/index.ts
  src/process/channels/actions/SystemActions.ts
  src/process/channels/gateway/ActionExecutor.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/workerTaskManagerSingleton.ts
  tests/unit/acpAgentSetModel.test.ts
  tests/unit/channels/weixinSystemActions.test.ts
  tests/unit/workerTaskManagerSingleton.test.ts
Due: typecheck, eslint, prettier

feat(weixin): support incoming image and file attachments (#1765)
  src/process/channels/plugins/weixin/WeixinAdapter.ts
  src/process/channels/plugins/weixin/WeixinMonitor.ts
  tests/unit/channels/weixinAdapter.test.ts
  tests/unit/channels/weixinMonitor.test.ts
Due: typecheck, eslint, prettier

feat(chat): add /export slash command for conversation export (#1684)
  src/renderer/components/chat/sendbox.css
  src/renderer/components/chat/sendbox.tsx
  src/renderer/hooks/file/useConversationExport.tsx
  src/renderer/pages/conversation/GroupedHistory/hooks/useExport.ts
  src/renderer/pages/conversation/GroupedHistory/utils/exportHelpers.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/messages.json
  src/renderer/services/i18n/locales/ja-JP/messages.json
  src/renderer/services/i18n/locales/ko-KR/messages.json
  src/renderer/services/i18n/locales/tr-TR/messages.json
  src/renderer/services/i18n/locales/zh-CN/messages.json
  src/renderer/services/i18n/locales/zh-TW/messages.json
  src/renderer/utils/chat/conversationExport.ts
  tests/unit/chat/conversationExport.test.ts
  tests/unit/chat/exportHelpers.test.ts
  tests/unit/chat/sendboxExport.dom.test.tsx
  tests/unit/chat/useConversationExport.dom.test.tsx
  tests/unit/chat/useExport.dom.test.tsx
Due: typecheck, eslint, prettier

fix(database): set busy_timeout to prevent "database is locked" errors (#1777)
  src/process/services/database/schema.ts
  tests/unit/schema.test.ts
Due: typecheck, eslint, prettier

chore(ci): add docs-only pr checks workflow and fix branch protection gap
  .github/workflows/pr-checks-docs.yml
  .github/workflows/pr-checks.yml
Due: none

chore(ci): add permissions block to pr-checks-docs workflow
  .github/workflows/pr-checks-docs.yml
Due: none

fix(settings): catch form validation rejection in EditModeModal onOk handler (#1779)
  src/renderer/pages/settings/components/EditModeModal.tsx
  tests/unit/EditModeModal.dom.test.tsx
Due: typecheck, eslint, prettier

fix(preview): use static Message API to prevent addInstance crash in OfficeDocViewer (#1781)
  src/renderer/pages/conversation/Preview/components/viewers/OfficeDocViewer.tsx
  tests/unit/OfficeDocViewer.dom.test.tsx
Due: typecheck, eslint, prettier

fix(window): guard close handler against destroyed BrowserWindow (#1783)
  src/index.ts
  tests/unit/mainWindowCloseHandler.test.ts
Due: typecheck, eslint, prettier

fix(skills): align pr-review/pr-fix severity thresholds and abort guards
  .claude/skills/pr-fix/SKILL.md
  .claude/skills/pr-review/SKILL.md
Due: prettier

chore(fix-sentry): add skip-list for cross-session dedup and refine triage rules (#1785)
  .claude/skills/fix-sentry/SKILL.md
  .claude/skills/fix-sentry/references/triage-rules.md
  scripts/fix-sentry-daemon.sh
Due: prettier

fix(pr-review): exclude codecov informational checks from CI failure detection
  .claude/skills/pr-review/SKILL.md
Due: prettier

fix(pr-automation): exclude codecov informational checks from CI failure detection
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore: format skill markdown tables
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-review/SKILL.md
Due: prettier

feat(workspace): add file changes tracking panel (#1789)
  docs/superpowers/plans/2026-03-27-workspace-file-changes.md
  docs/superpowers/specs/2026-03-27-workspace-file-changes-design.md
  src/common/adapter/ipcBridge.ts
  src/common/types/fileSnapshot.ts
  src/process/bridge/index.ts
  src/process/bridge/workspaceSnapshotBridge.ts
  src/process/services/WorkspaceSnapshotService.ts
  src/renderer/pages/conversation/Workspace/components/FileChangeList.tsx
  src/renderer/pages/conversation/Workspace/components/WorkspaceTabBar.tsx
  src/renderer/pages/conversation/Workspace/hooks/useFileChanges.ts
  src/renderer/pages/conversation/Workspace/index.tsx
  src/renderer/pages/conversation/Workspace/types.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/conversation.json
  src/renderer/services/i18n/locales/ja-JP/conversation.json
  src/renderer/services/i18n/locales/ko-KR/conversation.json
  src/renderer/services/i18n/locales/tr-TR/conversation.json
  src/renderer/services/i18n/locales/zh-CN/conversation.json
  src/renderer/services/i18n/locales/zh-TW/conversation.json
  tests/unit/WorkspaceSnapshotService.test.ts
  tests/unit/fileChanges.test.ts
Due: typecheck, eslint, prettier

fix(gemini): ensure workspace dir exists before initialization (#1784)
  src/process/agent/gemini/index.ts
  tests/unit/geminiWorkspaceRecovery.test.ts
Due: typecheck, eslint, prettier

fix(acp): prevent white-screen crash from stale session restore (#1791)
  src/common/adapter/main.ts
  src/common/config/storage.ts
  src/index.ts
  src/process/agent/acp/AcpAdapter.ts
  src/process/agent/acp/index.ts
  src/process/task/AcpAgentManager.ts
  tests/unit/acpAdapterUserMessageChunk.test.ts
  tests/unit/acpSessionOwnership.test.ts
  tests/unit/adapterEmitGuard.test.ts
Due: typecheck, eslint, prettier

fix(preview): guard messageApi calls in handleOpenInSystem against unmounted context holder (#1793)
  src/renderer/pages/conversation/Preview/components/PreviewPanel/PreviewPanel.tsx
  tests/unit/previewPanelMessageApi.test.ts
Due: typecheck, eslint, prettier

chore(ci): disable Windows Defender before unit tests on windows-2022
  .github/workflows/pr-checks.yml
Due: none

fix(task): prevent unhandled rejection in getOrBuildTask (ELECTRON-A) (#1787)
  src/process/services/cron/WorkerTaskManagerJobExecutor.ts
  src/process/task/WorkerTaskManager.ts
  tests/unit/WorkerTaskManagerJobExecutor.test.ts
Due: typecheck, eslint, prettier

.md format
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-financial-model/creating.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/creating.md
Due: prettier

fix(pptPreview): handle promise rejection in startWatch ENOENT path (#1795)
  src/process/bridge/pptPreviewBridge.ts
  tests/unit/pptPreviewBridge.test.ts
Due: typecheck, eslint, prettier

fix(modelBridge): move OpenAI constructor inside try-catch to prevent unhandled rejection (#1797)
  src/process/bridge/modelBridge.ts
  tests/unit/bridge/modelBridge.test.ts
Due: typecheck, eslint, prettier
