Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(codex): update default model list to match codex-acp SDK
  src/agent/acp/AcpConnection.ts
  src/agent/codex/core/CodexAgent.ts
  src/agent/codex/handlers/CodexEventHandler.ts
  src/common/codex/codexModels.ts
  src/process/task/CodexAgentManager.ts
Due: typecheck, eslint, prettier

feat(notification): add agent task completion notification
  bun.lock
  src/common/ipcBridge.ts
  src/index.ts
  src/process/bridge/index.ts
  src/process/bridge/notificationBridge.ts
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

fix(codex): show latest GPT models in Guid page and conversation
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
  src/agent/acp/modelInfo.ts
  src/agent/codex/core/CodexAgent.ts
  src/agent/codex/handlers/CodexEventHandler.ts
  src/common/ipcBridge.ts
  src/process/bridge/acpConversationBridge.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/CodexAgentManager.ts
  src/renderer/components/AcpModelSelector.tsx
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
  src/types/acpTypes.ts
  tests/unit/acpModelInfo.test.ts
Due: typecheck, eslint, prettier

fix(notification): use project icon for system notifications
  src/index.ts
  src/process/bridge/notificationBridge.ts
Due: typecheck, eslint, prettier

feat(notification): navigate to conversation on notification click
  src/common/ipcBridge.ts
  src/process/bridge/notificationBridge.ts
  src/renderer/hooks/useNotificationClick.ts
  src/renderer/layout.tsx
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

chore: bump version to 1.8.23
  package.json
Due: prettier

feat(notification): show user message in notification body
  src/process/bridge/notificationBridge.ts
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/openclaw/OpenClawSendBox.tsx
Due: typecheck, eslint, prettier

feat(tray): enhance tray menu with new options
  src/index.ts
  src/renderer/i18n/locales/en-US/common.json
  src/renderer/i18n/locales/zh-CN/common.json
  src/renderer/layout.tsx
Due: typecheck, eslint, prettier

feat(tray): enhance tray menu with recent chats and task controls
  src/common/ipcBridge.ts
  src/index.ts
  src/process/bridge/index.ts
  src/process/bridge/taskBridge.ts
  src/renderer/i18n/locales/en-US/common.json
  src/renderer/i18n/locales/ja-JP/common.json
  src/renderer/i18n/locales/ko-KR/common.json
  src/renderer/i18n/locales/tr-TR/common.json
  src/renderer/i18n/locales/zh-CN/common.json
  src/renderer/i18n/locales/zh-TW/common.json
  src/renderer/layout.tsx
Due: typecheck, eslint, prettier

fix(tray): resolve i18n display and navigation issues
  src/index.ts
  src/preload.ts
  src/process/i18n/index.ts
  src/renderer/layout.tsx
Due: typecheck, eslint, prettier

基本本地Windows打包做了一些修复 (#1058)
  .gitignore
  justfile
  scripts/build-with-builder.js
Due: prettier

style(sendbox): refine slash command menu visual design (#1140)
  src/renderer/assets/logos/opencode-dark.svg
  src/renderer/assets/logos/opencode-light.svg
  src/renderer/components/SettingsModal/contents/ModelModalContent.tsx
  src/renderer/components/SlashCommandMenu.tsx
  src/renderer/components/sendbox.tsx
  src/renderer/styles/themes/base.css
  src/renderer/utils/agentLogo.ts
Due: typecheck, eslint, prettier

feat: 新增斜杠命令菜单组件并优化构建脚本
  .taichuy/docs/AionUi_Technical_Documentation.md
  justfile
  scripts/build-with-builder.js
  src/renderer/assets/logos/opencode-dark.svg
  src/renderer/assets/logos/opencode-light.svg
  src/renderer/components/SettingsModal/contents/ModelModalContent.tsx
  src/renderer/components/SlashCommandMenu.tsx
  src/renderer/components/sendbox.tsx
  src/renderer/styles/themes/base.css
  src/renderer/utils/agentLogo.ts
Due: typecheck, eslint, prettier

fix: real-time bidirectional language sync between desktop and WebUI (#1176)
  src/common/ipcBridge.ts
  src/process/bridge/systemSettingsBridge.ts
  src/renderer/i18n/index.ts
  src/renderer/styles/themes/base.css
Due: typecheck, eslint, prettier

fix: normalize updater metadata in release workflow to ensure deterministic builds
  .github/workflows/build-and-release.yml
  tests/e2e/report/index.html
  tests/e2e/results/.last-run.json
  tests/e2e/screenshots/agent-pill-bar.png
  tests/e2e/screenshots/agent-settings.png
  tests/e2e/screenshots/channels-settings.png
  tests/e2e/screenshots/display-settings.png
  tests/e2e/screenshots/ext-acp-agents.png
  tests/e2e/screenshots/ext-assistants.png
  tests/e2e/screenshots/ext-channels.png
  tests/e2e/screenshots/ext-mcp-servers.png
  tests/e2e/screenshots/ext-skills.png
  tests/e2e/screenshots/ext-themes.png
  tests/e2e/screenshots/guid-page.png
  tests/e2e/screenshots/settings-about.png
  tests/e2e/screenshots/settings-agent.png
  tests/e2e/screenshots/settings-display.png
  tests/e2e/screenshots/settings-gemini.png
  tests/e2e/screenshots/settings-model.png
  tests/e2e/screenshots/settings-system.png
  tests/e2e/screenshots/settings-tools.png
  tests/e2e/screenshots/settings-webui.png
  tests/e2e/screenshots/webui-settings.png
Due: prettier

chore: remove unrelated e2e test screenshots and reports
  tests/e2e/report/index.html
  tests/e2e/results/.last-run.json
  tests/e2e/screenshots/agent-pill-bar.png
  tests/e2e/screenshots/agent-settings.png
  tests/e2e/screenshots/channels-settings.png
  tests/e2e/screenshots/display-settings.png
  tests/e2e/screenshots/ext-acp-agents.png
  tests/e2e/screenshots/ext-assistants.png
  tests/e2e/screenshots/ext-channels.png
  tests/e2e/screenshots/ext-mcp-servers.png
  tests/e2e/screenshots/ext-skills.png
  tests/e2e/screenshots/ext-themes.png
  tests/e2e/screenshots/guid-page.png
  tests/e2e/screenshots/settings-about.png
  tests/e2e/screenshots/settings-agent.png
  tests/e2e/screenshots/settings-display.png
  tests/e2e/screenshots/settings-gemini.png
  tests/e2e/screenshots/settings-model.png
  tests/e2e/screenshots/settings-system.png
  tests/e2e/screenshots/settings-tools.png
  tests/e2e/screenshots/settings-webui.png
  tests/e2e/screenshots/webui-settings.png
Due: prettier

refactor: extract release metadata normalization into standalone script
  .github/workflows/build-and-release.yml
  scripts/prepare-release-assets.sh
Due: none

ci: add release script test to PR checks with mock artifacts
  .github/workflows/pr-checks.yml
Due: none

ci: extract release-script-test mock and verification scripts
  .github/workflows/pr-checks.yml
  scripts/create-mock-release-artifacts.sh
  scripts/verify-release-assets.sh
Due: none

fix(ci): tighten release metadata normalization safeguards
  scripts/create-mock-release-artifacts.sh
  scripts/prepare-release-assets.sh
  scripts/verify-release-assets.sh
Due: none

chore: update bun.lock with testing library dependencies
  bun.lock
Due: none

feat(conversation): 新增历史消息搜索功能
  src/common/ipcBridge.ts
  src/common/types/database.ts
  src/process/bridge/databaseBridge.ts
  src/process/database/index.ts
  src/renderer/i18n/locales/en-US/conversation.json
  src/renderer/i18n/locales/zh-CN/conversation.json
  src/renderer/messages/MessageList.tsx
  src/renderer/pages/conversation/context/ConversationTabsContext.tsx
  src/renderer/pages/conversation/grouped-history/ConversationSearchPopover.css
  src/renderer/pages/conversation/grouped-history/ConversationSearchPopover.tsx
  src/renderer/sider.tsx
Due: typecheck, eslint, prettier

fix(搜索): 优化搜索结果片段截取和高亮样式
  src/renderer/pages/conversation/grouped-history/ConversationSearchPopover.css
  src/renderer/pages/conversation/grouped-history/ConversationSearchPopover.tsx
Due: typecheck, eslint, prettier

chore: 删除已过时的技术文档文件
  .taichuy/docs/AionUi_Technical_Documentation.md
Due: prettier

chore: 忽略 .taichuy 目录下的所有文件
  .gitignore
Due: none

feat(acp): add context usage indicator for ACP-connected Claude Code sessions
  src/agent/acp/AcpAdapter.ts
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
  src/common/chatLib.ts
  src/common/storage.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/types/acpTypes.ts
Due: typecheck, eslint, prettier

fix: restore missing playwright.config.ts
  playwright.config.ts
Due: typecheck, eslint, prettier

perf(e2e): optimize E2E tests - 61% faster (3.6m → 1.4m)
  .github/workflows/pr-checks.yml
  tests/e2e/helpers/index.ts
  tests/e2e/helpers/navigation.ts
  tests/e2e/specs/acp-agent.e2e.ts
  tests/e2e/specs/app-launch.e2e.ts
  tests/e2e/specs/ext-acp.e2e.ts
  tests/e2e/specs/ext-channels.e2e.ts
  tests/e2e/specs/ext-discovery.e2e.ts
  tests/e2e/specs/ext-mcp.e2e.ts
  tests/e2e/specs/ext-skills.e2e.ts
  tests/e2e/specs/ext-themes-stability.e2e.ts
  tests/e2e/specs/extensions.e2e.ts
  tests/e2e/specs/navigation.e2e.ts
  tests/e2e/specs/webui.e2e.ts
Due: typecheck, eslint, prettier

feat(e2e): run E2E tests against packaged app on all 3 platforms
  .github/workflows/pr-checks.yml
  examples/e2e-full-extension/i18n/en-US/extension.json
  examples/e2e-full-extension/i18n/en-US/settings.json
  examples/e2e-full-extension/i18n/ja-JP/extension.json
  examples/e2e-full-extension/i18n/ja-JP/settings.json
  examples/e2e-full-extension/i18n/ko-KR/extension.json
  examples/e2e-full-extension/i18n/ko-KR/settings.json
  examples/e2e-full-extension/i18n/tr-TR/extension.json
  examples/e2e-full-extension/i18n/tr-TR/settings.json
  examples/e2e-full-extension/i18n/zh-CN/extension.json
  examples/e2e-full-extension/i18n/zh-CN/settings.json
  examples/e2e-full-extension/i18n/zh-TW/extension.json
  examples/e2e-full-extension/i18n/zh-TW/settings.json
  tests/e2e/fixtures.ts
Due: typecheck, eslint, prettier

refactor(ci): split build-test into build + build-verify, E2E reuses build artifacts
  .github/workflows/pr-checks.yml
Due: none

fix(ci): dynamically detect unpacked dir for macOS x64 cross-compile
  .github/workflows/pr-checks.yml
Due: none

test(ci): make i18n static-import assertion quote-agnostic
  .github/workflows/_build-reusable.yml
  .github/workflows/project-automation.yml
  tests/integration/i18n.test.ts
Due: typecheck, eslint, prettier

chore: fix lint and prettier issues for extensions and e2e
  playwright.config.ts
  src/agent/acp/AcpDetector.ts
  src/common/ipcBridge.ts
  src/extensions/ExtensionLoader.ts
  src/extensions/ExtensionRegistry.ts
  src/extensions/dependencyResolver.ts
  src/extensions/envResolver.ts
  src/extensions/fileResolver.ts
  src/extensions/hotReload.ts
  src/extensions/index.ts
  src/extensions/resolvers/AssistantResolver.ts
  src/extensions/resolvers/ChannelPluginResolver.ts
  src/extensions/resolvers/McpServerResolver.ts
  src/extensions/resolvers/ThemeResolver.ts
  src/extensions/types.ts
  src/process/bridge/channelBridge.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/layout.tsx
  tests/e2e/fixtures.ts
  tests/e2e/helpers/index.ts
  tests/e2e/helpers/screenshots.ts
  tests/e2e/specs/acp-agent.e2e.ts
  tests/e2e/specs/channels.e2e.ts
  tests/e2e/specs/ext-acp.e2e.ts
  tests/e2e/specs/ext-channels.e2e.ts
  tests/e2e/specs/ext-mcp.e2e.ts
  tests/e2e/specs/ext-skills.e2e.ts
  tests/e2e/specs/ext-themes-stability.e2e.ts
  tests/e2e/specs/navigation.e2e.ts
  tests/e2e/specs/webui.e2e.ts
  tsconfig.json
Due: typecheck, eslint, prettier

fix: resolve pre-commit check failures for e2e-and-extensions branch
  justfile
  package.json
  src/agent/acp/AcpConnection.ts
  src/channels/core/ChannelManager.ts
  src/renderer/i18n/i18n-keys.d.ts
  tests/integration/i18n-packaged.test.ts
  tests/unit/test_acp_connection_disconnect.ts
  x[0])
Due: typecheck, eslint, prettier

fix: align pr-checks workflow with upstream (no-frozen-lockfile, linux deps)
  .github/workflows/pr-checks.yml
Due: none

feat(acp): add context usage indicator for ACP-connected codex sessions
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/types/acpTypes.ts
Due: typecheck, eslint, prettier

feat(skills-hub): complete UI optimization, test suites and fix symlink detection
  .workspace/rules.md
  src/common/ipcBridge.ts
  src/process/bridge/fsBridge.ts
  src/renderer/i18n/locales/en-US/settings.json
  src/renderer/i18n/locales/zh-CN/settings.json
  src/renderer/pages/settings/AssistantManagement.tsx
  src/renderer/pages/settings/SettingsSider.tsx
  src/renderer/pages/settings/SkillsHubSettings.tsx
  src/renderer/router.tsx
  tests/unit/SkillsHubSettings.dom.test.tsx
  tests/unit/fsBridge.skills.test.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
