Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

chore: bump version to 1.8.30
  package.json
Due: prettier

ci(pr-checks): cancel runs on PR close and add skip_build_test option
  .github/workflows/pr-checks.yml
Due: none

docs: add project skills for architecture, testing, commit, and i18n
  .claude/skills/architecture/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/testing/SKILL.md
  docs/conventions/file-structure.md
Due: prettier

docs: streamline AGENTS.md with skill references and update CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: prettier

docs: add pull request skill and update AGENTS.md reference
  .claude/skills/pr/SKILL.md
  AGENTS.md
Due: prettier

docs(architecture): add directory size limit and components layering rules
  .claude/skills/architecture/SKILL.md
  docs/conventions/file-structure.md
Due: prettier

docs(architecture): add UI library, icon, and CSS conventions
  .claude/skills/architecture/SKILL.md
  AGENTS.md
  docs/conventions/file-structure.md
Due: prettier

docs: add directory size limit rule to AGENTS.md
  AGENTS.md
Due: prettier

fix(mobile): switch files sidebar from REST API to bridge protocol
  mobile/src/components/files/WorkspaceFilesSidebar.tsx
Due: typecheck, eslint, prettier

fix(mobile): replace hardcoded colors with theme tokens for dark mode
  mobile/app/(tabs)/settings/index.tsx
  mobile/src/components/chat/ToolCallBlock.tsx
  mobile/src/constants/theme.ts
Due: typecheck, eslint, prettier

docs(architecture): add renderer layer conventions for root layout, hooks/utils grouping, and page naming
  .claude/skills/architecture/SKILL.md
  docs/conventions/file-structure.md
Due: prettier

chore: remove redundant Claude-Specific Notes from CLAUDE.md
  CLAUDE.md
Due: prettier

docs(i18n): clarify trigger description for user-facing text
  .claude/skills/i18n/SKILL.md
  AGENTS.md
Due: prettier

docs(architecture): reorganize skill by three-layer model and define target project layout
  .claude/skills/architecture/SKILL.md
  docs/conventions/file-structure.md
Due: prettier

docs(architecture): add repository root directory organization rules
  .claude/skills/architecture/SKILL.md
  docs/conventions/file-structure.md
Due: prettier

fix(mobile): align bridge protocol with WebUI for conversation creation and listing
  mobile/src/context/ChatContext.tsx
  mobile/src/context/ConversationContext.tsx
Due: typecheck, eslint, prettier

chore(docs): remove legacy landing page files from docs/
  docs/index.html
  docs/style.css
Due: prettier

fix(tray): hide app to tray from tray menu
  src/process/tray.ts
  src/renderer/i18n/locales/en-US/common.json
  src/renderer/i18n/locales/ja-JP/common.json
  src/renderer/i18n/locales/ko-KR/common.json
  src/renderer/i18n/locales/tr-TR/common.json
  src/renderer/i18n/locales/zh-CN/common.json
  src/renderer/i18n/locales/zh-TW/common.json
  tests/unit/tray.test.ts
Due: typecheck, eslint, prettier

fix(test): update conversationBridge tray tests for DI refactor
  tests/unit/conversationBridge.tray.test.ts
Due: typecheck, eslint, prettier

fix(shellEnv): 修复Windows环境下npx路径验证逻辑
  src/process/utils/shellEnv.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

feat: add Novita provider integration
  src/renderer/assets/logos/novita.svg
  src/renderer/config/modelPlatforms.ts
Due: typecheck, eslint, prettier

fix(model-platforms): restore preset provider comment
  src/renderer/config/modelPlatforms.ts
Due: typecheck, eslint, prettier

fix(assets): use official novita logo
  src/renderer/assets/logos/novita.svg
Due: none

fix(model-platforms): align novita preset metadata
  src/renderer/config/modelPlatforms.ts
Due: typecheck, eslint, prettier

fix(chatLib): replace throw with console.warn for unsupported message types
  src/common/chatLib.ts
  tests/unit/transformMessage.test.ts
Due: typecheck, eslint, prettier

fix(pr-checks): stabilize ACP and favicon checks
  src/agent/acp/mcpSessionConfig.ts
  src/agent/gemini/cli/tools/img-gen.ts
  src/common/appEnv.ts
  src/process/builtinMcp/constants.ts
  src/process/builtinMcp/imageGenCore.ts
  src/process/builtinMcp/imageGenServer.ts
  src/process/initStorage.ts
  src/process/services/mcpServices/agents/ClaudeMcpAgent.ts
  src/process/utils.ts
  src/renderer/hooks/useConfigModelListWithImage.ts
  tests/integration/webui-favicon-build.test.ts
  tests/unit/acpSessionCapabilities.test.ts
  tests/unit/codexMcpAgent.test.ts
Due: typecheck, eslint, prettier

style(test): fix prettier formatting in transformMessage test
  tests/unit/transformMessage.test.ts
Due: typecheck, eslint, prettier

docs(skills): require test coverage verification in commit workflow
  .claude/skills/commit/SKILL.md
Due: prettier

refactor(commands): migrate pr-review to skill, remove pr-assess
  .claude/commands/oss-pr.md
  .claude/commands/pr-assess.md
  .claude/skills/pr-review/SKILL.md
  AGENTS.md
Due: prettier

fix(sentry): rewrite source map paths for GitHub code mapping
  electron.vite.config.ts
Due: typecheck, eslint, prettier

fix(test): pre-import electron mock to fix flaky tray test on Linux CI
  tests/unit/tray.test.ts
Due: typecheck, eslint, prettier

fix(image-gen-mcp): address follow-up review issues
  src/agent/gemini/cli/tools/img-gen.ts
  src/common/imageGenCore.ts
  src/common/storage.ts
  src/process/builtinMcp/constants.ts
  src/process/builtinMcp/imageGenServer.ts
  src/process/initStorage.ts
  src/renderer/components/SettingsModal/contents/ToolsModalContent.tsx
  src/renderer/pages/settings/McpManagement/index.tsx
  tests/unit/imageGenCore.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(fs): handle ENOENT in readDirectoryRecursive and bridge providers
  src/process/bridge/conversationBridge.ts
  src/process/bridge/fsBridge.ts
  src/process/utils.ts
  src/renderer/pages/conversation/grouped-history/hooks/useExport.ts
  tests/unit/readDirectoryRecursive.test.ts
Due: typecheck, eslint, prettier

chore(skills): add pr-fix skill and update oss-pr and pr-review skills
  .claude/commands/oss-pr.md
  .claude/skills/pr-fix/SKILL.md
  .claude/skills/pr-review/SKILL.md
  AGENTS.md
Due: prettier

docs(architecture): add testability rules and test file mapping
  .claude/skills/architecture/SKILL.md
Due: prettier

docs(conventions): sync testability rules and test file mapping to file-structure.md
  docs/conventions/file-structure.md
Due: prettier

refactor(skills): restructure architecture skill with progressive disclosure
  .claude/skills/architecture/SKILL.md
  .claude/skills/architecture/references/process.md
  .claude/skills/architecture/references/project-layout.md
  .claude/skills/architecture/references/renderer.md
Due: prettier

refactor(channels): replace old ConversationService with IConversationService singleton
  src/channels/actions/SystemActions.ts
  src/channels/gateway/ActionExecutor.ts
  src/process/services/conversationService.ts
  src/process/services/conversationServiceSingleton.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(cron): address review issues from PR #1447
  src/process/database/FallbackConversationRepository.ts
  src/process/services/cron/CronService.ts
  src/process/services/cron/ICronJobExecutor.ts
  src/process/services/cron/WorkerTaskManagerJobExecutor.ts
  tests/unit/WorkerTaskManager.test.ts
  tests/unit/cronService.test.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

refactor(bridge): inject IWorkerTaskManager into bridge init functions (Phase 2 PR-B)
  src/process/bridge/acpConversationBridge.ts
  src/process/bridge/applicationBridge.ts
  src/process/bridge/geminiConversationBridge.ts
  src/process/bridge/index.ts
  src/process/bridge/taskBridge.ts
  tests/unit/acpConversationBridge.test.ts
  tests/unit/applicationBridge.test.ts
  tests/unit/geminiConversationBridge.test.ts
  tests/unit/taskBridge.test.ts
Due: typecheck, eslint, prettier
