Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

perf(pr-automation): reduce Claude exit poll interval from 60s to 10s
  scripts/pr-automation.sh
Due: none

fix(shellBridge): validate URL before calling openExternal to prevent Invalid URL errors (#1767)
  src/process/bridge/shellBridge.ts
  src/process/bridge/shellBridgeStandalone.ts
  tests/unit/shellBridge.test.ts
  tests/unit/shellBridgeStandalone.test.ts
Due: typecheck, eslint, prettier

chore(pr-fix): skip LOW severity issues in fix run
  .claude/skills/pr-fix/SKILL.md
Due: prettier

feat(pr-automation): capture per-PR skip actions in iteration summary
  .claude/skills/pr-automation/SKILL.md
  scripts/pr-automation.sh
Due: prettier

docs(pr-automation): add BEHIND→update-branch path to flow diagram
  docs/conventions/pr-automation.md
Due: prettier

refactor(fix-sentry): migrate Sentry API logic from daemon to skill
  .claude/skills/fix-sentry/SKILL.md
  .claude/skills/fix-sentry/references/cdp-verification.md
  .claude/skills/fix-sentry/references/report-template.md
  .claude/skills/fix-sentry/references/triage-rules.md
  scripts/fix-sentry-daemon.sh
Due: prettier

style(fix-sentry): fix SKILL.md formatting for oxfmt
  .claude/skills/fix-sentry/SKILL.md
Due: prettier

docs(agents): fix bot:needs-fix label to bot:ready-to-fix in PR automation section
  AGENTS.md
Due: prettier

docs(agents): fix pr-automation section descriptions
  AGENTS.md
Due: prettier

fix(gemini): prevent unhandled rejection when bootstrap fails (#1769)
  src/process/agent/gemini/index.ts
  src/process/task/GeminiAgentManager.ts
  tests/unit/geminiBootstrapRejection.test.ts
Due: typecheck, eslint, prettier

feat(pr-automation): add bot:ready-to-merge label and large PR gate
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-review/SKILL.md
  AGENTS.md
  docs/conventions/pr-automation.md
Due: prettier

docs(pr-automation): fix misleading update-branch log comment
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore(pr-automation): redirect logs from /tmp to repo logs/ directory
  scripts/pr-automation.sh
Due: none

chore(pr-automation): use ~/Library/Logs/AionUi as default log directory
  AGENTS.md
  scripts/pr-automation.sh
Due: prettier

feat(pr-review): include PR discussion comments as review context in Step 6
  .claude/skills/pr-review/SKILL.md
Due: prettier

fix(acp): improve packaged codex startup fallback (#1594)
  src/process/agent/acp/acpConnectors.ts
  src/process/agent/acp/index.ts
  src/process/utils/shellEnv.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/getNpxCacheDir.test.ts
Due: typecheck, eslint, prettier

feat(pr-fix): handle fork PRs without maintainer push access
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-fix/SKILL.md
Due: prettier

feat(pr-automation): add bot:ci-waiting label to snooze stuck CI-failed PRs
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-review/SKILL.md
  AGENTS.md
  docs/conventions/pr-automation.md
Due: prettier

refactor(pr-automation): move ci-waiting wake-up to fallback after normal queue exhausted
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(webui): add pwa support (#1688)
  electron.vite.config.ts
  public/index.html
  public/manifest.webmanifest
  public/pwa/icon-180.png
  public/pwa/icon-192.png
  public/pwa/icon-512.png
  public/sw.js
  src/renderer/index.html
  src/renderer/main.tsx
  src/renderer/services/registerPwa.ts
  tests/integration/webui-pwa-build.test.ts
  tests/unit/renderer/services/registerPwa.dom.test.ts
  tests/unit/webuiServiceWorker.test.ts
  vite.renderer.config.ts
Due: typecheck, eslint, prettier

fix(search): make Cmd+F work when chat is in a folder or on mobile (#1692)
  src/renderer/pages/conversation/components/ChatLayout/index.tsx
  src/renderer/pages/conversation/components/ConversationTitleMinimap/index.tsx
  src/renderer/pages/conversation/components/ConversationTitleMinimap/minimapTypes.ts
  src/renderer/pages/conversation/components/ConversationTitleMinimap/minimapUtils.ts
  src/renderer/pages/conversation/components/ConversationTitleMinimap/useMinimapPanel.ts
  tests/unit/conversationTitleMinimap.dom.test.tsx
  tests/unit/minimapPanelWidth.dom.test.ts
Due: typecheck, eslint, prettier

refactor(pr-automation): defer update-branch to pre-merge instead of early exit
  .claude/skills/pr-automation/SKILL.md
Due: prettier

chore: bump version to 1.9.2
  package.json
Due: prettier

feat(agent): unify Agent management UI with dual-tab structure
  docs/feature/remote-agent/agent-management-prd-v1.md
  src/renderer/components/layout/Router.tsx
  src/renderer/components/settings/SettingsModal/contents/AgentModalContent.tsx
  src/renderer/components/settings/SettingsModal/contents/AssistantModalContent.tsx
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  src/renderer/pages/settings/AgentSettings/RemoteAgentManagement.tsx
  src/renderer/pages/settings/AgentSettings/RemoteAgents.tsx
  src/renderer/pages/settings/AssistantSettings.tsx
  src/renderer/pages/settings/components/SettingsSider.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/RemoteAgentManagement.dom.test.tsx
Due: typecheck, eslint, prettier

docs(agent): update PRD v1 to reflect actual implementation
  docs/feature/remote-agent/agent-management-prd-v1.md
Due: prettier

fix(agent): add missing Modal import for remote agent deletion
  src/renderer/pages/settings/AgentSettings/RemoteAgentManagement.tsx
Due: typecheck, eslint, prettier

fix(agent): resolve CI failures in remote agent UI PR
  src/renderer/components/settings/SettingsModal/contents/AgentModalContent.tsx
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  src/renderer/pages/settings/AgentSettings/RemoteAgentManagement.tsx
Due: typecheck, eslint, prettier

fix(guid): navigate to assistant settings instead of agent settings on pill bar + click
  src/renderer/pages/guid/components/AgentPillBar.tsx
Due: typecheck, eslint, prettier

.md format
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/creating.md
  src/process/resources/skills/officecli-docx/editing.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/creating.md
  src/process/resources/skills/officecli-pptx/editing.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/editing.md
Due: prettier

feat(pr-automation): make PR lookback window configurable via PR_DAYS_LOOKBACK env var
  .claude/skills/pr-automation/SKILL.md
  scripts/pr-automation.sh
Due: prettier

feat(weixin): add WebUI QR-code login via SSE (#1744)
  src/process/channels/plugins/weixin/WeixinLogin.ts
  src/process/channels/plugins/weixin/WeixinLoginHandler.ts
  src/process/webserver/routes/apiRoutes.ts
  src/process/webserver/routes/weixinLoginRoutes.ts
  src/renderer/components/settings/SettingsModal/contents/channels/WeixinConfigForm.tsx
  tests/unit/channels/weixinConfigForm.dom.test.tsx
  tests/unit/channels/weixinLogin.test.ts
  tests/unit/channels/weixinLoginHandler.test.ts
  tests/unit/weixinLoginRoutes.test.ts
Due: typecheck, eslint, prettier

fix(pr-automation): skip re-review when valid cached review exists
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(pr-automation): exclude update-branch merge commits from cached review check
  .claude/skills/pr-automation/SKILL.md
Due: prettier

update data-dashboard skills
  .claude/commands/package-assistant.md
  src/common/config/presets/assistantPresets.ts
  src/process/resources/assistant/dashboard-creator/dashboard-creator.md
  src/process/resources/assistant/dashboard-creator/dashboard-creator.zh-CN.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/creating.md
Due: typecheck, eslint, prettier

style: fix oxfmt formatting in markdown files
  .claude/commands/package-assistant.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/creating.md
Due: prettier

feat(assistant): add academic-paper & dashboard-creator assistants, enable office trio by default
  .claude/commands/package-assistant.md
  src/common/config/presets/assistantPresets.ts
  src/process/resources/assistant/academic-paper/academic-paper.md
  src/process/resources/assistant/academic-paper/academic-paper.zh-CN.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-academic-paper/creating.md
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

feat(assistant): enable academic-paper by default on homepage
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

fix(guid): swap plus button settings targets
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/guid/components/AssistantSelectionArea.tsx
Due: typecheck, eslint, prettier

fix(skills): align SKILL.md name field with directory name
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
Due: prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
