Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

feat(pr-fix): remove LOW inquiry and add automation mode support
  .claude/skills/pr-fix/SKILL.md
Due: prettier

fix(agent): add missing remoteAgent mock and regenerate i18n types
  src/renderer/services/i18n/i18n-keys.d.ts
  tests/unit/guidAgentSelection.dom.test.ts
Due: typecheck, eslint, prettier

feat(pr-review): add automation mode with non-interactive flow and result block
  .claude/skills/pr-review/SKILL.md
Due: prettier

feat(pr-automation): add main orchestrator skill
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(scripts): add pr-automation.sh entry script with PID-based lock
  scripts/pr-automation.sh
Due: none

docs(conventions): add pr-automation operational guide
  docs/conventions/pr-automation.md
Due: prettier

docs(agents): add PR automation section and skill index entry
  AGENTS.md
Due: prettier

chore(pr-automation): set STATUS_ISSUE_NUMBER to 1741
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(pr-automation): add merge conflict detection in Step 4.5
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(pr-automation): use bot:needs-fix for conflicts so bot auto-retries after rebase
  .claude/skills/pr-automation/SKILL.md
Due: prettier

docs(pr-automation): add cron management section (list, cancel, check running)
  docs/conventions/pr-automation.md
Due: prettier

test(agent): add unit tests for remote agent core, manager, and bridge
  tests/unit/RemoteAgentCore.test.ts
  tests/unit/RemoteAgentManager.test.ts
  tests/unit/remoteAgentBridge.test.ts
Due: typecheck, eslint, prettier

test(agent): increase remote agent test coverage for PR #1739
  tests/unit/RemoteAgentCore.test.ts
  tests/unit/RemoteAgentManagement.dom.test.tsx
  tests/unit/RemoteSendBox.dom.test.tsx
  tests/unit/remoteAgentBridge.test.ts
  tests/unit/useGuidSend.dom.test.ts
  tests/unit/usePresetAssistantInfo.dom.test.ts
Due: typecheck, eslint, prettier

fix(webui): inline NODE_ENV in main process build to ensure correct default port
  electron.vite.config.ts
Due: typecheck, eslint, prettier

fix(pr-automation): detect REPO and ORG dynamically instead of hardcoding
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(pr-automation): replace hardcoded <REPO> placeholder with $REPO variable in Step 4
  .claude/skills/pr-automation/SKILL.md
Due: prettier

docs(pr-automation): add refactor implementation plan for daemon mode and new label state machine
  docs/superpowers/plans/2026-03-26-pr-automation-refactor.md
Due: prettier

feat(pr-automation): replace cron script with daemon loop (single claude, timeout kill, detailed logging)
  scripts/pr-automation.sh
Due: none

feat(pr-automation): rewrite skill with new label state machine, dedup comments, auto-rebase, remove status board
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(pr-fix): remove Path A and SKIP_EXTERNAL, admin token supports pushing to any branch
  .claude/skills/pr-fix/SKILL.md
Due: prettier

docs(pr-automation): rewrite for daemon mode, new label state machine, dedup logic
  docs/conventions/pr-automation.md
Due: prettier

chore: bump @office-ai/aioncli-core to 0.30.2
  bun.lock
  package.json
Due: prettier

fix(pr-automation): abort in-progress rebase in cleanup to recover from timeout kills
  scripts/pr-automation.sh
Due: none

fix(fsBridge): handle EBUSY error in readFile/readFileBuffer by returning null
  src/process/bridge/fsBridge.ts
  tests/unit/process/bridge/fsBridge.readFile.test.ts
Due: typecheck, eslint, prettier

chore(pr-review): remove pr-assess-bot context step
  .claude/skills/pr-review/SKILL.md
Due: prettier

fix(health-check): prevent unhandled rejection when timeout fires during sendMessage
  src/renderer/components/settings/SettingsModal/contents/ModelModalContent.tsx
  tests/unit/healthCheckTimeout.test.ts
Due: typecheck, eslint, prettier

fix(pr-fix): require pr-review report in current session, abort if not found
  .claude/skills/pr-fix/SKILL.md
Due: prettier

fix(pr-automation): load review report into session before calling pr-fix in Step 3b
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(pr-automation): log Claude run duration per iteration
  scripts/pr-automation.sh
Due: none

feat(pr-automation): log claude session_id and reduce poll interval to 60s
  scripts/pr-automation.sh
Due: none

fix(fsBridge): address review issues from PR #1754
  tests/unit/process/bridge/fsBridge.readFile.test.ts
Due: typecheck, eslint, prettier

chore(fix-sentry): add daemon script and update skill for single-issue mode
  .claude/skills/fix-sentry/SKILL.md
  scripts/fix-sentry-daemon.sh
Due: prettier

fix(model-bridge): validate apiKey before creating OpenAI client in new-api branch (#1758)
  src/process/bridge/modelBridge.ts
  tests/unit/bridge/modelBridge.test.ts
Due: typecheck, eslint, prettier

feat(pr-automation): stream Claude output to human-readable per-iteration log
  scripts/pr-automation.sh
Due: none

feat(pr-automation): rename Claude log file to session_id after launch
  scripts/pr-automation.sh
Due: none

fix(initStorage): ensure parent directory exists before WriteFile to prevent ENOENT (#1761)
  src/process/utils/initStorage.ts
  tests/unit/process/initStorage.writeFile.test.ts
Due: typecheck, eslint, prettier

feat(pr-automation): handle BEHIND mergeStateStatus with update-branch in Step 4.5
  .claude/skills/pr-automation/SKILL.md
Due: prettier

fix(pr-automation): use head_sha to find action_required runs for fork PRs
  .claude/skills/pr-automation/SKILL.md
Due: prettier

feat(pr-automation): add structured exit summary logging
  .claude/skills/pr-automation/SKILL.md
  scripts/pr-automation.sh
Due: prettier

fix(workspace): prevent unhandled rejection on missing workspace directory (#1763)
  src/process/bridge/conversationBridge.ts
  src/renderer/pages/conversation/Workspace/hooks/useWorkspaceTree.ts
  src/renderer/pages/conversation/Workspace/index.tsx
  tests/unit/conversationBridge.test.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
