Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

chore: ignore kylindoc
  .gitignore
Due: none

feat: refine e2e flows and split PR artifact workflow
  .github/workflows/pr-checks.yml
  .github/workflows/pr-e2e-artifacts.yml
  src/extensions/resolvers/ChannelPluginResolver.ts
  src/renderer/components/SettingsModal/contents/WebuiModalContent.tsx
  src/renderer/components/SettingsModal/contents/channels/ChannelHeader.tsx
  src/renderer/components/SettingsModal/contents/channels/ChannelItem.tsx
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/settings/SettingsSider.tsx
  tests/e2e/helpers/assertions.ts
  tests/e2e/helpers/index.ts
  tests/e2e/helpers/navigation.ts
  tests/e2e/helpers/screenshots.ts
  tests/e2e/helpers/selectors.ts
  tests/e2e/specs/acp-agent.e2e.ts
  tests/e2e/specs/channels.e2e.ts
  tests/e2e/specs/ext-settings-tabs.e2e.ts
Due: typecheck, eslint, prettier

fix: embed screenshots in E2E HTML report for better CI debugging
  .github/workflows/pr-checks.yml
  .github/workflows/pr-e2e-artifacts.yml
  playwright.config.ts
  tests/e2e/fixtures.ts
Due: typecheck, eslint, prettier

feat: add E2E navigation helpers and justfile recipe
  justfile
  tests/e2e/helpers/index.ts
  tests/e2e/helpers/navigation.ts
Due: typecheck, eslint, prettier

feat: add extension e2e test specs
  tests/e2e/specs/ext-ipc-queries.e2e.ts
  tests/e2e/specs/ext-lifecycle.e2e.ts
  tests/e2e/specs/ext-permissions.e2e.ts
Due: typecheck, eslint, prettier

test: cover extension and no-extension e2e
  .gitignore
  examples/e2e-full-extension/channels/test-channel.js
  examples/ext-wecom-bot/aion-extension.json
  examples/ext-wecom-bot/dist/assets/ext-wecom-bot.svg
  examples/ext-wecom-bot/dist/channels/ext-wecom-bot-channel.js
  examples/ext-wecom-bot/dist/webui/webhook.js
  examples/star-office-extension/aion-extension.json
  examples/star-office-extension/contributes/settings-tabs.json
  justfile
  src/extensions/sandbox.ts
  src/process/bridge/channelBridge.ts
  src/process/database/index.ts
  src/process/database/types.ts
  src/renderer/components/SettingsModal/contents/channels/ChannelHeader.tsx
  src/renderer/components/WebviewHost.tsx
  src/renderer/i18n/i18n-keys.d.ts
  src/renderer/pages/settings/SettingsSider.tsx
  src/renderer/styles/themes/base.css
  tests/e2e/helpers/navigation.ts
  tests/e2e/specs/acp-agent.e2e.ts
  tests/e2e/specs/channels.e2e.ts
  tests/e2e/specs/ext-ipc-queries.e2e.ts
  tests/e2e/specs/ext-lifecycle.e2e.ts
  tests/e2e/specs/ext-no-extensions.e2e.ts
  tests/e2e/specs/ext-permissions.e2e.ts
  tests/e2e/specs/ext-webui-contrib.e2e.ts
Due: typecheck, eslint, prettier

test(e2e): fix channels coming-soon locator ambiguity
  tests/e2e/helpers/navigation.ts
  tests/e2e/specs/channels.e2e.ts
Due: typecheck, eslint, prettier

fix(channels): auto-disable stale unavailable plugins on startup
  src/channels/core/ChannelManager.ts
  src/extensions/ExtensionLoader.ts
  src/index.ts
  src/renderer/components/SettingsModal/contents/ChannelModalContent.tsx
  src/renderer/components/SettingsModal/contents/WebuiModalContent.tsx
  tests/e2e/specs/acp-agent.e2e.ts
Due: typecheck, eslint, prettier

fix(ci): stabilize mac smoke version check and prevent startup hangs
  src/index.ts
Due: typecheck, eslint, prettier

fix(acp): add two-phase retry to connectCodex and unify npx spawn logic
  src/agent/acp/AcpConnection.ts
Due: typecheck, eslint, prettier

refactor(acp): extract claude-agent-acp version into named constants
  src/agent/acp/AcpConnection.ts
  src/types/acpTypes.ts
Due: typecheck, eslint, prettier

style: fix prettier formatting in base.css
  src/renderer/styles/themes/base.css
Due: prettier

chore: remove accidentally created file
  x[0])
Due: none

fix(acp): implement Codex session resume via session/load
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
Due: typecheck, eslint, prettier

docs: rewrite CLAUDE.md and extract architecture details
  CLAUDE.md
  docs/tech/architecture.md
Due: prettier

feat(commands): add local pr-assess command
  .claude/commands/pr-assess.md
  .gitignore
Due: prettier

feat(commands): add local pr-review command
  .claude/commands/pr-review.md
Due: prettier

feat(commands): add bump-version command
  .claude/commands/bump-version.md
Due: prettier

fix(test): skip i18n-packaged test when renderer output is missing
  tests/integration/i18n-packaged.test.ts
Due: typecheck, eslint, prettier

update wx-group qr code
  readme.md
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
  resources/wechat_group3.png
  resources/wechat_group4.png
  resources/wx-group4.png
  resources/wx.png
Due: prettier

feat(mcp): add built-in image generation server
  electron.vite.config.ts
  src/agent/acp/AcpConnection.ts
  src/agent/acp/index.ts
  src/agent/acp/mcpSessionConfig.ts
  src/agent/gemini/cli/tools/conversation-tool-config.ts
  src/agent/gemini/cli/tools/img-gen.ts
  src/agent/gemini/index.ts
  src/common/storage.ts
  src/process/builtinMcp/constants.ts
  src/process/builtinMcp/imageGenCore.ts
  src/process/builtinMcp/imageGenServer.ts
  src/process/initStorage.ts
  src/process/services/mcpServices/agents/ClaudeMcpAgent.ts
  src/process/services/mcpServices/agents/CodexMcpAgent.ts
  src/process/task/GeminiAgentManager.ts
  src/renderer/components/SettingsModal/contents/ToolsModalContent.tsx
  src/renderer/hooks/useConfigModelListWithImage.ts
  src/renderer/pages/settings/McpManagement/McpServerHeader.tsx
  tests/unit/acpBuiltinMcp.test.ts
  tests/unit/claudeMcpAgent.test.ts
  tests/unit/codexMcpAgent.test.ts
Due: typecheck, eslint, prettier

refactor(acp): extract parseSessionCapabilities to eliminate duplication
  src/agent/acp/AcpConnection.ts
Due: typecheck, eslint, prettier

test(acp): add tests for loadSession and createOrResumeSession routing
  tests/unit/acpSessionCapabilities.test.ts
Due: typecheck, eslint, prettier

update UI
  src/renderer/components/CssThemeSettings/index.tsx
  src/renderer/components/SettingsModal/contents/DingTalkConfigForm.tsx
  src/renderer/components/SettingsModal/contents/LarkConfigForm.tsx
  src/renderer/components/SettingsModal/contents/TelegramConfigForm.tsx
  src/renderer/components/SettingsModal/contents/channels/ChannelHeader.tsx
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/guid/components/MentionDropdown.tsx
  src/renderer/pages/settings/AssistantManagement.tsx
  src/renderer/pages/settings/McpManagement/McpServerHeader.tsx
Due: typecheck, eslint, prettier

refactor: address post-merge review findings from PR #1161
  CLAUDE.md
  src/extensions/ExtensionRegistry.ts
  src/extensions/lifecycle.ts
  src/extensions/sandboxWorker.ts
  src/process/task/AcpAgentManager.ts
  vitest.config.ts
Due: typecheck, eslint, prettier

fix(test): format CONFIG_OPTIONS array inline to satisfy prettier
  CLAUDE.md
  tests/unit/acpSessionCapabilities.test.ts
Due: typecheck, eslint, prettier

chore: migrate oss-commit from global skill to project command
  .claude/commands/oss-commit.md
  AGENTS.md
  CLAUDE.md
Due: prettier

chore: rename oss-commit to oss-pr and add PR creation step
  .claude/commands/oss-commit.md
  .claude/commands/oss-pr.md
  CLAUDE.md
Due: prettier

feat: add reasoning effort selector for Gemini, ACP, and Codex (#1211)
  src/agent/acp/index.ts
  src/agent/gemini/index.ts
  src/common/ipcBridge.ts
  src/process/bridge/acpConversationBridge.ts
  src/process/bridge/geminiConversationBridge.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/GeminiAgentManager.ts
  src/renderer/components/AcpConfigSelector.tsx
  src/renderer/components/GeminiThinkingSelector.tsx
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/worker/gemini.ts
Due: typecheck, eslint, prettier

refactor: address PR review - remove unstable agents, add i18n, unify UI style
  src/agent/gemini/index.ts
  src/common/ipcBridge.ts
  src/process/bridge/geminiConversationBridge.ts
  src/process/task/GeminiAgentManager.ts
  src/renderer/components/AcpConfigSelector.tsx
  src/renderer/components/GeminiThinkingSelector.tsx
  src/renderer/i18n/locales/en-US/acp.json
  src/renderer/i18n/locales/ja-JP/acp.json
  src/renderer/i18n/locales/ko-KR/acp.json
  src/renderer/i18n/locales/tr-TR/acp.json
  src/renderer/i18n/locales/zh-CN/acp.json
  src/renderer/i18n/locales/zh-TW/acp.json
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/worker/gemini.ts
Due: typecheck, eslint, prettier

fix(codex): resolve mode switch errors and Full Auto permission behavior
  src/process/task/AcpAgentManager.ts
Due: typecheck, eslint, prettier

docs(readme): remove outdated development section from all READMEs, move to docs/
  docs/development.md
  readme.md
  readme_ch.md
  readme_es.md
  readme_jp.md
  readme_ko.md
  readme_pt.md
  readme_tr.md
  readme_tw.md
Due: prettier

chore: bump version to 1.8.24
  package.json
Due: prettier

feat(guid): add WebUI quick action with runtime status
  src/renderer/pages/guid/components/QuickActionButtons.tsx
Due: typecheck, eslint, prettier

revert(ui): remove sendbox glow/breathing effect
  src/renderer/components/sendbox.tsx
  src/renderer/styles/themes/base.css
Due: typecheck, eslint, prettier

feat(ui): refine chat/guid model-permission display and panel layout
  src/renderer/components/AcpModelSelector.tsx
  src/renderer/components/AgentModeSelector.tsx
  src/renderer/components/sendbox.tsx
  src/renderer/hooks/useResizableSplit.tsx
  src/renderer/i18n/locales/en-US.json
  src/renderer/i18n/locales/ja-JP.json
  src/renderer/i18n/locales/ko-KR.json
  src/renderer/i18n/locales/tr-TR.json
  src/renderer/i18n/locales/zh-CN.json
  src/renderer/i18n/locales/zh-TW.json
  src/renderer/pages/conversation/ChatLayout.tsx
  src/renderer/pages/conversation/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/codex/CodexSendBox.tsx
  src/renderer/pages/conversation/gemini/GeminiModelSelector.tsx
  src/renderer/pages/conversation/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/preview/components/PreviewPanel/PreviewToolbar.tsx
  src/renderer/pages/conversation/preview/components/viewers/ExcelViewer.tsx
  src/renderer/pages/cron/components/CronJobIndicator.tsx
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/components/AgentPillBar.tsx
  src/renderer/pages/guid/components/AssistantSelectionArea.tsx
  src/renderer/pages/guid/components/GuidActionRow.tsx
  src/renderer/pages/guid/components/GuidInputCard.tsx
  src/renderer/pages/guid/components/GuidModelSelector.tsx
  src/renderer/pages/guid/index.module.css
  src/renderer/styles/themes/base.css
  src/renderer/utils/agentUiDisplay.ts
Due: typecheck, eslint, prettier

tweak(guid): slow quick-action expansion and align webui status badge
  src/renderer/pages/guid/components/QuickActionButtons.tsx
Due: typecheck, eslint, prettier

fix(guid): smooth quick-action expand animation with content-hug width
  src/renderer/pages/guid/components/QuickActionButtons.tsx
Due: typecheck, eslint, prettier

tweak(guid): use webui icon color status and always route to webui settings
  src/renderer/pages/guid/components/QuickActionButtons.tsx
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
