Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for AionUi
# Ensures local checks match CI checks (TypeScript, ESLint, Prettier)
#
# Installation:
#   pip install pre-commit  (or: brew install pre-commit / choco install pre-commit)
#   prek install            (or: pre-commit install)
#
# Run manually on staged files (same as CI pre-commit):
#   prek run
#
# Run on changed files vs main (same as CI PR check):
#   prek run --from-ref origin/main --to-ref HEAD
#
# Run on all files:
#   prek run --all-files

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: end-of-file-fixer
        # Only fix text files, exclude binary files and special OS files
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin))$'
      - id: trailing-whitespace
        # Auto-fix trailing whitespace in text files
        # Excludes binary files (matching end-of-file-fixer pattern)
        exclude: '^(\.DS_Store|Thumbs\.db|.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf|pdf|zip|tar|gz|bz2|7z|exe|dll|so|dylib|node|bin|patch))$'

  # TypeScript type checking (full project check required)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Check
        entry: bunx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # ESLint (checks staged files only)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier (checks staged files only)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bun run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Commit message format (Conventional Commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --force-scope, feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

test: add coverage for P0/P1/P2 performance fixes
  tests/unit/adapterPayloadGuard.test.ts
  tests/unit/baseAgentManagerStop.test.ts
  tests/unit/browserAdapterReconnect.test.ts
  tests/unit/extensions/statePersistence.test.ts
  tests/unit/messageQueue.test.ts
Due: typecheck, eslint, prettier

fix: ensure modal dialog properly supports dark mode
  src/renderer/styles/arco-override.css
Due: prettier

fix(agent): resolve 'opencode' CLI not found
  src/process/utils/shellEnv.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

docs(readme): update wechat group qr code
  docs/readme/readme_ch.md
  docs/readme/readme_es.md
  docs/readme/readme_jp.md
  docs/readme/readme_ko.md
  docs/readme/readme_pt.md
  docs/readme/readme_tr.md
  docs/readme/readme_tw.md
  readme.md
  resources/wx-4.png
  resources/wx-5.png
  resources/wx-6.png
Due: prettier

.md format
  src/process/resources/skills/_builtin/office-cli/SKILL.md
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/editing.md
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/editing.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/editing.md
Due: prettier

feat(skills): sync officecli-pptx/docx/xlsx to v1.0.34
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/editing.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/editing.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/editing.md
Due: prettier

feat: hide team section and agent hub install entry in production
  src/renderer/components/layout/Sider/index.tsx
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
Due: typecheck, eslint, prettier

test: add unit tests for dev-only agent hub install guard
  electron.vite.config.ts
  tests/unit/LocalAgents.dom.test.tsx
  vite.renderer.config.ts
Due: typecheck, eslint, prettier

sync(skills): update 5 skill SKILL.md files with post-creation adjustment support
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
Due: prettier

feat(skills): sync built-in officecli skill to v1.0.34
  src/process/resources/skills/_builtin/office-cli/SKILL.md
Due: prettier

chore: bump version to 1.9.7
  package.json
Due: prettier

fix(acp): preserve Gemini-first order in refreshBuiltinAgents
  src/process/agent/acp/AcpDetector.ts
Due: typecheck, eslint, prettier

fix(aionrs): restrict Aion CLI to development environment only
  src/process/agent/aionrs/binaryResolver.ts
Due: typecheck, eslint, prettier

chore: ignore .claude/teams/ and iterations/ directories
  .gitignore
Due: none

feat(team): remove codebuddy backend and enable team in production (#2138)
  src/process/team/TeamMcpServer.ts
  src/process/team/TeammateManager.ts
  src/renderer/components/layout/Sider/index.tsx
  src/renderer/pages/team/components/agentSelectUtils.tsx
  tests/unit/team-agentSelectUtils.test.ts
Due: typecheck, eslint, prettier

fix(mcp): delegate HTTP connection test to SDK and preserve tool _meta (#2106)
  src/common/adapter/ipcBridge.ts
  src/common/config/storage.ts
  src/process/services/mcpServices/McpProtocol.ts
  src/renderer/hooks/mcp/useMcpConnection.ts
  tests/unit/process/services/mcpProtocol.test.ts
Due: typecheck, eslint, prettier

fix(standalone): resolve multiple electron imports breaking server mode (#2115)
  src/common/platform/ElectronPlatformServices.ts
  src/common/platform/IPlatformServices.ts
  src/common/platform/NodePlatformServices.ts
  src/common/platform/index.ts
  src/process/extensions/constants.ts
  src/process/extensions/hub/HubIndexManager.ts
  src/process/extensions/hub/HubInstaller.ts
  src/process/utils/initBridgeStandalone.ts
  src/process/utils/shellEnv.ts
  tests/unit/extensionConstants.test.ts
  tests/unit/hubIndexManager.test.ts
  tests/unit/hubInstaller.test.ts
  tests/unit/platform/platformRegistry.test.ts
  tests/unit/process/utils/initBridgeStandalone.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

fix(extensions): use immutable update in markExtensionForReinstall
  src/process/extensions/lifecycle/statePersistence.ts
Due: typecheck, eslint, prettier

fix(styles): remove incorrect arco-modal-wrapper dark mode override
  src/renderer/styles/arco-override.css
Due: prettier

fix(team): remove CodeBuddy references and filter out custom assistants from team creation (#2149)
  src/renderer/pages/team/components/AddAgentModal.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  src/renderer/services/i18n/locales/en-US/team.json
  src/renderer/services/i18n/locales/ja-JP/team.json
  src/renderer/services/i18n/locales/ko-KR/team.json
  src/renderer/services/i18n/locales/tr-TR/team.json
  src/renderer/services/i18n/locales/zh-CN/team.json
  src/renderer/services/i18n/locales/zh-TW/team.json
Due: typecheck, eslint, prettier

fix(conversation): keep queue above processing indicator
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/aionrs/AionrsSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  tests/unit/renderer/platformSendBoxes.dom.test.tsx
Due: typecheck, eslint, prettier

fix(team): ensure MCP server is rebuilt after app restart (#2156)
  src/common/adapter/ipcBridge.ts
  src/process/bridge/conversationBridge.ts
  src/process/bridge/index.ts
  src/process/bridge/teamBridge.ts
  src/renderer/pages/team/hooks/useTeamSession.ts
Due: typecheck, eslint, prettier

docs(ui): canonical ui-context with AOU design system and pr workflow (#2153)
  .claude/skills/oss-pr/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .github/pull_request_template.md
  AGENTS.md
  docs/conventions/ui-context.md
Due: prettier

refactor(sider): unify row alignment tokens across sidebar (#2161)
  src/renderer/components/layout/Layout.tsx
  src/renderer/components/layout/Sider/CronJobSiderItem.tsx
  src/renderer/components/layout/Sider/CronJobSiderSection.tsx
  src/renderer/components/layout/Sider/Sider.module.css
  src/renderer/components/layout/Sider/SiderFooter.tsx
  src/renderer/components/layout/Sider/SiderItem.tsx
  src/renderer/components/layout/Sider/SiderScheduledEntry.tsx
  src/renderer/components/layout/Sider/SiderSearchEntry.tsx
  src/renderer/components/layout/Sider/SiderToolbar.tsx
  src/renderer/components/layout/Sider/index.tsx
  src/renderer/pages/conversation/GroupedHistory/ConversationRow.tsx
  src/renderer/pages/conversation/GroupedHistory/ConversationSearchPopover.tsx
  src/renderer/pages/conversation/GroupedHistory/DragOverlayContent.tsx
  src/renderer/pages/conversation/GroupedHistory/index.tsx
  src/renderer/pages/conversation/components/WorkspaceCollapse.tsx
  src/renderer/pages/settings/components/SettingsSider.tsx
  src/renderer/styles/layout.css
  tests/unit/renderer/conversation/CronJobSiderSection.dom.test.tsx
Due: typecheck, eslint, prettier

Revert "docs(ui): canonical ui-context with AOU design system and pr workflow…" (#2163)
  .claude/skills/oss-pr/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .github/pull_request_template.md
  AGENTS.md
  docs/conventions/ui-context.md
Due: prettier

chore(i18n): fill missing translation keys across all locales (#2144)
  src/common/api/OpenAI2AnthropicConverter.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/common.json
  src/renderer/services/i18n/locales/en-US/conversation.json
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/en-US/team.json
  src/renderer/services/i18n/locales/ja-JP/common.json
  src/renderer/services/i18n/locales/ja-JP/conversation.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ja-JP/team.json
  src/renderer/services/i18n/locales/ko-KR/common.json
  src/renderer/services/i18n/locales/ko-KR/conversation.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/ko-KR/team.json
  src/renderer/services/i18n/locales/tr-TR/common.json
  src/renderer/services/i18n/locales/tr-TR/conversation.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/tr-TR/team.json
  src/renderer/services/i18n/locales/zh-CN/common.json
  src/renderer/services/i18n/locales/zh-CN/conversation.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-CN/team.json
  src/renderer/services/i18n/locales/zh-TW/common.json
  src/renderer/services/i18n/locales/zh-TW/conversation.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  src/renderer/services/i18n/locales/zh-TW/team.json
  tests/unit/openai2AnthropicConverter.test.ts
Due: typecheck, eslint, prettier

feat(chat): add @ workspace file mention in send box (#2125)
  src/common/adapter/ipcBridge.ts
  src/process/bridge/fsBridge.ts
  src/process/utils/utils.ts
  src/renderer/components/chat/AtFileMenu/index.tsx
  src/renderer/components/chat/sendbox.css
  src/renderer/components/chat/sendbox.tsx
  src/renderer/components/media/FilePreview.tsx
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/aionrs/AionrsSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  src/renderer/pages/conversation/platforms/remote/RemoteSendBox.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/messages.json
  src/renderer/services/i18n/locales/ja-JP/messages.json
  src/renderer/services/i18n/locales/ko-KR/messages.json
  src/renderer/services/i18n/locales/tr-TR/messages.json
  src/renderer/services/i18n/locales/zh-CN/messages.json
  src/renderer/services/i18n/locales/zh-TW/messages.json
  src/renderer/utils/chat/atFileQuery.ts
  src/renderer/utils/file/workspaceMentions.ts
  tests/unit/atFileQuery.test.ts
  tests/unit/fsBridge.skills.test.ts
  tests/unit/process/bridge/fsBridge.downloadRemoteBuffer.test.ts
  tests/unit/process/bridge/fsBridge.listWorkspaceFiles.test.ts
  tests/unit/process/bridge/fsBridge.readFile.test.ts
  tests/unit/process/bridge/fsBridge.standalone.test.ts
  tests/unit/readDirectoryRecursive.test.ts
  tests/unit/sendboxAtFileMenu.dom.test.tsx
  tests/unit/workspaceMentions.test.ts
Due: typecheck, eslint, prettier

fix(ui): dark theme readability and preset assistant identity
  src/common/utils/buildAgentConversationParams.ts
  src/renderer/components/chat/sendbox.tsx
  src/renderer/components/layout/Sider/SiderScheduledEntry.tsx
  src/renderer/hooks/agent/usePresetAssistantInfo.ts
  src/renderer/pages/conversation/GroupedHistory/ConversationSearchPopover.tsx
  src/renderer/pages/conversation/Messages/components/MessageCronTrigger.tsx
  src/renderer/pages/conversation/Messages/components/MessagetText.tsx
  src/renderer/pages/conversation/Messages/components/SelectionReplyButton.module.css
  src/renderer/pages/conversation/Messages/components/SelectionReplyButton.tsx
  src/renderer/pages/conversation/Messages/components/SkillSuggestCard.tsx
  src/renderer/pages/conversation/components/ChatConversation.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/cron/ScheduledTasksPage/TaskDetailPage.tsx
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
  src/renderer/pages/guid/hooks/useGuidSend.ts
Due: typecheck, eslint, prettier

fix(ui): use adaptive semantic tokens for dark theme readability
  src/process/services/mcpServices/McpProtocol.ts
  src/renderer/components/chat/sendbox.tsx
  src/renderer/pages/conversation/Messages/components/MessageCronTrigger.tsx
  src/renderer/pages/conversation/Messages/components/MessagetText.tsx
  src/renderer/pages/conversation/Messages/components/SelectionReplyButton.module.css
  src/renderer/pages/conversation/Messages/components/SkillSuggestCard.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/cron/ScheduledTasksPage/TaskDetailPage.tsx
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
Due: typecheck, eslint, prettier

fix(ui): use adaptive brand CSS vars for SelectionReplyButton dark mode
  src/renderer/pages/conversation/Messages/components/SelectionReplyButton.module.css
  src/renderer/pages/conversation/Messages/components/SelectionReplyButton.tsx
Due: typecheck, eslint, prettier

fix(ui): remove redundant !text-text-3 from TaskDetailPage back buttons
  src/renderer/pages/cron/ScheduledTasksPage/TaskDetailPage.tsx
Due: typecheck, eslint, prettier

fix(ui): fix dark theme for SelectionToolbar and SiderScheduledEntry active icon
  src/renderer/components/layout/Sider/SiderScheduledEntry.tsx
  src/renderer/pages/conversation/Preview/components/renderers/SelectionToolbar.tsx
Due: typecheck, eslint, prettier

fix(chat): show IME composition text in sendbox highlight overlay (#2165)
  src/renderer/components/chat/sendbox.tsx
  src/renderer/hooks/chat/useCompositionInput.ts
Due: typecheck, eslint, prettier

fix(agent): lazy mount AgentHubModal and remove auto mode option (#2164)
  docs/tech/acp-detector.md
  docs/tech/queue-and-acp-state.md
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  src/renderer/utils/model/agentModes.ts
  tests/unit/agentModes.test.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.9.8 (#2166)
  package.json
Due: prettier

fix(pet): resolve packaged animation paths
  src/renderer/pet/pet.html
  src/renderer/pet/petRenderer.ts
  tests/integration/pet-renderer-build.test.ts
Due: typecheck, eslint, prettier

fix(acp): bypass Windows .cmd shims for npx invocation to fix MODULE_NOT_FOUND
  src/process/agent/acp/acpConnectors.ts
  src/process/utils/shellEnv.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

test(acp): add resolveNpxDirect exception path coverage
  src/process/utils/shellEnv.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

fix(layout): hide team entry points
  src/common/config/constants.ts
  src/renderer/components/layout/Layout.tsx
  src/renderer/components/layout/Router.tsx
  src/renderer/components/layout/Sider/index.tsx
  src/renderer/components/layout/Titlebar/index.tsx
  tests/unit/renderer/components/layout/Router.team-route.dom.test.tsx
  tests/unit/renderer/components/layout/Sider.team-hidden.dom.test.tsx
Due: typecheck, eslint, prettier
