Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

docs: update stale paths in architecture.md, file-structure.md, and AGENTS.md
  AGENTS.md
  docs/conventions/file-structure.md
  docs/tech/architecture.md
Due: prettier

docs(skills): update coverage config references for glob-based include
  .claude/skills/architecture/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .claude/skills/testing/SKILL.md
Due: prettier

fix(mobile): align WebUI protocol — thought messages, confirmations, token refresh, dead connection detection
  mobile/src/components/chat/ChatInputBar.tsx
  mobile/src/components/chat/ConfirmationCard.tsx
  mobile/src/components/chat/MessageBubble.tsx
  mobile/src/context/ChatContext.tsx
  mobile/src/context/ConnectionContext.tsx
  mobile/src/context/ConversationContext.tsx
  mobile/src/context/WebSocketContext.tsx
  mobile/src/services/api.ts
  mobile/src/services/websocket.ts
  mobile/src/utils/messageAdapter.ts
Due: typecheck, eslint, prettier

fix(types): resolve 2 remaining TypeScript errors
  src/process/bridge/fsBridge.ts
  src/renderer/components/agent/AcpConfigSelector.tsx
Due: typecheck, eslint, prettier

fix: update stale paths from main branch merge
  .claude/skills/architecture/SKILL.md
  .claude/skills/pr-review/SKILL.md
  codecov.yml
  src/renderer/main.tsx
Due: typecheck, eslint, prettier

fix(builtin-mcp): make image-gen server runnable by external node in packaged app
  electron-builder.yml
  scripts/build-mcp-servers.js
  scripts/build-with-builder.js
  src/process/initStorage.ts
Due: typecheck, eslint, prettier

fix(builtin-mcp): update imageGenServer path after file move to resources/, fix oxfmt issues
  scripts/build-mcp-servers.js
  scripts/build-with-builder.js
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

docs: add webserver standalone design spec, implementation plan, and architecture diagrams
  docs/superpowers/diagrams/webserver-standalone-architecture.html
  docs/superpowers/diagrams/webui-message-flow.html
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
  docs/superpowers/specs/2026-03-20-webserver-standalone-design.md
Due: prettier

feat(adapter): add shared registry for WebSocket broadcasters and bridge emitter
  src/common/adapter/registry.ts
  tests/unit/registry.test.ts
Due: typecheck, eslint, prettier

docs(plan): mark Task 1 steps as completed in webserver-standalone plan
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
Due: prettier

refactor(adapter): delegate broadcaster/emitter state to registry.ts
  src/common/adapter/main.ts
Due: typecheck, eslint, prettier

docs(plan): mark Task 2 steps as completed in webserver-standalone plan
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
Due: prettier

refactor(webserver): import broadcaster/emitter from registry instead of main adapter
  src/process/webserver/adapter.ts
Due: typecheck, eslint, prettier

docs(plan): mark Task 3 steps as completed in webserver-standalone plan
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
Due: prettier

fix(builtin-mcp): address review issues from PR #1584
  scripts/build-mcp-servers.js
  scripts/build-with-builder.js
Due: prettier

feat(bridge): extract QR login helpers to webuiQR.ts (no Electron deps)
  src/process/bridge/__tests__/webuiQR.test.ts
  src/process/bridge/webuiBridge.ts
  src/process/bridge/webuiQR.ts
  src/process/webserver/index.ts
  tests/unit/webuiQR.test.ts
Due: typecheck, eslint, prettier

feat(process): add initBridgeStandalone — bridge init without Electron-only bridges
  src/process/utils/initBridgeStandalone.ts
Due: typecheck, eslint, prettier

feat(adapter): add standalone EventEmitter bridge adapter
  src/common/adapter/standalone.ts
  tests/unit/standaloneAdapter.test.ts
Due: typecheck, eslint, prettier

fix(storage): guard Electron-only calls and add DATA_DIR env var support
  src/process/utils/initStorage.ts
  src/process/utils/utils.ts
Due: typecheck, eslint, prettier

feat: add standalone server entry point (src/server.ts)
  src/server.ts
Due: typecheck, eslint, prettier

chore: add server and build:server npm scripts
  package.json
Due: prettier

feat: add Dockerfile for standalone server deployment
  Dockerfile
Due: none

docs(plan): mark all remaining tasks as completed in webserver-standalone plan
  docs/superpowers/plans/2026-03-20-webserver-standalone.md
Due: prettier

refactor(settings): restructure SystemModalContent, fix CDP switch, hide dev tools in production
  src/common/adapter/ipcBridge.ts
  src/index.ts
  src/process/utils/configureChromium.ts
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent.tsx
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/DevSettings.tsx
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/DirInputItem.tsx
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/PreferenceRow.tsx
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/index.tsx
  tests/unit/configureChromium.test.ts
Due: typecheck, eslint, prettier

fix(modelBridge): validate apiKey and base_url before use in fetchModelList
  src/process/bridge/modelBridge.ts
Due: typecheck, eslint, prettier

fix(utils): handle permission errors in readDirectoryRecursive
  src/process/utils/utils.ts
Due: typecheck, eslint, prettier

style(settings): fix formatting in SystemModalContent index.tsx
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/index.tsx
Due: typecheck, eslint, prettier

fix(test): add configEnabled to CDP status mocks in SystemModalContent tests
  tests/unit/SystemModalContent.dom.test.tsx
Due: typecheck, eslint, prettier

test(modelBridge): add unit tests for fetchModelList validation
  tests/unit/modelBridge.test.ts
Due: typecheck, eslint, prettier

test(utils): add EPERM/EACCES tests for readDirectoryRecursive
  tests/unit/readDirectoryRecursive.test.ts
Due: typecheck, eslint, prettier

fix(test): wait for event listener registration before firing event
  tests/unit/SystemModalContent.dom.test.tsx
Due: typecheck, eslint, prettier

fix(builtin-mcp): avoid storage side effects in image MCP constants
  src/process/resources/builtinMcp/constants.ts
Due: typecheck, eslint, prettier

fix(fsBridge): return null for ENOENT in readFile/readFileBuffer instead of throwing
  src/process/bridge/fsBridge.ts
  tests/unit/fsBridge.skills.test.ts
Due: typecheck, eslint, prettier

docs: add Platform Services design spec and implementation plan
  docs/superpowers/plans/2026-03-20-platform-services.md
  docs/superpowers/specs/2026-03-20-platform-services-design.md
Due: prettier

feat(platform): add IPlatformServices interface and registration singleton
  src/common/platform/IPlatformServices.ts
  src/common/platform/index.ts
  tests/unit/platform/platformRegistry.test.ts
Due: typecheck, eslint, prettier

feat(platform): add NodePlatformServices, ElectronPlatformServices, and wire entry points
  src/common/platform/ElectronPlatformServices.ts
  src/common/platform/IPlatformServices.ts
  src/common/platform/NodePlatformServices.ts
  src/common/platform/register-electron.ts
  src/common/platform/register-node.ts
  src/process/index.ts
  src/server.ts
  tests/unit/platform/NodePlatformServices.test.ts
Due: typecheck, eslint, prettier

feat(platform): introduce IPlatformServices DI layer for standalone mode
  src/common/config/appEnv.ts
  src/common/electronSafe.ts
  src/process/bridge/index.ts
  src/process/bridge/notificationBridge.ts
  src/process/extensions/constants.ts
  src/process/services/cron/CronService.ts
  src/process/services/mcpServices/McpProtocol.ts
  src/process/utils/initStorage.ts
  src/process/utils/mainWindowLifecycle.ts
  src/process/utils/tray.ts
  src/process/utils/utils.ts
  src/process/webserver/routes/staticRoutes.ts
  src/process/worker/fork/ForkTask.ts
  tests/unit/BaseAgentManagerDecouple.test.ts
  tests/unit/applicationBridge.test.ts
  tests/unit/common/appEnv.test.ts
  tests/unit/cronService.test.ts
  tests/unit/mainWindowLifecycle.test.ts
  tests/unit/tray.test.ts
  tests/vitest.setup.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
