Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(skills): fetch base branch before three-dot diff to prevent stale ref
  .claude/skills/pr-automation/SKILL.md
  .claude/skills/pr-review/SKILL.md
Due: prettier

feat(assistants): improve assistant management UI and i18n (#2089)
  src/renderer/components/settings/SettingsModal/contents/AssistantModalContent.tsx
  src/renderer/pages/settings/AgentSettings/AssistantManagement/AssistantEditDrawer.tsx
  src/renderer/pages/settings/AgentSettings/AssistantManagement/AssistantListPanel.tsx
  src/renderer/pages/settings/AgentSettings/AssistantManagement/assistantUtils.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/assistantUtils.test.ts
Due: typecheck, eslint, prettier

fix(theme): align light theme bg-1 to #F9FAFB (#2096)
  src/renderer/pages/settings/DisplaySettings/presets/default.css
  src/renderer/styles/colors.ts
  src/renderer/styles/themes/default-color-scheme.css
Due: typecheck, eslint, prettier

fix(platform): ensure dev userData isolation before first getPath call (#2098)
  src/common/platform/index.ts
  src/process/utils/configureChromium.ts
Due: typecheck, eslint, prettier

fix(env): pass full shell env to ACP backends (restore .zshrc vars) (#2093)
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/acpConnectors.ts
  src/process/utils/shellEnv.ts
  tests/unit/acpConnectionStartupExit.test.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

fix(logo): make aion cli icon circular (#2099)
  src/renderer/assets/logos/brand/aion.svg
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/DevSettings.tsx
  tests/unit/SystemModalContent.dom.test.tsx
Due: typecheck, eslint, prettier

fix(team): whitelist team-supported backends to claude, codex, codebuddy
  src/process/agent/acp/mcpSessionConfig.ts
  src/process/team/TeamMcpServer.ts
  src/renderer/pages/team/TeamPage.tsx
  src/renderer/pages/team/components/agentSelectUtils.tsx
  src/renderer/pages/team/hooks/useTeamSession.ts
  tests/unit/team-agentSelectUtils.test.ts
Due: typecheck, eslint, prettier

fix(team): filter leader prompt available agent types by whitelist
  src/process/team/TeammateManager.ts
Due: typecheck, eslint, prettier

fix(team): disable agent selector when no supported agents, add hint text and fix AddAgentModal filter
  src/renderer/pages/team/components/AddAgentModal.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/team.json
  src/renderer/services/i18n/locales/ja-JP/team.json
  src/renderer/services/i18n/locales/ko-KR/team.json
  src/renderer/services/i18n/locales/tr-TR/team.json
  src/renderer/services/i18n/locales/zh-CN/team.json
  src/renderer/services/i18n/locales/zh-TW/team.json
Due: typecheck, eslint, prettier

feat(acp): add AcpConfigSelector to Guid page and apply pending config options (#2100)
  src/common/adapter/ipcBridge.ts
  src/common/config/storage.ts
  src/process/agent/acp/index.ts
  src/process/services/cron/cronSkillFile.ts
  src/process/task/AcpAgentManager.ts
  src/renderer/components/agent/AcpConfigSelector.tsx
  src/renderer/pages/conversation/components/ChatConversation.tsx
  src/renderer/pages/conversation/platforms/acp/AcpChat.tsx
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/components/GuidActionRow.tsx
  src/renderer/pages/guid/hooks/useGuidAgentSelection.ts
  src/renderer/pages/guid/hooks/useGuidSend.ts
  tests/unit/acpPendingConfigOptions.test.ts
  tests/unit/channelConversation-import.test.ts
  tests/unit/useGuidSend.dom.test.ts
Due: typecheck, eslint, prettier

fix(team): correct team_spawn_agent tool description to match actual whitelist
  scripts/team-mcp-stdio.mjs
Due: none

style: format useGuidSend.ts for oxfmt
  src/renderer/pages/guid/hooks/useGuidSend.ts
Due: typecheck, eslint, prettier

feat(mcp): import opencode servers (#2061)
  src/process/services/mcpServices/McpService.ts
  src/process/services/mcpServices/agents/OpencodeMcpAgent.ts
  tests/unit/acpBuiltinMcp.test.ts
  tests/unit/process/opencodeMcpAgent.test.ts
Due: typecheck, eslint, prettier

fix(cron): remove redundant classNames ternary in task card
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
Due: typecheck, eslint, prettier

fix(cron): polish scheduled tasks ui
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CronStatusTag.tsx
  src/renderer/pages/cron/ScheduledTasksPage/TaskDetailPage.tsx
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
  src/renderer/pages/cron/cronUtils.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/cron.json
  src/renderer/services/i18n/locales/ja-JP/cron.json
  src/renderer/services/i18n/locales/ko-KR/cron.json
  src/renderer/services/i18n/locales/tr-TR/cron.json
  src/renderer/services/i18n/locales/zh-CN/cron.json
  src/renderer/services/i18n/locales/zh-TW/cron.json
  tests/unit/renderer/conversation/CreateTaskDialog.dom.test.tsx
  tests/unit/renderer/conversation/ScheduledTasksPage.dom.test.tsx
  tests/unit/renderer/conversation/TaskDetailPage.dom.test.tsx
Due: typecheck, eslint, prettier

fix(cron): refine scheduled tasks page layout
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
  tests/unit/renderer/conversation/ScheduledTasksPage.dom.test.tsx
Due: typecheck, eslint, prettier

fix(cron): replace inline styles with UnoCSS classes and unify history UI
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
  src/renderer/pages/cron/ScheduledTasksPage/CronStatusTag.tsx
  src/renderer/pages/cron/ScheduledTasksPage/TaskDetailPage.tsx
  src/renderer/pages/cron/ScheduledTasksPage/index.tsx
  tests/unit/renderer/conversation/TaskDetailPage.dom.test.tsx
Due: typecheck, eslint, prettier

fix(startup): prevent premature window creation blocking initStorage
  src/index.ts
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/acpConnectors.ts
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

fix(acp): remove dead buildAcpModelInfo call after log removal
  src/process/agent/acp/AcpConnection.ts
Due: typecheck, eslint, prettier

chore(hub): update hub tag to dist-594aa7e (#2108)
  .github/workflows/_build-reusable.yml
Due: none

feat(agent): add fixed-width pill buttons with marquee scroll on hover (#2090)
  src/renderer/components/agent/AcpConfigSelector.tsx
  src/renderer/components/agent/AcpModelSelector.tsx
  src/renderer/components/agent/AgentModeSelector.tsx
  src/renderer/components/agent/MarqueePillLabel.tsx
  src/renderer/components/chat/sendbox.css
  tests/unit/MarqueePillLabel.dom.test.tsx
Due: typecheck, eslint, prettier

chore: bump version to 1.9.6 (#2109)
  package.json
Due: prettier

perf(storage): replace FileBuilder serial queue with in-memory cached store (#2112)
  src/process/utils/initStorage.ts
  tests/unit/process/initStorage.jsonFileBuilder.test.ts
Due: typecheck, eslint, prettier

fix(security): pin axios version and enforce frozen lockfile in CI (#2118)
  .github/workflows/_build-reusable.yml
  .github/workflows/pr-checks-docs.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-e2e-artifacts.yml
  mobile/package.json
Due: prettier

feat(hub): make remote index override local index on name conflict
  .github/workflows/_build-reusable.yml
  src/common/types/acpTypes.ts
  src/process/extensions/hub/HubIndexManager.ts
  tests/integration/acp-smoke.test.ts
  tests/unit/hubIndexManager.test.ts
  tests/unit/team-agentSelectUtils.test.ts
Due: typecheck, eslint, prettier

fix(conversation): block sends while busy when queue is off
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/aionrs/AionrsSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  tests/unit/renderer/platformSendBoxes.dom.test.tsx
Due: typecheck, eslint, prettier

fix(conversation): make command queue opt-in
  src/common/adapter/ipcBridge.ts
  src/common/config/storage.ts
  src/process/bridge/systemSettingsBridge.ts
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/index.tsx
  src/renderer/hooks/system/useCommandQueueEnabled.ts
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/aionrs/AionrsSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  src/renderer/pages/conversation/platforms/useConversationCommandQueue.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/SystemModalContent.dom.test.tsx
  tests/unit/renderer/conversationCommandQueue.dom.test.tsx
  tests/unit/renderer/conversationCommandQueue.test.ts
  tests/unit/renderer/platformSendBoxes.dom.test.tsx
Due: typecheck, eslint, prettier

test(settings): fix command queue async mocks
  tests/unit/SystemModalContent.dom.test.tsx
Due: typecheck, eslint, prettier

fix: resolve UI freeze, crash, and memory leak issues
  src/common/adapter/browser.ts
  src/common/adapter/main.ts
  src/process/bridge/authBridge.ts
  src/process/bridge/conversationBridge.ts
  src/process/extensions/ExtensionRegistry.ts
  src/process/extensions/hub/HubInstaller.ts
  src/process/extensions/hub/HubStateManager.ts
  src/process/extensions/lifecycle/statePersistence.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/BaseAgentManager.ts
  src/process/utils/message.ts
Due: typecheck, eslint, prettier

feat(skills): sync officecli skills to R9 (#2052)
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/morph-helpers.py
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-academic-paper/creating.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/creating.md
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/creating.md
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-financial-model/creating.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/creating.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/creating.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/creating.md
Due: prettier

fix: update tests for async statePersistence and fix oxfmt formatting
  src/common/adapter/main.ts
  tests/unit/extensions/statePersistence.test.ts
Due: typecheck, eslint, prettier

feat(skills): sync officecli-pptx/docx/xlsx to v1.0.34
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/editing.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/editing.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/editing.md
Due: prettier

feat(skills): sync built-in officecli skill to v1.0.34
  src/process/resources/skills/_builtin/office-cli/SKILL.md
Due: prettier

sync(skills): update 5 skill SKILL.md files with post-creation adjustment support
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
Due: prettier

.md format
  src/process/resources/skills/_builtin/office-cli/SKILL.md
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/officecli-academic-paper/SKILL.md
  src/process/resources/skills/officecli-data-dashboard/SKILL.md
  src/process/resources/skills/officecli-docx/SKILL.md
  src/process/resources/skills/officecli-docx/editing.md
  src/process/resources/skills/officecli-financial-model/SKILL.md
  src/process/resources/skills/officecli-pitch-deck/SKILL.md
  src/process/resources/skills/officecli-pptx/SKILL.md
  src/process/resources/skills/officecli-pptx/editing.md
  src/process/resources/skills/officecli-xlsx/SKILL.md
  src/process/resources/skills/officecli-xlsx/editing.md
Due: prettier

bump version to 1.9.6
  package.json
Due: prettier

style(queue): align oxfmt formatting
  src/renderer/components/settings/SettingsModal/contents/SystemModalContent/index.tsx
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  src/renderer/pages/conversation/platforms/aionrs/AionrsSendBox.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiSendBox.tsx
  src/renderer/pages/conversation/platforms/nanobot/NanobotSendBox.tsx
  src/renderer/pages/conversation/platforms/openclaw/OpenClawSendBox.tsx
  tests/unit/SystemModalContent.dom.test.tsx
  tests/unit/renderer/platformSendBoxes.dom.test.tsx
Due: typecheck, eslint, prettier

chore(hub): update hub tag to dist-ebc6a2b
  .github/workflows/_build-reusable.yml
Due: none

chore(acp): bump codebuddy bridge version to 2.70.1
  src/common/types/acpTypes.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
