Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

chore: split server scripts into build and start steps
  package.json
Due: prettier

perf(morph-ppt): streamline PPT generation workflow
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/decision-rules.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/quality-gates.md
Due: prettier

fix(skills): force overwrite bundled skills on startup
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

docs: add run modes and WebSocket bridge overview to architecture
  docs/tech/architecture.md
Due: prettier

style(morph-ppt): improve assistant example prompts
  src/common/config/presets/assistantPresets.ts
Due: typecheck, eslint, prettier

style(morph-ppt): improve agent-friendliness of skill docs
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/quality-gates.md
Due: prettier

style(morph-ppt): translate all style references to English
  src/process/resources/skills/morph-ppt/reference/styles/INDEX.md
  src/process/resources/skills/morph-ppt/reference/styles/bw--brutalist-raw/style.md
  src/process/resources/skills/morph-ppt/reference/styles/bw--mono-line/style.md
  src/process/resources/skills/morph-ppt/reference/styles/bw--swiss-bauhaus/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--architectural-plan/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--blueprint-grid/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--circle-digital/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--creative-gradient/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--diagonal-cut/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--editorial-story/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--investor-pitch/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--liquid-flow/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--premium-navy/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--retro-terminal/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--spotlight-stage/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-architecture/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--bold-type/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--isometric-clean/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--minimal-corporate/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--minimal-product/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--project-proposal/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--spring-launch/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--training-interactive/style.md
  src/process/resources/skills/morph-ppt/reference/styles/light--watercolor-wash/style.md
  src/process/resources/skills/morph-ppt/reference/styles/mixed--duotone-split/style.md
  src/process/resources/skills/morph-ppt/reference/styles/vivid--candy-stripe/style.md
  src/process/resources/skills/morph-ppt/reference/styles/vivid--playful-marketing/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--brand-refresh/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--creative-marketing/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--earth-organic/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--organic-sweet/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-blocks/style.md
Due: prettier

style: format skill docs and presets with oxfmt
  src/common/config/presets/assistantPresets.ts
  src/process/resources/skills/_builtin/office-cli/SKILL.md
  src/process/resources/skills/morph-ppt/reference/decision-rules.md
Due: typecheck, eslint, prettier

style(morph-ppt): update assistant example prompts
  src/common/config/presets/assistantPresets.ts
Due: typecheck, eslint, prettier

feat(morph-ppt): expand style library with 8 production-quality templates
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/styles/INDEX.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--cosmic-neon/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--cosmic-neon/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--creative-gradient/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--creative-gradient/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--cyber-future/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--cyber-future/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--luxury-minimal/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--luxury-minimal/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--neon-productivity/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--neon-productivity/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--retro-terminal/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--retro-terminal/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--space-odyssey/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--space-odyssey/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-architecture/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-architecture/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-cosmos/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-cosmos/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--minimal-brand/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--minimal-brand/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--organic-sweet/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--organic-sweet/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-blocks/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-blocks/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-organic/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-organic/style.md
Due: prettier

fix(morph-ppt): add top-3 common errors to shell script rules
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
Due: prettier

style(morph-ppt): deduplicate per-slide checklist in SKILL.md
  src/process/resources/skills/morph-ppt/SKILL.md
Due: prettier

style(morph-ppt): clarify agent picks topic in example prompt
  src/common/config/presets/assistantPresets.ts
Due: typecheck, eslint, prettier

fix(morph-ppt): change clone strategy from slide-1 to previous-slide
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

style(morph-ppt): add batch example for clone-from-previous strategy
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

fix(morph-ppt): replace batch JSON with individual set commands
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

style(morph-ppt): simplify generation strategy section
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

style(morph-ppt): fix contradictions and reduce noise in skill docs
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

refactor(morph-ppt): scene actors persist, content added fresh per slide
  src/process/resources/skills/morph-ppt/SKILL.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/quality-gates.md
Due: prettier

style(morph-ppt): clean up design doc for first-time agent readability
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

style(morph-ppt): final polish on design doc
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
Due: prettier

style(morph-ppt): consolidate command rules and add troubleshooting
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
Due: prettier

fix(mobile): replace setTimeout token refresh with heartbeat-driven mechanism
  mobile/src/context/ConnectionContext.tsx
  mobile/src/services/websocket.ts
  mobile/src/utils/jwt.ts
Due: typecheck, eslint, prettier

update officecli usage
  src/process/resources/skills/_builtin/office-cli/SKILL.md
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
Due: prettier

fix(workspace): address review issues from PR #1613
  src/process/utils/initStorage.ts
  src/renderer/pages/conversation/Workspace/hooks/useWorkspaceEvents.ts
  src/renderer/pages/conversation/Workspace/hooks/useWorkspaceTree.ts
Due: typecheck, eslint, prettier

chore: apply oxfmt formatting to skill and reference files
  src/process/resources/skills/_builtin/office-cli/SKILL.md
  src/process/resources/skills/morph-ppt/reference/officecli-pptx-min.md
  src/process/resources/skills/morph-ppt/reference/pptx-design.md
  src/process/resources/skills/morph-ppt/reference/styles/INDEX.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--cosmic-neon/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--cyber-future/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--luxury-minimal/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--neon-productivity/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--space-odyssey/style.md
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-cosmos/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--minimal-brand/style.md
  src/process/resources/skills/morph-ppt/reference/styles/warm--playful-organic/style.md
Due: prettier

chore: fix trailing whitespace and end-of-file in build.sh files
  src/process/resources/skills/morph-ppt/reference/styles/bw--mono-line/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--cyber-future/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--luxury-minimal/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--premium-navy/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--tech-cosmos/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--earth-organic/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/warm--minimal-brand/build.sh
Due: none

chore: add missing end-of-file newline to build.sh files
  src/process/resources/skills/morph-ppt/reference/styles/dark--editorial-story/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/dark--investor-pitch/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--minimal-corporate/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--minimal-product/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--project-proposal/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--spring-launch/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/light--training-interactive/build.sh
  src/process/resources/skills/morph-ppt/reference/styles/vivid--playful-marketing/build.sh
Due: none

docs: clarify code quality checks and add prek PR verification guide
  AGENTS.md
Due: prettier

fix(skills): resolve dev mode skill discovery failure
  src/process/utils/initStorage.ts
Due: typecheck, eslint, prettier

update assistant rule
  src/process/resources/assistant/morph-ppt/morph-ppt.md
  src/process/resources/assistant/morph-ppt/morph-ppt.zh-CN.md
Due: prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
