Repository hl128k/AionUi: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript Check
  entry: bunx tsc --noEmit
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bun run format:check
  language: system
  pass_filenames: false

fix(feedback): use hint.attachments to avoid Sentry IPC binary data corruption
  src/renderer/components/settings/SettingsModal/contents/FeedbackReportModal.tsx
Due: typecheck, eslint, prettier

feat(channels): add WeCom channel
  src/common/config/storage.ts
  src/process/bridge/channelBridge.ts
  src/process/channels/actions/PlatformActions.ts
  src/process/channels/actions/SystemActions.ts
  src/process/channels/agent/ChannelMessageService.ts
  src/process/channels/core/ChannelManager.ts
  src/process/channels/gateway/ActionExecutor.ts
  src/process/channels/gateway/PluginManager.ts
  src/process/channels/index.ts
  src/process/channels/plugins/index.ts
  src/process/channels/plugins/wecom/WecomCrypto.ts
  src/process/channels/plugins/wecom/WecomPlugin.ts
  src/process/channels/plugins/wecom/WecomStreamState.ts
  src/process/channels/types.ts
  src/process/services/database/index.ts
  src/process/webserver/routes/apiRoutes.ts
  src/process/webserver/routes/wecomChannelRoutes.ts
  src/process/webserver/setup.ts
  src/renderer/components/settings/SettingsModal/contents/channels/ChannelModalContent.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/WecomConfigForm.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/ru-RU/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/channelConversation-import.test.ts
  tests/unit/channels/wecomCrypto.test.ts
  tests/unit/channels/weixinSystemActions.test.ts
Due: typecheck, eslint, prettier

fix Supplementary Unit Testing
  scripts/debug-wecom-verify-url.ts
  tests/unit/ChannelModelSelectionRestore.dom.test.tsx
Due: typecheck, eslint, prettier

feat(feedback): refine bug report modal flow
  src/renderer/components/settings/SettingsModal/contents/FeedbackReportModal.tsx
  src/renderer/components/settings/SettingsModal/contents/feedbackModules.ts
  src/renderer/pages/guid/GuidPage.tsx
  src/renderer/pages/guid/components/QuickActionButtons.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/settings.json
  src/renderer/services/i18n/locales/ja-JP/settings.json
  src/renderer/services/i18n/locales/ko-KR/settings.json
  src/renderer/services/i18n/locales/ru-RU/settings.json
  src/renderer/services/i18n/locales/tr-TR/settings.json
  src/renderer/services/i18n/locales/zh-CN/settings.json
  src/renderer/services/i18n/locales/zh-TW/settings.json
  tests/unit/FeedbackReportModal.dom.test.tsx
  tests/unit/feedbackModules.test.ts
  tests/unit/renderer/components/QuickActionButtons.dom.test.tsx
Due: typecheck, eslint, prettier

feat(team): refine team onboarding and escalation
  src/process/resources/prompts/teamGuidePrompt.ts
  src/process/task/GeminiAgentManager.ts
  src/renderer/pages/conversation/platforms/acp/AcpChat.tsx
  src/renderer/pages/conversation/platforms/gemini/GeminiChat.tsx
  src/renderer/pages/team/TeamPage.tsx
  src/renderer/pages/team/components/TeamAgentIdentity.tsx
  src/renderer/pages/team/components/TeamChatEmptyState.tsx
  src/renderer/pages/team/components/TeamChatView.tsx
  src/renderer/pages/team/components/TeamTabs.tsx
  tests/unit/renderer/team/TeamAgentIdentity.dom.test.tsx
  tests/unit/renderer/team/TeamEmptyState.dom.test.tsx
  tests/unit/teamGuideWhitelist.test.ts
Due: typecheck, eslint, prettier

fix(cron): allow switching from custom frequency in edit mode
  src/renderer/pages/cron/ScheduledTasksPage/CreateTaskDialog.tsx
Due: typecheck, eslint, prettier

fix(channels): address review issues from PR #2323
  src/process/bridge/fileWatchBridge.ts
  src/process/channels/plugins/wecom/WecomPlugin.ts
  src/process/channels/plugins/wecom/WecomStreamState.ts
Due: typecheck, eslint, prettier

fix(modal): improve dialog contrast across themes
  src/renderer/components/base/AionModal.tsx
  src/renderer/pages/settings/AgentSettings/LocalAgents.tsx
  src/renderer/pages/settings/AgentSettings/RemoteAgentManagement.tsx
  src/renderer/pages/settings/components/AddModelModal.tsx
  src/renderer/pages/settings/components/AddPlatformModal.tsx
  src/renderer/pages/settings/components/EditModeModal.tsx
  src/renderer/pages/settings/components/JsonImportModal.tsx
  src/renderer/pages/settings/components/OneClickImportModal.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  src/renderer/styles/arco-override.css
  src/renderer/styles/layout.css
  tests/unit/LocalAgents.dom.test.tsx
  tests/unit/renderer/components/AionModal.dom.test.tsx
  tests/unit/renderer/team/TeamCreateModal.dom.test.tsx
Due: typecheck, eslint, prettier

fix(sendbox): align send and stop button states
  src/renderer/components/chat/sendbox.css
  src/renderer/components/chat/sendbox.tsx
  tests/unit/sendboxQueue.dom.test.tsx
Due: typecheck, eslint, prettier

feat(team): confirm teammate lineup before spawning
  src/process/resources/teamMcp/teamMcpStdio.ts
  src/process/resources/teamMcp/toolDescriptions.ts
  src/process/team/adapters/xmlFallbackAdapter.ts
  src/process/team/prompts/leadPrompt.ts
  src/process/team/prompts/teammatePrompt.ts
  tests/unit/process/team/leadPrompt.test.ts
  tests/unit/process/team/teamMcpToolDescriptions.test.ts
  tests/unit/process/team/teammatePrompt.test.ts
  tests/unit/team-xmlFallbackAdapter.test.ts
Due: typecheck, eslint, prettier

feat(conversation): improve voice input recording feedback
  src/renderer/components/chat/SpeechInputButton.tsx
  src/renderer/components/chat/sendbox.css
  src/renderer/hooks/system/useSpeechInput.ts
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/conversation.json
  src/renderer/services/i18n/locales/ja-JP/conversation.json
  src/renderer/services/i18n/locales/ko-KR/conversation.json
  src/renderer/services/i18n/locales/ru-RU/conversation.json
  src/renderer/services/i18n/locales/tr-TR/conversation.json
  src/renderer/services/i18n/locales/zh-CN/conversation.json
  src/renderer/services/i18n/locales/zh-TW/conversation.json
  tests/unit/renderer/SpeechInputButton.dom.test.tsx
  tests/unit/renderer/useSpeechInput.test.ts
Due: typecheck, eslint, prettier

fix(team-ui): improve dark contrast in team modal
  src/renderer/components/layout/Sider/index.tsx
  src/renderer/pages/team/components/TeamCreateModal.tsx
  tests/unit/renderer/components/layout/Sider.team-hidden.dom.test.tsx
  tests/unit/renderer/team/TeamCreateModal.dom.test.tsx
Due: typecheck, eslint, prettier

fix(team): recover legacy team agents from history
  src/process/team/TeamSessionService.ts
  tests/unit/process/teamSessionService.test.ts
Due: typecheck, eslint, prettier

chore: bump version to 1.9.13
  package.json
Due: prettier

chore(deps): bump @office-ai/aioncli-core to ^0.30.3 (#2341)
  bun.lock
  package.json
Due: prettier

fix(layout): make header span chat+preview when preview is open on desktop (#2305)
  src/renderer/pages/conversation/components/ChatLayout/index.tsx
Due: typecheck, eslint, prettier

fix(acp): harden Windows npx command resolution (#2308)
  src/process/agent/acp/acpConnectors.ts
  src/process/utils/shellEnv.ts
  tests/unit/acpConnectors.test.ts
  tests/unit/shellEnv.test.ts
Due: typecheck, eslint, prettier

feat(renderer): add /copy slash command for last assistant reply (#2312)
  src/renderer/components/chat/sendbox.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/messages.json
  src/renderer/services/i18n/locales/ja-JP/messages.json
  src/renderer/services/i18n/locales/ko-KR/messages.json
  src/renderer/services/i18n/locales/ru-RU/messages.json
  src/renderer/services/i18n/locales/tr-TR/messages.json
  src/renderer/services/i18n/locales/zh-CN/messages.json
  src/renderer/services/i18n/locales/zh-TW/messages.json
  src/renderer/utils/chat/getLastAssistantText.ts
  tests/unit/chat/getLastAssistantText.test.ts
  tests/unit/sendboxQueue.dom.test.tsx
Due: typecheck, eslint, prettier

fix(gemini): send initial message after auth loads on first launch (#2342)
  src/renderer/pages/conversation/platforms/gemini/useGeminiInitialMessage.ts
  tests/unit/renderer/useGeminiInitialMessage.dom.test.tsx
Due: typecheck, eslint, prettier

fix(team): prevent queued sends from rolling back after acceptance (#2289)
  src/process/team/TeamSession.ts
  src/renderer/pages/conversation/platforms/acp/AcpSendBox.tsx
  tests/unit/channels/weixinSystemActions.test.ts
  tests/unit/conversationBridge.tray.test.ts
  tests/unit/renderer/platformSendBoxes.dom.test.tsx
  tests/unit/team-TeamSession.test.ts
Due: typecheck, eslint, prettier

refactor(acp): centralize resume routing in connection layer
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/index.ts
  tests/unit/acpSessionCapabilities.test.ts
Due: typecheck, eslint, prettier

test: fix failing ACP session resume tests
  src/process/agent/acp/index.ts
  tests/unit/acpMcpInjection.test.ts
  tests/unit/acpSessionOwnership.test.ts
Due: typecheck, eslint, prettier

refactor(team): remove XML fallback chain and narrow teamEventBus to terminal events (#2331)
  src/process/bridge/fileWatchBridge.ts
  src/process/task/AcpAgentManager.ts
  src/process/task/GeminiAgentManager.ts
  src/process/task/NanoBotAgentManager.ts
  src/process/task/OpenClawAgentManager.ts
  src/process/task/RemoteAgentManager.ts
  src/process/team/TeamSession.ts
  src/process/team/TeammateManager.ts
  src/process/team/adapters/PlatformAdapter.ts
  src/process/team/adapters/buildRolePrompt.ts
  src/process/team/adapters/xmlFallbackAdapter.ts
  src/process/team/index.ts
  src/process/team/types.ts
  tests/e2e/specs/team-whitelist.e2e.ts
  tests/integration/team-real-components.test.ts
  tests/integration/team-stress-xml.test.ts
  tests/unit/team-TeammateManager.test.ts
  tests/unit/team-agentSelectUtils.test.ts
  tests/unit/team-xmlFallbackAdapter.test.ts
Due: typecheck, eslint, prettier

fix(channels): add missing WeCom logo
  src/renderer/assets/channel-logos/wecom.svg
  src/renderer/components/settings/SettingsModal/contents/WebuiModalContent.tsx
  src/renderer/components/settings/SettingsModal/contents/channels/ChannelHeader.tsx
Due: typecheck, eslint, prettier

feat(team): add manual close button for team members (#2346)
  src/process/team/TeamSession.ts
  src/process/team/TeamSessionService.ts
  src/process/team/TeammateManager.ts
  src/renderer/pages/team/TeamPage.tsx
  src/renderer/pages/team/components/TeamTabs.tsx
  src/renderer/pages/team/hooks/TeamTabsContext.tsx
  src/renderer/services/i18n/i18n-keys.d.ts
  src/renderer/services/i18n/locales/en-US/team.json
  src/renderer/services/i18n/locales/ja-JP/team.json
  src/renderer/services/i18n/locales/ko-KR/team.json
  src/renderer/services/i18n/locales/ru-RU/team.json
  src/renderer/services/i18n/locales/tr-TR/team.json
  src/renderer/services/i18n/locales/zh-CN/team.json
  src/renderer/services/i18n/locales/zh-TW/team.json
  tests/unit/renderer/team-renderer.dom.test.tsx
  tests/unit/team-TeamSession.test.ts
  tests/unit/team-TeammateManager.test.ts
Due: typecheck, eslint, prettier

feat(pr-verify): add pr-verify skill for PR verification and merge (#2353)
  .claude/skills/pr-verify/SKILL.md
  AGENTS.md
Due: prettier

fix(acp): read initializeResponse directly in capability helpers
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/mcpSessionConfig.ts
  tests/unit/acpSessionCapabilities.test.ts
Due: typecheck, eslint, prettier

fix(acp): cast through unknown for AcpResponse to Record conversion
  src/process/agent/acp/AcpConnection.ts
Due: typecheck, eslint, prettier

test(acp): update acpBuiltinMcp mock to use unwrapped initializeResponse format
  tests/unit/acpBuiltinMcp.test.ts
Due: typecheck, eslint, prettier

fix(process): clean up leaked processes on app quit (#2345)
  src/index.ts
  src/process/task/WorkerTaskManager.ts
  tests/unit/WorkerTaskManager.test.ts
Due: typecheck, eslint, prettier

style: fix trailing whitespace in comparison doc
  docs/pr/morph-ppt-3d-v3-comparison.md
Due: prettier

docs(assistant): add PowerPoint requirement note to 3D Morph PPT description
  src/common/config/presets/assistantPresets.ts
Due: typecheck, eslint, prettier

feat(assistant): add 3D Morph PPT assistant with cinematographic camera and enriched design system
  docs/pr/morph-ppt-3d-v3-comparison.md
  docs/pr/morph-ppt-3d-v3-flow.md
  src/common/config/presets/assistantPresets.ts
  src/process/resources/assistant/morph-ppt-3d/morph-ppt-3d.md
  src/process/resources/assistant/morph-ppt-3d/morph-ppt-3d.zh-CN.md
  src/process/resources/skills/morph-ppt-3d/SKILL.md
  src/process/resources/skills/morph-ppt-3d/models/shiba.glb
Due: typecheck, eslint, prettier

fix(assistant): add text overlap prevention, model bleed guidelines, and strict 4-file deliverable rule
  src/process/resources/skills/morph-ppt-3d/SKILL.md
Due: prettier

fix(assistant): cross-platform model path and clarify 4-file deliverables
  src/process/resources/skills/morph-ppt-3d/SKILL.md
Due: prettier

style: fix markdown formatting in SKILL.md
  src/process/resources/skills/morph-ppt-3d/SKILL.md
Due: prettier

fix(renderer): handle missing model provider when creating conversations (#2050)
  src/renderer/pages/conversation/utils/createConversationParams.ts
  tests/unit/createConversationParams.test.ts
Due: typecheck, eslint, prettier

chore(readme): update WeChat group QR code to wx-0413
  docs/readme/readme_ch.md
  docs/readme/readme_es.md
  docs/readme/readme_jp.md
  docs/readme/readme_ko.md
  docs/readme/readme_pt.md
  docs/readme/readme_tr.md
  docs/readme/readme_tw.md
  readme.md
  resources/wx-0413.png
Due: prettier

chore(readme): remove deprecated wx-6.png
  resources/wx-6.png
Due: none

chore(acp): remove ACP_PERF_LOG gate and add benchmark tooling (#2300)
  scripts/benchmark-acp-startup.ts
  src/process/agent/acp/AcpConnection.ts
  src/process/agent/acp/acpConnectors.ts
  src/process/agent/acp/index.ts
  src/process/task/AcpAgentManager.ts
  tests/e2e/helpers/conversation.ts
  tests/e2e/helpers/index.ts
  tests/e2e/helpers/selectors.ts
  tests/e2e/specs/acp-conversation.e2e.ts
  tests/unit/acpConnectionStartupExit.test.ts
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
